Repository rubyforgood/casa, pull requests merged in 2020-12, with the labels that each got.

#1412 Paginate volunteers index
  app/controllers/volunteers_controller.rb
  app/datatables/application_datatable.rb
  app/datatables/volunteer_datatable.rb
  app/decorators/user_decorator.rb
  app/javascript/src/dashboard.js
  app/models/volunteer.rb
  app/views/volunteers/index.html.erb
  config/routes.rb
  spec/datatables/volunteer_datatable_spec.rb
  spec/factories/volunteer.rb
  spec/rails_helper.rb
  spec/requests/volunteers_spec.rb
  spec/support/datatable_helper.rb
  spec/system/volunteers/index_spec.rb
  spec/views/volunteers/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1419 Fix court_report_submitted error in rake task
  app/models/volunteer.rb
  app/views/casa_cases/show.html.erb
  lib/tasks/court_report_due_reminder.rake
  spec/models/volunteer_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1418 Added validations for court report submission date and status
  app/models/casa_case.rb
  app/validators/court_report_validator.rb
  spec/models/casa_case_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1421 Fix lint without breaking rspec
  app/policies/case_contact_policy.rb
  app/policies/user_policy.rb
Labels: ruby

#1426 fix empty report error
  app/models/case_contact_report.rb
  spec/models/case_contact_report_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1424 Issue 1417 - pagination cleanup
  Gemfile
  Gemfile.lock
  app/datatables/application_datatable.rb
  app/datatables/volunteer_datatable.rb
  app/decorators/user_decorator.rb
  app/javascript/src/dashboard.js
  app/models/volunteer.rb
  spec/datatables/volunteer_datatable_spec.rb
  spec/models/casa_case_spec.rb
  spec/rails_helper.rb
  spec/system/volunteers/index_spec.rb
Labels: Tests! 🎉💖👏, dependencies, javascript, ruby

#1422 Add casa case emancipation checklist
  .gitignore
  app/controllers/emancipation_checklists_controller.rb
  app/controllers/emancipations_controller.rb
  app/decorators/emancipation_decorator.rb
  app/helpers/emancipations_helper.rb
  app/javascript/packs/application.js
  app/javascript/src/case_emancipation.js
  app/javascript/src/emancipations.js
  app/javascript/src/stylesheets/application.scss
  app/javascript/src/stylesheets/pages/emancipation.scss
  app/models/casa_case.rb
  app/models/casa_cases_emancipation_option.rb
  app/models/emancipation_category.rb
  app/models/emancipation_option.rb
  app/policies/casa_case_policy.rb
  app/views/casa_cases/show.html.erb
  app/views/emancipation_checklists/index.html.erb
  app/views/emancipation_checklists/show.html.erb
  app/views/emancipations/show.html.erb
  app/views/layouts/_sidebar.html.erb
  config/routes.rb
  db/migrate/20201020220412_create_emancipation_categories.rb
  db/migrate/20201021024459_create_emancipation_options.rb
  db/migrate/20201021034012_create_join_table_casa_cases_emancipaton_options.rb
  db/migrate/20201022034445_add_foreign_key_constraints_to_case_emancipation_join_table.rb
  db/schema.rb
  db/seeds.rb
  db/seeds/emancipation_data.rb
  spec/decorators/emancipation_decorator_spec.rb
  spec/factories/casa_cases_emancipation_options.rb
  spec/factories/emancipation_categories.rb
  spec/factories/emancipation_options.rb
  spec/helpers/emancipations_helper_spec.rb
  spec/models/casa_case_spec.rb
  spec/models/casa_cases_emancipation_option_spec.rb
  spec/models/emancipation_category_spec.rb
  spec/models/emancipation_option_spec.rb
  spec/policies/casa_case_policy/casa_case_policy_spec.rb
  spec/requests/emancipation_checklists_request_spec.rb
  spec/requests/emancipations_request_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1425 Safe multi-tenancy in case contacts report
  app/controllers/case_contact_reports_controller.rb
  app/models/case_contact.rb
  app/models/case_contact_report.rb
  spec/models/case_contact_report_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1411 Add paper_trail version tracking to more models, comments cleanup
  app/controllers/all_casa_admins/sessions_controller.rb
  app/controllers/concerns/.keep
  app/controllers/concerns/accessible.rb
  app/controllers/users/sessions_controller.rb
  app/decorators/case_contact_decorator.rb
  app/decorators/emancipation_decorator.rb
  app/helpers/date_format.rb
  app/models/all_casa_admin.rb
  app/models/casa_case.rb
  app/models/casa_case_contact_type.rb
  app/models/casa_cases_emancipation_option.rb
  app/models/casa_org.rb
  app/models/case_contact.rb
  app/models/case_contact_contact_type.rb
  app/models/concerns/.keep
  app/models/contact_type.rb
  app/models/contact_type_group.rb
  app/models/supervisor_volunteer.rb
  spec/decorators/emancipation_decorator_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1429 Add after party task to populate emancipation data
  app/models/emancipation_option.rb
  db/seeds/emancipation_data.rb
  lib/tasks/deployment/20201210004047_populate_emancipation_data.rake
  spec/models/emancipation_option_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1384 Add per-casa-org scope and use it in pundit policies
  app/models/casa_case.rb
  app/models/case_contact.rb
  app/models/concerns/by_organization_scope.rb
  app/models/user.rb
  app/policies/casa_case_policy.rb
  app/policies/user_policy.rb
  spec/policies/user_policy/scope_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1444 Removes validate_inclusion_of test
  spec/models/emancipation_category_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1446 Remove deprecation warnings
  app/helpers/sidebar_helper.rb
  spec/requests/imports_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1454 Removes puts in view spec
  spec/views/casa_cases/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1453 Silences db/seeds output when running specs
  db/seeds.rb
Labels: ruby

#1455 Upgrade to Ruby 2.7.2
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
Labels: dependencies

#1457 Use already created Org for factories
  spec/factories/case_assignment.rb
  spec/factories/hearing_type.rb
  spec/factories/judges.rb
  spec/factories/supervisor_volunteer.rb
  spec/factories/user.rb
  spec/factories/volunteer.rb
  spec/models/volunteer_spec.rb
  spec/support/factory_bot.rb
Labels: Tests! 🎉💖👏, ruby

#1458 Adds tests for remaining specs that were pending
  spec/requests/casa_cases_spec.rb
  spec/requests/dashboard_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1459 Don't revert logo if non logo details are updated
  app/controllers/casa_orgs_controller.rb
  spec/requests/casa_orgs_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1463 Align table columns with headers. fixes #1336
  app/javascript/src/case_emancipation.js
  app/javascript/src/dashboard.js
  app/javascript/src/emancipations.js
  app/javascript/src/stylesheets/pages/case_contacts.scss
  app/views/casa_cases/show.html.erb
Labels: javascript

#1464 Set rack_test as default driver for system tests
  spec/spec_helper.rb
  spec/support/capybara.rb
  spec/system/casa_admins/edit_spec.rb
  spec/system/casa_cases/edit_spec.rb
  spec/system/casa_orgs/edit_spec.rb
  spec/system/case_contacts/edit_spec.rb
  spec/system/case_contacts/new_spec.rb
  spec/system/case_court_reports/index_spec.rb
  spec/system/dashboard/show_spec.rb
  spec/system/reports/index_spec.rb
  spec/system/volunteers/edit_spec.rb
  spec/system/volunteers/index_spec.rb
  spec/views/casa_cases/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1466 Fixes contacts made in past 60 days sort
  app/datatables/application_datatable.rb
  spec/datatables/volunteer_datatable_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1467 User.rb's case_contacts_for excludes inactive cases and unassigned cases
  app/models/user.rb
  spec/models/user_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1472 court report email reminders no longer sent for inactive assignments
  app/models/volunteer.rb
  spec/models/volunteer_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1471 1064 non transition case court report
  app/controllers/case_court_reports_controller.rb
  app/documents/templates/report_template_non_transition.docx
  app/views/case_court_reports/index.html.erb
  spec/models/case_court_report_spec.rb
  spec/system/case_court_reports/index_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1475 Fix Docker specs
  app/views/layouts/_sidebar.html.erb
  spec/config/initializers/rack_attack_spec.rb
  spec/datatables/volunteer_datatable_spec.rb
  spec/system/volunteers/index_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1480 Adds test as volunteer for casa case show page
  spec/system/casa_cases/show_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1476 Fixes Case Contact Report including wrong Org data
  app/controllers/case_contact_reports_controller.rb
  spec/requests/case_contact_reports_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1479 Adds 'Select One' as default
  app/views/emancipations/show.html.erb
  db/seeds/emancipation_data.rb
  lib/tasks/deployment/20201215183231_emancipation_category_options.rake
  spec/system/casa_cases/emancipation/show_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1468 Add helper method to show only volunteers not already assigned to the…
  app/models/casa_case.rb
  app/views/casa_cases/_volunteer_assignment.html.erb
  spec/system/casa_cases/edit_spec.rb
  spec/views/casa_cases/edit.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1478 Un/assign volunteer to a supervisor on Volunteer page
  app/controllers/supervisor_volunteers_controller.rb
  app/controllers/volunteers_controller.rb
  app/views/volunteers/edit.html.erb
  spec/requests/supervisor_volunteers_spec.rb
  spec/requests/volunteers_spec.rb
  spec/system/volunteers/edit_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1482 Displays the last contact made by default on volunteers index view
  app/javascript/src/dashboard.js
  spec/system/volunteers/index_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1483 [fix] supervisor unable to re-assign case to volunteer
  app/controllers/case_assignments_controller.rb
  app/models/casa_case.rb
  app/views/volunteers/edit.html.erb
  spec/models/casa_case_spec.rb
  spec/system/volunteers/edit_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1484 696 volunteer table header
  app/controllers/casa_cases_controller.rb
  app/controllers/case_contacts_controller.rb
  app/javascript/packs/case_contacts/table.js
  app/javascript/src/stylesheets/pages/case_contacts.scss
  app/models/casa_case.rb
  app/views/case_contacts/_table_article.html.erb
  app/views/case_contacts/_table_header.html.erb
  app/views/case_contacts/table.html.erb
  spec/models/casa_case_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1485 Moves case contacts layout from table based view to card based view
  app/decorators/case_contact_decorator.rb
  app/models/case_contact.rb
  app/views/case_contacts/_case_contact.html.erb
  app/views/case_contacts/index.html.erb
  spec/decorators/case_contact_decorator_spec.rb
  spec/models/case_contact_spec.rb
  spec/system/case_contacts/index_spec.rb
  spec/views/case_contacts/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1488 cases_where_contact_made only accounts for assigned and active cases
  app/models/volunteer.rb
Labels: Tests! 🎉💖👏, ruby

#1490 made_contact_with_all_cases_in_days? no longer considers inactive and unassigned cases
  app/models/volunteer.rb
  spec/models/volunteer_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1493 Fix around action for rack attack specs
  spec/config/initializers/rack_attack_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1489 Punditize all things
  app/controllers/all_casa_admins_controller.rb
  app/controllers/application_controller.rb
  app/controllers/casa_admins_controller.rb
  app/controllers/casa_cases_controller.rb
  app/controllers/casa_orgs_controller.rb
  app/controllers/case_assignments_controller.rb
  app/controllers/case_contact_reports_controller.rb
  app/controllers/case_contacts_controller.rb
  app/controllers/case_court_reports_controller.rb
  app/controllers/contact_type_groups_controller.rb
  app/controllers/contact_types_controller.rb
  app/controllers/dashboard_controller.rb
  app/controllers/emancipation_checklists_controller.rb
  app/controllers/emancipations_controller.rb
  app/controllers/hearing_types_controller.rb
  app/controllers/imports_controller.rb
  app/controllers/judges_controller.rb
  app/controllers/reports_controller.rb
  app/controllers/supervisor_volunteers_controller.rb
  app/controllers/supervisors_controller.rb
  app/controllers/users_controller.rb
  app/controllers/volunteers_controller.rb
  app/models/user.rb
  app/policies/application_policy.rb
  app/policies/casa_admin_policy.rb
  app/policies/casa_case_policy.rb
  app/policies/casa_org_policy.rb
  app/policies/case_assignment_policy.rb
  app/policies/case_contact_policy.rb
  app/policies/case_court_report_policy.rb
  app/policies/contact_type_group_policy.rb
  app/policies/contact_type_policy.rb
  app/policies/dashboard_policy.rb
  app/policies/hearing_type_policy.rb
  app/policies/import_policy.rb
  app/policies/judge_policy.rb
  app/policies/supervisor_policy.rb
  app/policies/supervisor_volunteer_policy.rb
  app/policies/user_policy.rb
  app/policies/volunteer_policy.rb
  spec/policies/application_policy_spec.rb
  spec/policies/casa_admin_policy_spec.rb
  spec/policies/casa_case_policy_spec.rb
  spec/policies/casa_org_policy_spec.rb
  spec/policies/case_assignment_policy_spec.rb
  spec/policies/case_contact_policy_spec.rb
  spec/policies/case_court_report_policy_spec.rb
  spec/policies/contact_type_group_policy_spec.rb
  spec/policies/contact_type_policy_spec.rb
  spec/policies/hearing_type_policy_spec.rb
  spec/policies/import_policy_spec.rb
  spec/policies/judge_policy_spec.rb
  spec/policies/supervisor_policy_spec.rb
  spec/policies/supervisor_volunteer_policy_spec.rb
  spec/policies/user_policy_spec.rb
  spec/policies/volunteer_policy_spec.rb
  spec/requests/casa_admins_spec.rb
  spec/requests/casa_cases_spec.rb
Labels: :no_good_man: User Permissions, Tests! 🎉💖👏, ruby

#1499 1498 case contact view tuning
  app/decorators/casa_case_decorator.rb
  app/decorators/case_contact_decorator.rb
  app/views/casa_cases/show.html.erb
  spec/decorators/case_contact_decorator_spec.rb
  spec/system/volunteers/index_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1503 Change metadata that appears under header on case_contact cards
  app/decorators/case_contact_decorator.rb
  app/views/case_contacts/_case_contact.html.erb
  spec/decorators/case_contact_decorator_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1509 Fix user inactive case lists
  app/models/user.rb
  spec/models/user_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1510 Sort Contact Type Groups in Edit page select field
  app/models/contact_type_group.rb
Labels: ruby

#1511 I18n date formats
  app/datatables/volunteer_datatable.rb
  app/decorators/casa_case_decorator.rb
  app/decorators/case_contact_decorator.rb
  app/decorators/user_decorator.rb
  app/helpers/date_format.rb
  app/models/case_contact_report.rb
  app/models/case_court_report.rb
  app/views/all_casa_admins/casa_admins/edit.html.erb
  app/views/all_casa_admins/casa_orgs/show.html.erb
  app/views/all_casa_admins/dashboard/show.html.erb
  app/views/casa_admins/_form.html.erb
  app/views/casa_cases/_inactive_case.html.erb
  app/views/casa_cases/_volunteer_assignment.html.erb
  app/views/casa_cases/edit.html.erb
  app/views/casa_cases/index.html.erb
  app/views/supervisor_mailer/weekly_digest.html.erb
  app/views/volunteers/edit.html.erb
  config/locales/en.yml
  spec/decorators/casa_case_decorator_spec.rb
  spec/system/casa_cases/edit_spec.rb
  spec/system/volunteers/edit_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1514 volunteers_serving_transition_aged_youth ignores inactive and unassigned cases
  app/models/user.rb
  spec/models/user_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1524 Fixes issue where case contacts have no contact types.
  db/seeds/db_populator.rb
  lib/tasks/data_post_processors/case_contact_populator.rb
Labels: ruby

#1528 Active storage configuration
  config/environments/production.rb
  config/storage.yml
Labels: ruby
