Repository rubyforgood/casa, pull requests merged in 2020-09, with the labels that each got.

#746 Clean up yarn lint errors on selectjs
  app/javascript/packs/application.js
  app/javascript/src/select.js
Labels: :broom: Linting, javascript

#726 691 no empty display name or email
  app/models/user.rb
  db/seeds/development.rb
  lib/tasks/deployment/20200913155303_populate_missing_display_names.rake
  spec/decorators/user_decorator_spec.rb
  spec/factories/casa_admin.rb
  spec/factories/user.rb
  spec/models/user_spec.rb
  spec/requests/volunteers_spec.rb
  spec/system/admin_assign_a_volunteer_to_case_spec.rb
  spec/system/admin_edit_volunteer_spec.rb
  spec/system/admin_views_dashboard_spec.rb
Labels: :see_no_evil: Status: WIP

#814 [780] Allow admin to edit admin users
  app/controllers/casa_admins_controller.rb
  app/values/casa_admin_parameters.rb
  app/values/user_parameters.rb
  app/views/casa_admins/_form.html.erb
  app/views/casa_admins/edit.html.erb
  app/views/casa_admins/new.html.erb
  app/views/dashboard/_admins_table.html.erb
  app/views/users/edit.html.erb
  config/routes.rb
  spec/rails_helper.rb
  spec/requests/casa_admins_spec.rb
  spec/support/pundit_helper.rb
  spec/system/admin_edits_another_admin_spec.rb
  spec/system/creating_casa_admins_spec.rb
  spec/views/dashboard/admins_table.html.erb_spec.rb
  spec/views/dashboard/show.html.erb_spec.rb
Labels: :crown: Admin

#827 760/Admin can enter Casa Case's birth month and year
  app/controllers/casa_cases_controller.rb
  app/javascript/src/stylesheets/pages/casa_cases.scss
  app/models/casa_case.rb
  app/policies/casa_case_policy.rb
  app/views/casa_cases/edit.html.erb
  app/views/casa_cases/new.html.erb
  db/migrate/20200922144730_add_birth_month_year_youth_to_casa_cases.rb
  db/schema.rb
  spec/factories/casa_case.rb
  spec/support/session_helper.rb
  spec/views/casa_cases/edit.html.erb_spec.rb
  spec/views/casa_cases/new.html.erb_spec.rb
Labels: :crown: Admin, 🧐 Status: Ready for Review

#811 Add back original logo and refactor helper method
  app/controllers/all_casa_admins/dashboard_controller.rb
  app/controllers/application_controller.rb
  app/controllers/casa_orgs_controller.rb
  app/controllers/dashboard_controller.rb
  app/helpers/all_casa_admins/casa_orgs_helper.rb
  app/helpers/application_helper.rb
  app/javascript/src/images/default-logo.png
  app/javascript/src/stylesheets/shared/footer.scss
  app/views/all_casa_admins/casa_admins/new.html.erb
  app/views/all_casa_admins/casa_orgs/new.html.erb
  app/views/all_casa_admins/casa_orgs/show.html.erb
  app/views/all_casa_admins/dashboard/show.html.erb
  app/views/casa_orgs/edit.html.erb
  app/views/layouts/_footer.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/footers/_logged_in.html.erb
  app/views/layouts/footers/_not_logged_in.html.erb
  app/views/layouts/headers/_current_all_casa_admin.html.erb
  app/views/layouts/headers/_current_user.html.erb
  app/views/layouts/headers/_not_logged_in.html.erb
  spec/factories/casa_org.rb
  spec/helpers/application_helper_spec.rb
  spec/rails_helper.rb
  spec/system/admin_views_dashboard_spec.rb
  spec/system/all_casa_admins/all_casa_admins_casa_orgs_spec.rb
Labels: 🧐 Status: Ready for Review

#854 File Importer Error UI
  app/controllers/imports_controller.rb
  app/lib/importers/case_importer.rb
  app/lib/importers/file_importer.rb
  app/lib/importers/supervisor_importer.rb
  app/lib/importers/user_importer.rb
  app/lib/importers/volunteer_importer.rb
  app/views/imports/_cases.html.erb
  app/views/imports/_csv_error_modal.html.erb
  app/views/imports/_supervisors.html.erb
  app/views/imports/_volunteers.html.erb
  app/views/imports/index.html.erb
  config/routes.rb
  spec/fixtures/no_rows.csv
  spec/lib/importers/case_importer_spec.rb
  spec/lib/importers/file_importer_spec.rb
  spec/lib/importers/supervisor_importer_spec.rb
  spec/lib/importers/user_importer_spec.rb
  spec/lib/importers/volunteer_importer_spec.rb
  spec/requests/imports_request_spec.rb
Labels: :arrow_up: Imports, 🧐 Status: Ready for Review

#851 781 admin deactivate / activate account
  app/controllers/casa_admins_controller.rb
  app/controllers/users_controller.rb
  app/mailers/casa_admin_mailer.rb
  app/models/casa_admin.rb
  app/views/casa_admin_mailer/account_setup.html.erb
  app/views/casa_admin_mailer/deactivation.html.erb
  app/views/casa_admins/_form.html.erb
  app/views/users/edit.html.erb
  config/routes.rb
  spec/models/casa_admin_spec.rb
  spec/requests/casa_admins_spec.rb
Labels: :crown: Admin, 🧐 Status: Ready for Review

#863 Apply card view to pages
  app/views/all_casa_admins/casa_admins/new.html.erb
  app/views/all_casa_admins/casa_orgs/new.html.erb
  app/views/all_casa_admins/casa_orgs/show.html.erb
  app/views/all_casa_admins/dashboard/show.html.erb
  app/views/all_casa_admins/edit.html.erb
  app/views/casa_admins/_form.html.erb
  app/views/casa_admins/index.html.erb
  app/views/casa_cases/_volunteer_assignment.html.erb
  app/views/casa_cases/edit.html.erb
  app/views/casa_cases/index.html.erb
  app/views/casa_cases/new.html.erb
  app/views/casa_cases/show.html.erb
  app/views/casa_orgs/_contact_type_groups.html.erb
  app/views/casa_orgs/_contact_types.html.erb
  app/views/casa_orgs/edit.html.erb
  app/views/case_assignments/index.html.erb
  app/views/case_contacts/edit.html.erb
  app/views/case_contacts/index.html.erb
  app/views/case_contacts/new.html.erb
  app/views/contact_type_groups/_form.html.erb
  app/views/contact_types/_form.html.erb
  app/views/reports/index.html.erb
  app/views/supervisors/edit.html.erb
  app/views/supervisors/index.html.erb
  app/views/supervisors/new.html.erb
  app/views/users/edit.html.erb
  app/views/volunteers/edit.html.erb
  app/views/volunteers/index.html.erb
  app/views/volunteers/new.html.erb
  spec/system/all_casa_admins/all_casa_admins_casa_orgs_spec.rb
Labels: :paintbrush: Design, 🧐 Status: Ready for Review

#860 815 display contact types in groups
  app/controllers/case_contacts_controller.rb
  app/views/case_contacts/_form.html.erb
  spec/views/case_contacts/edit.html.erb_spec.rb
  spec/views/case_contacts/new.html.erb_spec.rb
Labels: :zap: Power :zap:, 🧐 Status: Ready for Review
