Repository rubyforgood/casa, pull requests merged in 2020-11, with the labels that each got.

#1230 Court report reminder email
  app/mailers/volunteer_mailer.rb
  app/views/volunteer_mailer/court_report_reminder.html.erb
  lib/mailers/previews/volunteer_mailer_preview.rb
  lib/tasks/court_report_due_reminder.rake
Labels: Tests! 🎉💖👏, ruby

#1235 Add check before due dates are cleared
  app/models/casa_case.rb
Labels: ruby

#1199 Add notes to casa_contact show table
  app/decorators/case_contact_decorator.rb
  app/views/casa_cases/show.html.erb
  app/views/case_contacts/_case_contact.html.erb
  app/views/case_contacts/index.html.erb
  spec/system/admin_adds_a_case_contact_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1231 Add filters on cases view
  app/decorators/casa_case_decorator.rb
  app/javascript/src/dashboard.js
  app/models/casa_case.rb
  app/views/casa_cases/index.html.erb
  spec/system/volunteer_views_dashboard_spec.rb
  spec/views/casa_cases/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1240 update casa case detail and cases table to hide unassigned volunteers
  app/helpers/casa_case_helper.rb
  app/views/casa_cases/index.html.erb
  app/views/casa_cases/show.html.erb
  spec/helpers/casa_case_helper_spec.rb
Labels: Tests! 🎉💖👏, Type: Bug, ruby, 🧐 Status: Ready for Review

#1243 Add a check that court report exists before updating it
  app/models/casa_case.rb
Labels: ruby

#1244 run erb and js linters
  app/javascript/__tests__/dashboard.test.js
  app/views/all_casa_admins/casa_admins/edit.html.erb
  app/views/casa_cases/_inactive_case.html.erb
  app/views/casa_cases/edit.html.erb
  app/views/casa_cases/index.html.erb
  app/views/casa_cases/show.html.erb
  app/views/layouts/_sidebar.html.erb
  app/views/volunteer_mailer/court_report_reminder.html.erb
Labels: Tests! 🎉💖👏, javascript

#1276 Do not allow volunteers to set hearing type or judge on casa case form
  app/policies/casa_case_policy.rb
  app/views/casa_cases/_form.html.erb
  spec/factories/hearing_type.rb
  spec/requests/casa_cases_spec.rb
  spec/system/admin_edits_a_case_spec.rb
  spec/system/volunteer_edits_case_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1249 Rename a few request specs for consistency
  spec/requests/casa_orgs_spec.rb
  spec/requests/contact_types_spec.rb
  spec/requests/imports_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1228 Authorizes deactive and reactivate controller's method
  app/controllers/casa_cases_controller.rb
  spec/factories/casa_case.rb
  spec/requests/casa_cases_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1279 Don't show Emancipation Checklist to non-volunteers
  app/controllers/emancipation_checklists_controller.rb
  app/policies/application_policy.rb
  app/views/layouts/_sidebar.html.erb
  spec/policies/application_policy_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1280 Return to Volunteers page after creating volunteer
  app/controllers/volunteers_controller.rb
  spec/requests/volunteers_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1284 806 use Court Report Status instead of Court Report Submitted
  app/decorators/casa_case_decorator.rb
  app/models/casa_case.rb
  app/policies/casa_case_policy.rb
  app/views/casa_cases/_form.html.erb
  app/views/casa_cases/show.html.erb
  db/migrate/20201108142333_add_court_report_status_to_casa_cases.rb
  db/schema.rb
  lib/tasks/deployment/20201108181154_backfill_court_report_submitted_at.rake
  spec/decorators/casa_case_decorator_spec.rb
  spec/decorators/case_decorator_spec.rb
  spec/factories/casa_case.rb
  spec/models/casa_case_spec.rb
  spec/requests/casa_cases_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1285 Update specs to reflect new court report status select
  app/decorators/casa_case_decorator.rb
  app/models/casa_case.rb
  lib/tasks/deployment/20201108181154_backfill_court_report_submitted_at.rake
  spec/decorators/casa_case_decorator_spec.rb
  spec/models/casa_case_spec.rb
  spec/requests/casa_cases_spec.rb
  spec/system/admin_adds_new_case_spec.rb
  spec/system/admin_edits_a_case_spec.rb
  spec/system/supervisor_edits_case_spec.rb
  spec/system/volunteer_edits_case_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1300 WIP: render volunteer names in plain text if current user is volunteer
  app/views/casa_cases/show.html.erb
Labels: :play_or_pause_button: Frontend, Priority: Medium, 🧐 Status: Ready for Review

#1302 add specs for casa_cases show view
  spec/views/casa_cases/show.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1281 Only display judge names if Casa org has judges
  app/views/casa_cases/_form.html.erb
  spec/system/supervisor_edits_case_spec.rb
Labels: ruby

#1305 Quit ignoring config files for lint. Quit running github actions befo…
  .github/workflows/lint.yml
  .github/workflows/rspec.yml
  .github/workflows/security.yml
  .standard.yml
  config/environments/production.rb
Labels: ruby

#1306 Erb lint
  .github/workflows/erb_lint.yml
  .github/workflows/ruby_lint.yml
  README.md
  app/controllers/case_court_reports_controller.rb
  app/decorators/casa_case_decorator.rb
  app/views/casa_cases/_form.html.erb
  app/views/casa_cases/_inactive_case.html.erb
  app/views/casa_cases/index.html.erb
  app/views/case_contacts/_form.html.erb
  app/views/case_court_reports/index.html.erb
  app/views/layouts/_sidebar.html.erb
Labels: Tests! 🎉💖👏, ruby

#1311 Cleanup erbz
  app/decorators/casa_case_decorator.rb
  app/views/casa_cases/index.html.erb
Labels: Tests! 🎉💖👏, ruby

#1303 Updated SimpleCov configuration
  spec/spec_helper.rb
Labels: ruby

#1315 Make print statements conditional so that they will not show up in rspec
  lib/tasks/deployment/20200907142217_populate_prince_george_casa_org_details.rake
  lib/tasks/deployment/20200913155303_populate_missing_display_names.rake
  lib/tasks/deployment/20201005203140_populate_contact_type_groups_and_contact_types.rake
  lib/tasks/deployment/20201005203405_populate_case_contact_contact_type.rake
  lib/tasks/deployment/20201108181154_backfill_court_report_submitted_at.rake
Labels: ruby

#1326 Ensure that volunteers can't be assigned casa cases from a different organization
  app/models/case_assignment.rb
  db/seeds/db_populator.rb
  spec/factories/casa_case.rb
  spec/helpers/casa_case_helper_spec.rb
  spec/lib/importers/case_importer_spec.rb
  spec/models/casa_case_spec.rb
  spec/models/case_assignment_spec.rb
  spec/models/user_spec.rb
  spec/models/volunteer_spec.rb
  spec/policies/dashboard_policy_spec.rb
  spec/requests/case_assignments_spec.rb
  spec/spec_helper.rb
  spec/system/admin_edit_volunteer_spec.rb
  spec/views/casa_cases/show.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1329 Correct operator.
  db/seeds/db_populator.rb
Labels: ruby

#1330 Add assigned_volunteers association to casa cases
  app/controllers/casa_cases_controller.rb
  app/helpers/casa_case_helper.rb
  app/models/casa_case.rb
  app/models/case_assignment.rb
  app/views/casa_cases/index.html.erb
  app/views/casa_cases/show.html.erb
  spec/helpers/casa_case_helper_spec.rb
  spec/models/casa_case_spec.rb
  spec/models/case_assignment_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1331 Ensure users can only view, modify, and assign cases within their organization
  app/controllers/casa_cases_controller.rb
  app/controllers/case_assignments_controller.rb
  app/controllers/supervisors_controller.rb
  app/models/supervisor_volunteer.rb
  app/models/user.rb
  app/models/volunteer.rb
  spec/factories/case_assignment.rb
  spec/factories/supervisor_volunteer.rb
  spec/factories/volunteer.rb
  spec/lib/importers/supervisor_importer_spec.rb
  spec/models/casa_case_spec.rb
  spec/models/case_contact_report_spec.rb
  spec/models/supervisor_volunteer_spec.rb
  spec/models/user_spec.rb
  spec/models/volunteer_spec.rb
  spec/requests/casa_cases_spec.rb
  spec/requests/case_assignments_spec.rb
  spec/requests/supervisor_volunteers_spec.rb
  spec/views/casa_cases/index.html.erb_spec.rb
  spec/views/supervisors/edit.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1337 Add realistic case contact notes data length to seed. Increase large …
  app/views/case_court_reports/index.html.erb
  db/seeds.rb
  db/seeds/casa_org_populator_presets.rb
  db/seeds/db_populator.rb
Labels: ruby

#1339 case_contact.notes viewing and seeding tuning
  app/decorators/case_contact_decorator.rb
  app/views/case_contacts/_case_contact.html.erb
  db/seeds.rb
  db/seeds/db_populator.rb
Labels: ruby

#1345 cache deps in CI
  .github/workflows/cypress.yml
  .github/workflows/erb_lint.yml
  .github/workflows/rspec.yml
  .github/workflows/ruby_lint.yml
  .github/workflows/security.yml
Labels: dependencies

#1346 Weekly supervisor digest mailer
  app/decorators/casa_case_decorator.rb
  app/mailers/supervisor_mailer.rb
  app/views/supervisor_mailer/weekly_digest.html.erb
  lib/mailers/previews/supervisor_mailer_preview.rb
  lib/tasks/send_supervisor_digest.rake
Labels: ruby

#1343 hide volunteer link in case contacts when current user is volunteer
  app/views/case_contacts/_case_contact.html.erb
  spec/system/admin_views_a_case_spec.rb
  spec/system/volunteer_views_case_contacts_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1360 remove location link
  app/helpers/application_helper.rb
  spec/helpers/application_helper_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1361 Refact: remove duplicate methods in polices scopes
  app/policies/application_policy.rb
  app/policies/casa_case_policy.rb
  app/policies/case_contact_policy.rb
  app/policies/dashboard_policy.rb
  app/policies/user_policy.rb
Labels: ruby

#1373 Added eager loading to CasaCasesController#index action
  app/controllers/casa_cases_controller.rb
Labels: ruby

#1375 Remove Devise remember_me attribute
  app/models/all_casa_admin.rb
  app/models/casa_admin.rb
  app/models/supervisor.rb
  app/models/user.rb
  app/models/volunteer.rb
  db/migrate/20201120103041_remove_remember_created_at_from_users.rb
  db/migrate/20201120103146_remove_remember_created_at_from_all_casa_admins.rb
  db/schema.rb
Labels: ruby

#1374 Set up Rack Attack to throttle abusive requests
  Gemfile
  Gemfile.lock
  config/environments/test.rb
  config/initializers/rack_attack.rb
  spec/config/initializers/rack_attack_spec.rb
Labels: Tests! 🎉💖👏, dependencies, ruby

#1376 Added eager loading to VolunteersController#index action
  app/controllers/volunteers_controller.rb
Labels: ruby

#1372 Renaming policy aliases
  app/policies/application_policy.rb
  app/policies/casa_case_policy.rb
  app/policies/case_contact_policy.rb
  app/policies/dashboard_policy.rb
Labels: ruby

#1377 Remove court report submitted
  app/models/casa_case.rb
  db/migrate/20201120215756_remove_court_report_submitted_from_casa_cases.rb
  db/schema.rb
  spec/models/casa_case_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1382 Fix spelling mistake of transition
  app/models/user.rb
  app/views/supervisors/index.html.erb
  spec/models/user_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1383 Change case_numbers to only be unique within a CASA org
  app/models/casa_case.rb
  db/migrate/20201123100716_remove_case_number_index_from_casa_cases.rb
  db/migrate/20201123112651_add_case_number_index_scoped_by_casa_org_to_casa_cases.rb
  db/schema.rb
  spec/models/casa_case_spec.rb
  spec/system/admin_adds_new_case_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1387 1258 - Hide casa case prefix filter to volunteer user
  app/views/casa_cases/index.html.erb
  spec/views/casa_cases/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1353 date of birth import script
  scripts/import_casa_case_date_of_birth.rb
Labels: Tests! 🎉💖👏, ruby

#1406 Fix time in rack attack specs to avoid flaky tests
  config/environments/test.rb
  config/initializers/rack_attack.rb
  spec/config/initializers/rack_attack_spec.rb
Labels: Tests! 🎉💖👏, ruby
