Repository rubyforgood/casa, pull requests merged in 2020-04, with the labels that each got.

#37 Policies minimally working
  app/controllers/dashboard_controller.rb
  app/policies/casa_case_policy.rb
  app/policies/dashboard_policy.rb
  app/policies/user_policy.rb
  app/views/dashboard/show.html.erb
  config/routes.rb
  spec/factories/user.rb
  spec/features/volunteer_adds_a_case_contact_spec.rb
  spec/policies/casa_case_policy_spec.rb
  spec/policies/dashboard_policy_spec.rb
  spec/policies/user_policy_spec.rb
  spec/requests/dashboard_spec.rb
  spec/spec_helper.rb
Labels: 🧐 Status: Ready for Review

#41 feat: admin cases dashboard
  app/assets/stylesheets/dashboard.scss
  app/models/casa_case.rb
  app/policies/casa_case_policy.rb
  app/views/dashboard/show.html.erb
  spec/features/admin_adds_new_case_spec.rb
  spec/models/casa_case_spec.rb
  spec/policies/casa_case_policy_spec.rb
Labels: 🧐 Status: Ready for Review

#60 Admin view volunteers #32
  app/assets/stylesheets/dashboard.scss
  app/controllers/volunteers_controller.rb
  app/views/dashboard/show.html.erb
  app/views/volunteers/_form.html.erb
  app/views/volunteers/edit.html.erb
  app/views/volunteers/new.html.erb
  config/routes.rb
  db/seeds.rb
  spec/features/admin_views_dashboard_spec.rb
  spec/features/volunteer_adds_a_case_contact_spec.rb
  spec/requests/volunteers_spec.rb
Labels: 🧐 Status: Ready for Review

#42 haxor
  Gemfile
  Gemfile.lock
  app/controllers/case_contacts_controller.rb
  app/views/case_contacts/_form.html.erb
  spec/features/volunteer_adds_a_case_contact_spec.rb
Labels: :see_no_evil: Status: WIP

#54 Add bootstrap and some styles
  Gemfile
  Gemfile.lock
  app/assets/config/manifest.js
  app/assets/stylesheets/application.css
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/dashboard.scss
  app/assets/stylesheets/navbar.scss
  app/assets/stylesheets/scaffolds.scss
  app/views/dashboard/show.html.erb
  app/views/layouts/application.html.erb
  doc/architecture-decisions/0003-use-bootstrap.md
Labels: :shipit: Status: Ready to Merge

#75 chore: add email to volunteer view
  app/views/dashboard/show.html.erb
Labels: 🧐 Status: Ready for Review

#76 chore: remove *.json.jbuilder files
  app/views/casa_cases/_casa_case.json.jbuilder
  app/views/casa_cases/index.json.jbuilder
  app/views/casa_cases/show.json.jbuilder
  app/views/casa_orgs/_casa_org.json.jbuilder
  app/views/casa_orgs/index.json.jbuilder
  app/views/casa_orgs/show.json.jbuilder
  app/views/case_assignments/_case_assignment.json.jbuilder
  app/views/case_assignments/index.json.jbuilder
  app/views/case_assignments/show.json.jbuilder
  app/views/case_contacts/_case_contact.json.jbuilder
  app/views/case_contacts/index.json.jbuilder
  app/views/case_contacts/show.json.jbuilder
  app/views/supervisor_volunteers/_supervisor_volunteer.json.jbuilder
  app/views/supervisor_volunteers/index.json.jbuilder
  app/views/supervisor_volunteers/show.json.jbuilder
Labels: 🧐 Status: Ready for Review

#77 show casa case admin view
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/casa_cases.scss
  app/models/casa_case.rb
  app/models/user.rb
  app/views/casa_cases/show.html.erb
  spec/models/user_spec.rb
  spec/spec_helper.rb
Labels: 🧐 Status: Ready for Review

#78 Allows admins to create users
  app/controllers/volunteers_controller.rb
  app/views/volunteers/_form.html.erb
  config/routes.rb
  spec/requests/volunteers_spec.rb
Labels: 🧐 Status: Ready for Review

#63 28 new case contact form
  .github/PULL_REQUEST_TEMPLATE.md
  Gemfile
  Gemfile.lock
  app/controllers/case_contacts_controller.rb
  app/views/case_contacts/_form.html.erb
  app/views/case_contacts/show.html.erb
  spec/features/volunteer_adds_a_case_contact_spec.rb
  spec/requests/case_contacts_spec.rb
Labels: 🧐 Status: Ready for Review

#82 Put Login / Logout links at bottom of page into Navbar as Buttons
  app/views/devise/sessions/new.html.erb
  app/views/layouts/application.html.erb
Labels: :paintbrush: Design

#80 Make the dashboard look slightly better
  app/assets/stylesheets/navbar.scss
  app/controllers/dashboard_controller.rb
  app/views/dashboard/show.html.erb
  app/views/layouts/application.html.erb
  spec/features/admin_adds_new_case_spec.rb
Labels: 🧐 Status: Ready for Review

#87 Display volunteer's active cases in dashboard
  app/policies/casa_case_policy.rb
  app/views/dashboard/show.html.erb
  spec/policies/casa_case_policy_spec.rb
Labels: 🧐 Status: Ready for Review

#81 72 other contact type behavior
  app/javascript/packs/application.js
  app/javascript/packs/new_casa_contact.js
  app/views/case_contacts/_form.html.erb
  package-lock.json
  package.json
  spec/features/volunteer_adds_a_case_contact_spec.rb
Labels: 🧐 Status: Ready for Review

#156 Change contact_type to contact_types
  app/decorators/case_contact_decorator.rb
  app/javascript/packs/new_casa_contact.js
  app/models/case_contact.rb
  app/models/case_contact_report.rb
  app/values/case_contact_parameters.rb
  app/views/casa_cases/show.html.erb
  app/views/case_contacts/_form.html.erb
  app/views/case_contacts/index.html.erb
  app/views/case_contacts/show.html.erb
  app/views/dashboard/_volunteer_dashboard.html.erb
  db/migrate/20200422180727_replace_contact_type_with_contact_types_on_case_contact.rb
  db/schema.rb
  db/seeds.rb
  spec/decorators/case_contact_decorator_spec.rb
  spec/factories/case_contact.rb
  spec/features/volunteer_adds_a_case_contact_spec.rb
  spec/models/case_contact_spec.rb
  spec/requests/case_contacts_spec.rb
Labels: :shipit: Status: Ready to Merge
