Repository rubyforgood/casa, pull requests merged in 2020-10, with the labels that each got.

#904 Add font-family fallback for option elements
  app/javascript/src/stylesheets/shared/typography.scss
Labels: 🧐 Status: Ready for Review

#920 Issue 831: add tasks to update transition_aged_youth when 14
  app/models/casa_case.rb
  lib/tasks/scheduler.rake
  spec/models/casa_case_spec.rb
  spec/policies/case_contact_policy/scope_spec.rb
  yarn.lock
Labels: Hacktoberfest

#972 fix 'can filter volunteers' example in supervisor_views_volunteers
  spec/system/supervisor_views_volunteers_page_spec.rb
Labels: :clipboard: Supervisor, :sparkles: :computer: Developer Friendliness, Hacktoberfest, Priority: Medium, Tests! 🎉💖👏🏼, 🧐 Status: Ready for Review

#979 fixes capybara window size issue
  spec/support/capybara.rb
  spec/system/admin_views_volunteers_page_spec.rb
  spec/system/all_casa_admins/all_casa_admins_casa_orgs_spec.rb
  spec/system/authentication_spec.rb
  spec/system/can_sign_in_as_all_casa_admin_spec.rb
  spec/system/edit_user_system_spec.rb
  spec/system/supervisor_views_volunteers_page_spec.rb
Labels: hacktoberfest-accepted

#993 update view to only show volunteers assigned to supervisor by default
  app/views/volunteers/index.html.erb
  spec/system/supervisor_views_volunteers_page_spec.rb
Labels: :clipboard: Supervisor, Hacktoberfest, Priority: Medium, 🧐 Status: Ready for Review

#992 add route "Generate Court Report" to sidebar
  app/controllers/case_court_reports_controller.rb
  app/views/case_court_reports/index.html.erb
  app/views/layouts/_sidebar.html.erb
  config/routes.rb
  spec/views/case_court_reports/index.html.erb_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: 🧐 Status: Ready for Review

#998 Add validation for miles driven
  app/models/case_contact.rb
  app/views/case_contacts/_form.html.erb
  spec/models/case_contact_spec.rb
Labels: 🧐 Status: Ready for Review

#1023 Change redirect after create or edit
  app/controllers/casa_admins_controller.rb
  spec/requests/casa_admins_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1024 Fix funky UI for case details on narrow screen
  app/javascript/src/dashboard.js
  app/views/case_contacts/_form.html.erb
Labels: javascript

#1033 Adds tests to DB Seeds
  db/seeds/development.rb
  db/seeds/qa.rb
  db/seeds/staging.rb
  spec/seeds/seeds_spec.rb
Labels: Hacktoberfest, Tests! 🎉💖👏, Tests! 🎉💖👏🏼, ruby

#1026 Change the format invalid headers when imports
  app/controllers/imports_controller.rb
  spec/requests/imports_request_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1031 quick fix for Case Contacts page, add a rule to hide mobile label on desktop
  app/javascript/src/stylesheets/shared/layout.scss
Labels: hacktoberfest-accepted

#1034 #1014 - Arrange datepickers to block incompatible dates
  app/javascript/src/index_reports.js
  app/views/reports/index.html.erb
Labels: javascript

#1000 Create hearing types per organization
  app/controllers/casa_orgs_controller.rb
  app/controllers/hearing_types_controller.rb
  app/models/hearing_type.rb
  app/views/casa_orgs/_contact_types.html.erb
  app/views/casa_orgs/_hearing_types.html.erb
  app/views/casa_orgs/edit.html.erb
  app/views/hearing_types/_form.html.erb
  app/views/hearing_types/edit.html.erb
  app/views/hearing_types/new.html.erb
  config/routes.rb
  db/migrate/20201005191326_create_hearing_types.rb
  db/schema.rb
  spec/factories/hearing_type.rb
  spec/models/hearing_type_spec.rb
  spec/system/create_hearing_type_spec.rb
  spec/system/edit_casa_org_spec.rb
Labels: Hacktoberfest, Tests! 🎉💖👏, ruby

#1037 yarn upgrade
  Gemfile.lock
  yarn.lock
Labels: dependencies, javascript, ruby

#1041 Run ruby, erb, and js linters. Manual erb changes for line length.
  app/controllers/case_court_reports_controller.rb
  app/controllers/imports_controller.rb
  app/javascript/src/dashboard.js
  app/javascript/src/index_reports.js
  app/models/case_contact.rb
  app/models/hearing_type.rb
  app/policies/case_assignment_policy.rb
  app/views/all_casa_admins/casa_orgs/show.html.erb
  app/views/casa_cases/_form.html.erb
  app/views/casa_cases/index.html.erb
  app/views/casa_cases/show.html.erb
  app/views/contact_types/edit.html.erb
  app/views/contact_types/new.html.erb
  app/views/devise/mailer/invitation_instructions.html.erb
  app/views/layouts/_mobile_navbar.html.erb
  app/views/layouts/footers/_not_logged_in.html.erb
  app/views/volunteers/edit.html.erb
  app/views/volunteers/index.html.erb
  cypress/integration/volunteer/new_case_contact.spec.js
  cypress/support/commands.js
  db/seeds/development.rb
  lib/tasks/deployment/20201005203140_populate_contact_type_groups_and_contact_types.rake
  lib/tasks/deployment/20201005203405_populate_case_contact_contact_type.rake
  spec/models/case_contact_spec.rb
  spec/policies/casa_admin_policy/casa_admin_policy_spec.rb
  spec/policies/casa_case_policy/casa_case_policy_spec.rb
  spec/policies/volunteer_policy_spec.rb
  spec/requests/casa_admins_spec.rb
  spec/requests/imports_request_spec.rb
  spec/seeds/seeds_spec.rb
  spec/support/capybara.rb
  spec/system/admin_views_volunteers_page_spec.rb
  spec/system/supervisor_views_volunteers_page_spec.rb
  spec/views/casa_cases/new.html.erb_spec.rb
  spec/views/case_court_reports/index.html.erb_spec.rb
  spec/views/volunteers/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1046 fixed 'yarn test'
  app/javascript/__tests__/setup-jest.js
  app/javascript/packs/application.js
  app/javascript/src/case_contact.js
  app/javascript/src/dashboard.js
  app/javascript/src/index_reports.js
  jest.config.js
  package.json
Labels: dependencies, javascript

#1047 Fix case contact reports downloading
  app/controllers/case_contact_reports_controller.rb
  app/controllers/reports_controller.rb
  app/views/reports/index.html.erb
  spec/requests/case_contact_reports_spec.rb
  spec/system/reports/index_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1066 Fix time zone error (#1065).
  spec/requests/case_contact_reports_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1069 Admin login message fix when logging back in
  app/models/user.rb
  config/locales/devise.en.yml
Labels: Hacktoberfest, ruby

#1062 Remove non link edit case contact
  app/views/case_contacts/_case_contact.html.erb
  spec/system/volunteer_edits_a_case_contact_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1063 Turn off auto width for case contacts dataTable
  app/javascript/src/stylesheets/pages/case_contacts.scss
  spec/system/admin_views_case_contact_index_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1076 Remove case_contact.contact_types
  app/decorators/case_contact_decorator.rb
  app/models/case_contact.rb
  db/migrate/20201013171632_remove_contact_types_from_case_contacts.rb
  db/schema.rb
  db/seeds/development.rb
  db/seeds/qa.rb
  db/seeds/staging.rb
  spec/decorators/case_contact_decorator_spec.rb
  spec/factories/case_contact.rb
  spec/factories/case_contact_contact_type.rb
  spec/models/case_contact_report_spec.rb
  spec/models/case_contact_spec.rb
  spec/requests/case_contacts_spec.rb
  spec/system/admin_adds_a_case_contact_spec.rb
  spec/system/volunteer_adds_a_case_contact_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1074 Add after-quarter edit tooltip
  app/javascript/src/case_contact.js
  app/javascript/src/stylesheets/shared/layout.scss
  app/views/case_contacts/_case_contact.html.erb
  spec/system/volunteer_edits_a_case_contact_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1077 uncomment tests in volunteer_adds_a_case_contact_spec.rb
  spec/system/volunteer_adds_a_case_contact_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1080 [Issue#1067] change My Cases table text when empty
  app/javascript/src/dashboard.js
  spec/system/volunteer_views_dashboard_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1078 WIP: Add specified_style_attributes method, use it in a test to restrict test to 1 attribute.
  spec/rails_helper.rb
  spec/support/css_helpers.rb
  spec/system/admin_views_case_contact_index_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1096 1095 update node version in travis
  .travis.yml
Labels: :see_no_evil: Status: WIP

#1097 Add UI for filtering Case Contact Report [#894]
  app/controllers/case_contact_reports_controller.rb
  app/javascript/packs/application.js
  app/javascript/src/index_reports.js
  app/models/case_contact.rb
  app/models/case_contact_report.rb
  app/views/reports/index.html.erb
  spec/models/case_contact_report_spec.rb
  spec/requests/case_contact_reports_spec.rb
  spec/system/reports/index_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1099 Correct linter errors on that were present in master [#1098]
  .standard.yml
  app/controllers/case_contact_reports_controller.rb
  app/helpers/report_helper.rb
  app/javascript/src/dashboard.js
  app/models/user.rb
  app/views/reports/index.html.erb
  lib/tasks/deployment/20201005203405_populate_case_contact_contact_type.rake
  spec/requests/case_contact_reports_spec.rb
  spec/support/css_helpers.rb
  spec/system/admin_views_case_contact_index_spec.rb
  spec/system/volunteer_edits_a_case_contact_spec.rb
  spec/views/volunteers/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1106 Refactor & improve development seeds script, add faker seed specification.
  db/seeds/development.rb
Labels: ruby

#1110 Remove route to "Generate Court Report" from sidebar for admins and supervisors
  app/policies/application_policy.rb
  app/views/layouts/_sidebar.html.erb
  spec/policies/application_policy_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1111 Use datepicker for selecting dates
  app/javascript/src/stylesheets/application.scss
  app/views/case_contacts/_form.html.erb
  spec/system/volunteer_adds_a_case_contact_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1010 898 one of many tries for implementing cypres
  .gitignore
  .travis.yml
  cypress/integration/volunteer/new_case_contact.spec.js
  db/seeds/test.rb
  package-lock.json
  package.json
  spec/system/volunteer_adds_a_case_contact_spec.rb
Labels: Tests! 🎉💖👏, dependencies, javascript, ruby

#1120 #1104 added bug report formlink in sidebar and footer
  app/views/layouts/_sidebar.html.erb
  app/views/layouts/footers/_not_logged_in.html.erb
  spec/views/layouts/footer.html.erb_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1121 Make "Manage Court Details" Active column match columns above it true vs Yes
  app/views/casa_orgs/_hearing_types.html.erb
  spec/system/edit_casa_org_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1126 Fix "contact_type_group" duplication of names
  app/models/contact_type_group.rb
  case-contacts-report-1602730057.csv
  case-contacts-report-1602730059.csv
  db/development.sqlite3
  spec/models/contact_type_group_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1075 922 volunteer court report transition aged youth
  Gemfile
  Gemfile.lock
  app/controllers/case_court_reports_controller.rb
  app/documents/templates/report_template_non_transition.docx
  app/documents/templates/report_template_transition.docx
  app/models/case_court_report.rb
  app/views/case_court_reports/index.html.erb
  config/initializers/mime_types.rb
  config/routes.rb
  spec/factories/volunteer.rb
  spec/models/case_court_report_spec.rb
  spec/requests/case_court_reports_spec.rb
  spec/system/generating_case_court_reports_spec.rb
Labels: Tests! 🎉💖👏, dependencies, ruby

#1128 Clean up for duplicate names
  app/helpers/report_helper.rb
  case-contacts-report-1602730057.csv
  case-contacts-report-1602730059.csv
  db/development.sqlite3
  spec/models/contact_type_group_spec.rb
  spec/system/edit_casa_org_spec.rb
  spec/views/layouts/footer.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1129 #1123 modified seeds to create3 AllCasaAdmins
  db/seeds/development.rb
  db/seeds/qa.rb
  db/seeds/staging.rb
Labels: ruby

#1130 Do not show empty contact type groups or those with only hidden contact types on the create/edit case contact page
  app/controllers/case_contacts_controller.rb
  spec/system/admin_adds_a_case_contact_spec.rb
  spec/system/volunteer_adds_a_case_contact_spec.rb
Labels: Tests! 🎉💖👏🏼, ruby

#1114 #1112 - Add dependent/destroy relationships to models as appropriate so that seeding is idempotent
  app/models/casa_case.rb
  app/models/casa_org.rb
  app/models/user.rb
  db/seeds/development.rb
Labels: ruby

#1135 Improve copy and error for past-quarter case contact editing
  app/models/case_contact.rb
  app/views/case_contacts/_case_contact.html.erb
  spec/models/case_contact_spec.rb
Labels: Tests! 🎉💖👏🏼, ruby

#1124 1089 Combine 3 seeder scripts into one, improve seeding.
  app/models/contact_type_group.rb
  db/seeds.rb
  db/seeds/casa_org_populator_presets.rb
  db/seeds/db_populator.rb
  db/seeds/development.rb
  db/seeds/qa.rb
  db/seeds/staging.rb
  db/seeds/test.rb
  lib/tasks/data_post_processors/case_contact_populator.rb
  lib/tasks/data_post_processors/contact_type_populator.rb
  lib/tasks/deployment/20201005203140_populate_contact_type_groups_and_contact_types.rake
  lib/tasks/deployment/20201005203405_populate_case_contact_contact_type.rake
  spec/lib/db_seed_spec.rb
  spec/models/contact_type_group_spec.rb
  spec/seeds/seeds_spec.rb
Labels: Tests! 🎉💖👏, Tests! 🎉💖👏🏼, ruby, 🧐 Status: Ready for Review

#1140 881 court date clear
  app/models/casa_case.rb
  lib/tasks/scheduler.rake
  spec/models/casa_case_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1143 1117 bugfix casa admin download csv report
  app/models/case_contact.rb
  spec/models/case_contact_report_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1139 refact policies spec
  spec/policies/application_policy_spec.rb
  spec/policies/casa_admin_policy/casa_admin_policy_spec.rb
  spec/policies/casa_case_policy/casa_case_policy_spec.rb
  spec/policies/case_assigment_policy/case_assigment_policy_spec.rb
  spec/policies/case_contact_policy/case_contact_policy_spec.rb
  spec/policies/dashboard_policy_spec.rb
  spec/policies/supervisor_policy_spec.rb
  spec/policies/volunteer_policy_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1131 Admin can upload casa_org logo #1088
  Dockerfile
  Gemfile
  Gemfile.lock
  app/controllers/casa_orgs_controller.rb
  app/models/casa_org.rb
  app/views/casa_orgs/edit.html.erb
  app/views/layouts/_sidebar.html.erb
  db/migrate/20201019120548_create_active_storage_tables.active_storage.rb
  db/schema.rb
  spec/fixtures/company_logo.png
  spec/models/casa_org_spec.rb
  spec/requests/casa_orgs_request_spec.rb
Labels: Tests! 🎉💖👏, Tests! 🎉💖👏🏼, dependencies, ruby

#1145 Fix simplecov and Code Climate Test Reporter
  .travis.yml
  Gemfile
  Gemfile.lock
Labels: dependencies, ruby

#1147 Refactor ContactTypePopulator.
  lib/tasks/data_post_processors/contact_type_populator.rb
Labels: ruby

#1144 1090 add default casa logo
  spec/system/admin_views_volunteers_page_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1149 default date range for reports 6 months
  app/views/reports/index.html.erb
  spec/system/reports/index_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1113 (WIP) [1079] casa_cases/show: Address case_contacts header/column misalignment
  app/javascript/__tests__/dashboard.test.js
  app/javascript/src/dashboard.js
  app/views/casa_cases/show.html.erb
  spec/system/admin_views_case_contact_index_spec.rb
Labels: Tests! 🎉💖👏🏼, javascript, ruby

#1157 Add selection from casa cases to hearing types
  app/controllers/casa_cases_controller.rb
  app/models/casa_case.rb
  app/models/hearing_type.rb
  app/views/casa_cases/_form.html.erb
  app/views/casa_cases/index.html.erb
  app/views/casa_cases/show.html.erb
  db/migrate/20201020095451_add_hearing_type_to_court_cases.rb
  db/schema.rb
  spec/factories/casa_case.rb
  spec/models/casa_case_spec.rb
Labels: :sparkles: New Feature, :woman_judge: Court Reports, Hacktoberfest, Tests! 🎉💖👏, ruby

#1169 and return not && return
  app/controllers/case_court_reports_controller.rb
  app/controllers/concerns/accessible.rb
Labels: ruby

#1172 Stub current_organization in view spec
  app/views/casa_cases/_form.html.erb
  spec/views/casa_cases/edit.html.erb_spec.rb
  spec/views/casa_cases/new.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1170 Test seeding for only development, no longer for qa and staging.
  spec/seeds/seeds_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1171 Minor fixes to seeding.
  app/models/contact_type_group.rb
  db/seeds.rb
  db/seeds/db_populator.rb
Labels: ruby

#1146 Introduce Judge model
  app/controllers/casa_orgs_controller.rb
  app/controllers/judges_controller.rb
  app/models/judge.rb
  app/views/casa_orgs/_hearing_types.html.erb
  app/views/casa_orgs/_judges.html.erb
  app/views/casa_orgs/edit.html.erb
  app/views/judges/_form.html.erb
  app/views/judges/edit.html.erb
  app/views/judges/new.html.erb
  config/routes.rb
  db/migrate/20201023233638_create_judges.rb
  db/migrate/20201023234325_add_active_to_judge.rb
  db/migrate/20201024003821_add_name_to_judge.rb
  db/schema.rb
  spec/factories/judges.rb
  spec/models/judge_spec.rb
  spec/requests/judges_spec.rb
  spec/system/create_judge_spec.rb
  spec/system/edit_casa_org_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1178 resolves #1162 - added option to mark hearing type as inactive
  app/models/hearing_type.rb
  spec/models/hearing_type_spec.rb
  spec/requests/hearing_types_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1176 Revert change to spec for error that was misconstrued
  spec/models/casa_case_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1177 Fix bug where volunteer link was not displaying
  app/views/volunteers/index.html.erb
  spec/views/volunteers/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1186 remove Case Contacts from admin/supervisor sidebar
  app/views/layouts/_sidebar.html.erb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1188 Modify sign out for all_casa_admin
  app/controllers/application_controller.rb
  spec/helpers/application_helper_spec.rb
  spec/system/can_sign_in_as_all_casa_admin_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1189 add tests for ContactTypePopulator
  spec/lib/tasks/data_post_processors/contact_type_populator_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1191 Associate judge to court case
  app/controllers/casa_cases_controller.rb
  app/models/casa_case.rb
  app/views/casa_cases/_form.html.erb
  app/views/casa_cases/index.html.erb
  app/views/casa_cases/show.html.erb
  db/migrate/20201025162142_add_judge_to_court_cases.rb
  db/schema.rb
  spec/factories/casa_case.rb
  spec/models/casa_case_spec.rb
Labels: :sparkles: New Feature, :woman_judge: Court Reports, Hacktoberfest, Tests! 🎉💖👏, ruby

#1192 inactivate and reactivate case from edit case page
  app/controllers/casa_cases_controller.rb
  app/models/casa_case.rb
  app/policies/casa_case_policy.rb
  app/views/casa_cases/_form.html.erb
  app/views/casa_cases/_inactive_case.html.erb
  app/views/casa_cases/edit.html.erb
  app/views/casa_cases/index.html.erb
  app/views/casa_cases/show.html.erb
  app/views/volunteers/edit.html.erb
  config/routes.rb
  db/migrate/20201021143642_add_active_column_to_casa_cases_table.rb
  db/schema.rb
  spec/system/admin_edit_volunteer_spec.rb
  spec/system/admin_edits_a_case_spec.rb
  spec/system/supervisor_edits_case_spec.rb
  spec/system/volunteer_edits_case_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1196 resolves #1180 - all casa admin can edit/activate/deactivate other admins
  app/controllers/all_casa_admins/casa_admins_controller.rb
  app/views/all_casa_admins/casa_admins/edit.html.erb
  app/views/all_casa_admins/casa_orgs/show.html.erb
  config/routes.rb
  spec/requests/all_casa_admins/casa_admins_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1173 Bugfix/change select value to match contact type scope
  app/controllers/case_contact_reports_controller.rb
  app/models/case_contact.rb
  app/views/reports/index.html.erb
  spec/models/case_contact_report_spec.rb
  spec/models/case_contact_spec.rb
  spec/requests/case_contact_reports_spec.rb
  spec/system/reports/index_spec.rb
  spec/system/volunteer_adds_a_case_contact_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1194 Bugfix/contact case report booleans
  app/controllers/case_contact_reports_controller.rb
  spec/models/case_contact_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1210 update standard, run all linters, and update docs
  Gemfile
  Gemfile.lock
  app/javascript/__tests__/dashboard.test.js
  app/javascript/src/dashboard.js
  app/views/case_court_reports/index.html.erb
  doc/CONTRIBUTING.md
  doc/CYPRESS.md
Labels: :woman_technologist: Contributor Documentation, dependencies

#1179 Past court dates #805
  app/models/casa_case.rb
  app/models/past_court_date.rb
  app/views/casa_cases/edit.html.erb
  db/migrate/20201024113046_create_past_court_dates.rb
  db/schema.rb
  lib/tasks/scheduler.rake
Labels: ruby

#1217 schema cleanup
  db/schema.rb
Labels: ruby

#1220 Quit printing the names of all the tests
  spec/spec_helper.rb
Labels: ruby

#1211 error when admin imports inactive casa_case
  app/lib/importers/case_importer.rb
  spec/fixtures/existing_casa_case.csv
  spec/requests/imports_request_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1224 add emancipation checklist to sidebar & tests
  app/controllers/emancipation_checklists_controller.rb
  app/views/emancipation_checklists/show.html.erb
  app/views/layouts/_sidebar.html.erb
  config/routes.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1229 adding to #1180
  spec/requests/all_casa_admins/casa_admins_spec.rb
Labels: Tests! 🎉💖👏, ruby
