Repository rubyforgood/casa, pull requests merged in 2021-03, with the labels that each got.

#1795 [#1731] Add Court Mandates to Edit CASA Case page
  app/javascript/__tests__/dashboard.test.js
  app/javascript/packs/application.js
  app/javascript/src/casa_case.js
  app/javascript/src/dashboard.js
  app/javascript/src/emancipations.js
  app/javascript/src/stylesheets/pages/casa_cases.scss
  app/models/casa_case.rb
  app/models/case_court_mandate.rb
  app/policies/casa_case_policy.rb
  app/views/casa_cases/_form.html.erb
  babel.config.js
  db/migrate/20210223133248_create_case_court_mandates.rb
  db/schema.rb
  spec/factories/casa_case.rb
  spec/factories/case_court_mandates.rb
  spec/models/casa_case_spec.rb
  spec/models/case_court_mandate_spec.rb
  spec/requests/casa_cases_spec.rb
  spec/system/casa_cases/edit_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1802 [#1733] Add option to remove Court Mandates
  app/controllers/case_court_mandates_controller.rb
  app/javascript/src/casa_case.js
  app/javascript/src/stylesheets/pages/casa_cases.scss
  app/policies/case_court_mandate_policy.rb
  app/views/casa_cases/_form.html.erb
  config/routes.rb
  spec/factories/casa_case.rb
  spec/requests/case_court_mandates_spec.rb
  spec/system/casa_cases/edit_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1810 Add import update tests
  spec/lib/importers/case_importer_spec.rb
  spec/lib/importers/supervisor_importer_spec.rb
  spec/lib/importers/volunteer_importer_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1811 Allow supervisors to edit a volunteer's email address
  app/policies/user_policy.rb
  spec/policies/volunteer_policy_spec.rb
  spec/views/volunteers/edit.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1773 Show case number on emancipation checklist
  app/views/emancipations/show.html.erb
  doc/DOCKER.md
  spec/views/emancipations/show.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1816 Move read more JS code from partial
  app/javascript/packs/application.js
  app/javascript/src/readMore.js
  app/views/case_contacts/_case_contact.html.erb
Labels: javascript

#1750 Update view of all casa admin
  app/models/casa_org.rb
  app/models/case_assignment.rb
  app/models/supervisor_volunteer.rb
  app/views/all_casa_admins/casa_orgs/show.html.erb
  spec/views/all_casa_admins/casa_orgs/show.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1807 Exclude active volunteers who are not assigned to a supervisor from the dashboard supervisor volunteer count
  app/controllers/supervisors_controller.rb
  app/models/supervisor.rb
  app/models/user.rb
  app/views/supervisor_mailer/weekly_digest.html.erb
  app/views/supervisors/edit.html.erb
  spec/models/supervisor_spec.rb
  spec/models/user_spec.rb
  spec/requests/supervisor_volunteers_spec.rb
  spec/views/supervisors/edit.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1823 user should remain on Edit Volunteer page after editing a volunteer
  app/controllers/supervisor_volunteers_controller.rb
  spec/requests/supervisor_volunteers_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1809 1702 add to all casa admin casas summary report
  app/models/case_assignment.rb
  app/models/supervisor_volunteer.rb
  app/models/user.rb
  app/views/all_casa_admins/casa_orgs/show.html.erb
  spec/views/all_casa_admins/casa_orgs/show.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1825 Fix main build
  app/models/casa_org.rb
  app/models/case_assignment.rb
  app/models/supervisor_volunteer.rb
  app/models/user.rb
  app/views/all_casa_admins/casa_orgs/show.html.erb
  spec/views/all_casa_admins/casa_orgs/show.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1829 Only run simplecov when env var is passed in
  bin/rails
  spec/spec_helper.rb
Labels: ruby

#1830 Refactor all casa admin metrics generation
  app/controllers/all_casa_admins/casa_orgs_controller.rb
  app/models/all_casa_admins/casa_org_metrics.rb
  app/views/all_casa_admins/casa_orgs/show.html.erb
  spec/factories/casa_admin.rb
  spec/factories/case_assignment.rb
  spec/factories/supervisor.rb
  spec/models/all_casa_admins/casa_org_metrics_spec.rb
  spec/views/all_casa_admins/casa_orgs/show.html.erb_spec.rb
  spec/views/dashboard/show.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1831 Test moves
  .github/workflows/factory_bot_lint.yml
  .github/workflows/ruby_lint.yml
  README.md
  lib/tasks/lint_factory_bot.rake
  spec/factories/case_contact.rb
  spec/factories/case_court_mandates.rb
  spec/factories/contact_type.rb
  spec/factories/emancipation_categories.rb
  spec/factories/emancipation_options.rb
  spec/factories/followup.rb
  spec/factories/notifications.rb
  spec/factories/past_court_date.rb
  spec/lib/tasks/data_post_processors/contact_type_populator_spec.rb
  spec/models/all_casa_admins/casa_org_metrics_spec.rb
  spec/models/casa_case_spec.rb
  spec/models/case_assignment_spec.rb
  spec/models/followup_spec.rb
  spec/rails_helper.rb
  spec/support/css_helpers.rb
  spec/support/factory_bot.rb
  spec/support/session_helper.rb
  spec/system/casa_cases/additional_index_spec.rb
  spec/system/casa_cases/edit_spec.rb
  spec/system/casa_cases/emancipation/show_spec.rb
  spec/system/casa_cases/show.html.erb_spec.rb
  spec/system/casa_cases/show_spec.rb
  spec/system/case_contacts/edit_spec.rb
  spec/system/case_contacts/new_spec.rb
  spec/system/dashboard/show_spec.rb
  spec/system/reports/index_spec.rb
  spec/system/supervisors/new_spec.rb
  spec/system/users/edit_spec.rb
  spec/system/volunteers/index_spec.rb
  spec/views/casa_cases/edit.html.erb_spec.rb
  spec/views/casa_cases/new.html.erb_spec.rb
  spec/views/case_contacts/_followup.html.erb_spec.rb
  spec/views/case_contacts/case_contact.html.erb_spec.rb
  spec/views/case_contacts/edit.html.erb_spec.rb
  spec/views/case_contacts/index.html.erb_spec.rb
  spec/views/case_contacts/new.html.erb_spec.rb
  spec/views/supervisors/index.html.erb_spec.rb
  spec/views/supervisors/new.html.erb_spec.rb
  spec/views/volunteers/index.html.erb_spec.rb
  spec/views/volunteers/new.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1832 Does this work or does rspec build db fail?
  .github/workflows/rspec.yml
  spec/support/factory_bot.rb
Labels: ruby

#1839 Sort contact type groups and contact types by name
  app/controllers/casa_orgs_controller.rb
  app/views/casa_orgs/_contact_type_groups.html.erb
  app/views/casa_orgs/_contact_types.html.erb
  app/views/casa_orgs/edit.html.erb
Labels: ruby

#1840 Pretty print FactoryBot object creation stats
  spec/support/factory_bot.rb
Labels: ruby

#1845 Issue#1827
  app/controllers/volunteers_controller.rb
  app/policies/volunteer_policy.rb
  app/views/volunteers/edit.html.erb
  config/routes.rb
  spec/system/volunteers/edit_spec.rb
  spec/views/volunteers/edit.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1847 Fix error handling when importing casa cases, supervisors and volunteers
  app/lib/importers/case_importer.rb
  app/lib/importers/supervisor_importer.rb
  app/lib/importers/volunteer_importer.rb
  spec/fixtures/casa_cases_without_case_number.csv
  spec/fixtures/supervisors_without_email.csv
  spec/fixtures/volunteers_without_email.csv
  spec/lib/importers/case_importer_spec.rb
  spec/lib/importers/supervisor_importer_spec.rb
  spec/lib/importers/volunteer_importer_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1852 Adjusts PR#1845
  app/controllers/volunteers_controller.rb
  app/views/volunteers/edit.html.erb
  spec/system/volunteers/edit_spec.rb
  spec/views/volunteers/edit.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1857 WIP - Fix for the mailer having the image and organization details hard cod…
  app/mailers/supervisor_mailer.rb
  app/mailers/volunteer_mailer.rb
  app/models/casa_org.rb
  app/views/layouts/mailer.html.erb
  app/views/volunteers/edit.html.erb
  public/logo.jpeg
  spec/models/casa_org_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1858 1824 show volunteers invitation accepted
  app/views/volunteers/edit.html.erb
  spec/views/volunteers/edit.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1859 Add Tests for Creating and Editing Contact Types
  app/controllers/contact_types_controller.rb
  app/helpers/contact_types_helper.rb
  app/views/casa_orgs/_contact_type_groups.html.erb
  app/views/casa_orgs/_contact_types.html.erb
  app/views/contact_types/_form.html.erb
  app/views/contact_types/edit.html.erb
  app/views/contact_types/new.html.erb
  spec/models/contact_type_spec.rb
  spec/system/casa_orgs/edit_spec.rb
  spec/system/contact_types/edit_spec.rb
  spec/system/contact_types/new_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1844 Adding a JS alert before the case_contact form is submitted to notify of invalid date selection
  app/javascript/src/case_contact.js
Labels: javascript

#1868 update js dependencies
  yarn.lock
Labels: dependencies, javascript

#1877 Add Last Logged In At to all users and visible to all users Issue#1864
  app/decorators/user_decorator.rb
  app/models/casa_admin.rb
  app/models/supervisor.rb
  app/models/user.rb
  app/models/volunteer.rb
  app/views/casa_admins/_form.html.erb
  app/views/supervisors/edit.html.erb
  app/views/users/edit.html.erb
  app/views/volunteers/edit.html.erb
  db/migrate/20210330182538_add_devise_trackable_columns_to_users.rb
  db/schema.rb
  spec/system/casa_admins/edit_spec.rb
  spec/system/supervisors/edit_spec.rb
  spec/system/users/edit_spec.rb
  spec/views/casa_admins/edit.html.erb_spec.rb
  spec/views/supervisors/edit.html.erb_spec.rb
  spec/views/volunteers/edit.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1878 yarn upgrade - be careful to check UI stuff
  yarn.lock
Labels: dependencies, javascript
