Repository rubyforgood/casa, pull requests merged in 2021-01, with the labels that each got.

#1525 Filter contact type groups and contact types based on selected cases
  Gemfile
  Gemfile.lock
  app/controllers/case_contacts_controller.rb
  app/views/case_contacts/_form.html.erb
  spec/controllers/case_contacts_controller_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: Tests! 🎉💖👏, dependencies, ruby

#1527 [WIP] Use long notes in report
  app/decorators/case_contact_decorator.rb
  app/models/case_contact_report.rb
  app/views/case_contacts/_case_contact.html.erb
  spec/factories/case_contact.rb
  spec/models/case_contact_report_spec.rb
  spec/system/casa_cases/new_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1535 Collapsible emancipation checklist
  app/controllers/emancipations_controller.rb
  app/helpers/emancipations_helper.rb
  app/javascript/src/case_emancipation.js
  app/javascript/src/stylesheets/pages/emancipation.scss
  app/models/casa_case.rb
  app/models/casa_case_emancipation_category.rb
  app/models/emancipation_category.rb
  app/views/emancipations/show.html.erb
  db/migrate/20201226024029_create_casa_case_emancipation_categories.rb
  db/schema.rb
  spec/factories/casa_case_emancipation_categories.rb
  spec/helpers/emancipations_helper_spec.rb
  spec/models/casa_case_emancipation_category_spec.rb
  spec/models/casa_case_spec.rb
  spec/models/casa_cases_emancipation_option_spec.rb
  spec/models/emancipation_category_spec.rb
  spec/requests/emancipations_request_spec.rb
  spec/system/casa_cases/emancipation/show_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1534 Add azure-storage to the gemfile
  Gemfile
  Gemfile.lock
Labels: Tests! 🎉💖👏, dependencies, ruby

#1536 Gemfile back to using azure-storage-blob
  Gemfile
  Gemfile.lock
Labels: dependencies

#1540 Heroku review app configuration
  app.json
  config/initializers/bugsnag.rb
Labels: ruby

#1548 Heroku review app configuration
  app.json
  db/seeds/casa_org_populator_presets.rb
Labels: ruby

#1550 Case contact followups
  app/controllers/followups_controller.rb
  app/models/case_contact.rb
  app/models/followup.rb
  app/models/user.rb
  app/views/case_contacts/_case_contact.html.erb
  config/routes.rb
  db/migrate/20210105155534_create_followups.rb
  db/schema.rb
  package-lock.json
  spec/factories/followup.rb
  spec/models/followup_spec.rb
  spec/models/user_spec.rb
  spec/requests/followups_spec.rb
  spec/views/case_contacts/case_contact.html.erb_spec.rb
Labels: Tests! 🎉💖👏, dependencies, javascript, ruby

#1558 Fixes case_contact filter in reports
  app/models/case_contact_report.rb
  spec/models/case_contact_report_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1559 Add seeding for hearing types
  db/seeds/db_populator.rb
  spec/seeds/seeds_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1566 Fix case/emancipation_options seed bug
  app/models/casa_cases_emancipation_option.rb
  db/migrate/20210107181908_add_id_and_timestamps_to_case_emancipation_options_table.rb
  db/schema.rb
Labels: ruby

#1569 Adds system test for CaseContact Report download
  spec/factories/casa_case.rb
  spec/factories/contact_type_group.rb
  spec/policies/casa_case_policy/scope_spec.rb
  spec/support/capybara.rb
  spec/support/download_helpers.rb
  spec/system/reports/case_contact_reports_spec.rb
  spec/views/casa_cases/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1570 Fixes PG::GroupingError: ERROR on Generating Report
  app/models/case_contact_report.rb
  spec/system/reports/case_contact_reports_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1574 mailer issues
  app/mailers/application_mailer.rb
  app/mailers/casa_admin_mailer.rb
  app/mailers/supervisor_mailer.rb
  app/mailers/volunteer_mailer.rb
Labels: ruby

#1572 Followup icons distinguishable by user role
  app/helpers/followup_helper.rb
  app/views/case_contacts/_case_contact.html.erb
  app/views/case_contacts/_followup.html.erb
  spec/helpers/followup_helper_spec.rb
  spec/views/case_contacts/_followup.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1577 yarn update
  yarn.lock
Labels: dependencies, javascript

#1568 join tables require unique two-id row combinations
  app/models/casa_case_contact_type.rb
  app/models/casa_case_emancipation_category.rb
  app/models/casa_cases_emancipation_option.rb
  app/models/case_contact_contact_type.rb
  spec/models/casa_case_contact_type_spec.rb
  spec/models/casa_case_emancipation_category_spec.rb
  spec/models/casa_cases_emancipation_option_spec.rb
  spec/models/case_assignment_spec.rb
  spec/models/case_contact_contact_type_spec.rb
  spec/models/supervisor_volunteer_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1579 Refactoring a few things with Followups
  app/controllers/followups_controller.rb
  app/policies/followup_policy.rb
  app/views/case_contacts/_followup.html.erb
  config/routes.rb
  spec/policies/followup_policy_spec.rb
  spec/requests/followups_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1575 Remove org logos table
  app/models/casa_org.rb
  app/models/casa_org_logo.rb
  app/views/layouts/_sidebar.html.erb
  db/migrate/20210109231411_drop_casa_org_logos_table.rb
  db/schema.rb
  db/seeds/db_populator.rb
  lib/tasks/deployment/20200907142217_populate_prince_george_casa_org_details.rake
  spec/factories/casa_org_logos.rb
  spec/lib/tasks/deployment/populate_prince_george_casa_org_details_spec.rb
  spec/models/casa_org_logo_spec.rb
  spec/models/casa_org_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1576 Make seed not delete. Remove versions as the last step in seed
  README.md
  db/seeds.rb
  db/seeds/db_populator.rb
Labels: ruby

#1581 Allow another followup if no requested ones exist
  app/controllers/case_contacts/followups_controller.rb
  app/controllers/followups_controller.rb
  app/models/case_contact.rb
  app/models/followup.rb
  app/policies/followup_policy.rb
  app/views/case_contacts/_case_contact.html.erb
  app/views/case_contacts/_followup.html.erb
  config/routes.rb
  spec/models/case_contact_spec.rb
  spec/models/followup_spec.rb
  spec/policies/followup_policy_spec.rb
  spec/requests/followups_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1584 add sorting to supervisors dashboard
  app/javascript/src/dashboard.js
  app/views/supervisors/index.html.erb
Labels: javascript

#1597 Fixes Followup button height
  app/views/case_contacts/_followup.html.erb
  spec/views/case_contacts/case_contact.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1601 Fixes error when Resolving a Followup
  app/views/case_contacts/_followup.html.erb
  spec/system/case_contacts/followups/resolve_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1603 Open followups can be resolved by any user
  spec/system/case_contacts/followups/resolve_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1604 fix up supervisors view
  app/javascript/src/dashboard.js
Labels: javascript

#1606 fix overflow text
  app/controllers/imports_controller.rb
  spec/requests/imports_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1605 Seed data fixes
  db/seeds/db_populator.rb
Labels: ruby

#1611 Adds notifications for supes/admin for resolved followups
  Gemfile
  Gemfile.lock
  app/controllers/case_contacts/followups_controller.rb
  app/controllers/case_contacts_controller.rb
  app/controllers/notifications_controller.rb
  app/helpers/notifications_helper.rb
  app/helpers/sidebar_helper.rb
  app/models/notification.rb
  app/models/user.rb
  app/notifications/followup_resolved_notification.rb
  app/views/layouts/_sidebar.html.erb
  app/views/notifications/index.html.erb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20210117185614_create_notifications.rb
  db/schema.rb
  spec/factories/notifications.rb
  spec/helpers/notifications_helper_spec.rb
  spec/requests/case_contacts_spec.rb
  spec/requests/followups_spec.rb
  spec/system/notifications/index_spec.rb
Labels: Tests! 🎉💖👏, dependencies, ruby

#1612 Adds Notification for volunteer on followups
  app/controllers/case_contacts/followups_controller.rb
  app/notifications/followup_notification.rb
  config/locales/en.yml
  spec/requests/followups_spec.rb
  spec/system/notifications/index_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1619 Fixes notification title when it's a new followup
  app/notifications/followup_notification.rb
  app/notifications/followup_resolved_notification.rb
  app/views/notifications/index.html.erb
  config/locales/en.yml
  spec/system/notifications/index_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1639 gem update brakeman, then make ignorefile, then run brakeman interactive and add errors to ignorefile
  Gemfile.lock
  config/brakeman.ignore
Labels: dependencies
