Repository rubyforgood/casa, pull requests merged in 2021-09, with the labels that each got.

#2489 fix emancipations not saving if case is of transitioning age
  app/controllers/emancipations_controller.rb
  spec/controllers/emancipations_controller_spec.rb
  spec/requests/emancipations_request_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2482 Make past court dates appear in order
  app/models/past_court_date.rb
  app/views/casa_cases/_past_court_dates.html.erb
  spec/models/past_court_date_spec.rb
  spec/support/shared_examples/shows_past_court_dates_links.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2513 Fix first of month test failure
  config/environments/test.rb
  spec/controllers/case_contacts_controller_spec.rb
  spec/models/past_court_date_spec.rb
  spec/requests/past_court_dates_spec.rb
  spec/system/case_contacts/new_spec.rb
  spec/system/past_court_dates/new_spec.rb
  spec/system/volunteers/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2521 Fix selenium depreciation warning
  spec/support/capybara.rb
Labels: ruby

#2522 Fix flaky Thank You message test
  spec/controllers/case_contacts_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2511 2466/2467 Send Reminder CC
  app/decorators/volunteer_decorator.rb
  app/javascript/src/stylesheets/pages/casa_cases.scss
  app/views/casa_cases/show.html.erb
  app/views/volunteers/_send_reminder_button.html.erb
  app/views/volunteers/edit.html.erb
  config/locales/views.en.yml
  spec/decorators/volunteer_decorator_spec.rb
  spec/system/casa_cases/show_more_spec.rb
  spec/system/volunteers/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2527 fix: fix dave typo in tests
  spec/system/past_court_dates/new_spec.rb
  spec/system/volunteers/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2528 Fix tests
  app/javascript/src/case_contact.js
  config/locales/views.en.yml
  spec/system/case_contacts/new_spec.rb
  spec/system/volunteers/index_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏

#2497 Add badge with emancipation checklist summary
  app/decorators/casa_case_decorator.rb
  app/views/casa_cases/show.html.erb
  spec/decorators/casa_case_decorator_spec.rb
  spec/system/casa_cases/show_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2490 Add jest test for notify function
  app/javascript/__tests__/notifier.test.js
  app/javascript/src/async_notifier.js
  app/javascript/src/case_emancipation.js
  bin/git_hooks/lint
Labels: javascript, Tests! 🎉💖👏

#2520 Add VolunteerPolicy::Scope class allowing volunteers to see other from same CasaCase
  app/policies/volunteer_policy.rb
  spec/policies/volunteer_policy_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2531 jest notify test revision
  app/javascript/__tests__/notifier.test.js
  package.json
Labels: dependencies, javascript, Tests! 🎉💖👏

#2534 Ruby 3.0.2
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  doc/LINUX_SETUP.md
Labels: dependencies

#2536 Entirely regenerate yarn.lock
  yarn.lock
Labels: dependencies, javascript

#2541 Sort contact types alphabetically
  app/controllers/case_contacts_controller.rb
  app/models/contact_type.rb
  app/models/contact_type_group.rb
  app/views/case_contacts/_form.html.erb
  spec/controllers/case_contacts_controller_spec.rb
  spec/models/contact_type_group_spec.rb
  spec/models/contact_type_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2547 Changed reference to mandates to orders
  app/javascript/src/casa_case.js
  app/views/casa_cases/show.html.erb
  config/locales/views.en.yml
  spec/system/casa_cases/edit_spec.rb
  spec/system/casa_cases/show_spec.rb
  spec/views/past_court_dates/show.html.erb_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#2548 Top Aligns Case Details Buttons
  app/javascript/src/stylesheets/shared/layout.scss
  app/views/casa_cases/show.html.erb
Labels: erb

#2554 Sorts Volunteer List By Assigned Cases and Display Name
  app/models/casa_case.rb
  app/models/volunteer.rb
  spec/models/casa_case_spec.rb
  spec/models/volunteer_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2549 Adds Casa Email Mailto to Login Page
  app/javascript/src/stylesheets/pages/login.scss
  app/views/devise/shared/_links.html.erb
  spec/system/sessions/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2564 add scout
  Gemfile
  Gemfile.lock
Labels: dependencies

#2566 replace scout with skylight
  .github/workflows/cypress.yml
  .github/workflows/rspec.yml
  Gemfile
  Gemfile.lock
  README.md
  config/scout_apm.yml
Labels: dependencies

#2561 unpin some gems
  Gemfile
  Gemfile.lock
Labels: dependencies

#2570 Set User#display_name as not nullable
  app/models/casa_admin.rb
  app/models/supervisor.rb
  app/models/user.rb
  app/models/volunteer.rb
  db/migrate/20210913142024_set_display_name_as_not_nullable.rb
  db/schema.rb
Labels: ruby

#2559 Allows volunteers to modify court orders/court mandates
  app/policies/casa_case_policy.rb
  spec/policies/casa_case_policy_spec.rb
  spec/requests/casa_cases_spec.rb
  spec/system/casa_cases/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2515 2409 update change password flow
  app/controllers/users_controller.rb
  app/views/devise/passwords/edit.html.erb
  app/views/users/edit.html.erb
  cypress/integration/volunteer/edit_profile.spec.js
  spec/requests/users_spec.rb
  spec/system/users/edit_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#2563 Past notifications should reflect current name of user
  app/controllers/case_contacts/followups_controller.rb
  app/notifications/base_notification.rb
  app/notifications/followup_notification.rb
  app/notifications/followup_resolved_notification.rb
  spec/requests/case_contacts_spec.rb
  spec/system/notifications/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2583 Excludes deactivated supervisors from dropdown
  app/views/volunteers/index.html.erb
  spec/views/volunteers/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2560 Refactor all notification js into module
  app/javascript/__tests__/notifier.test.js
  app/javascript/src/async_notifier.js
  app/javascript/src/case_emancipation.js
Labels: javascript, Tests! 🎉💖👏

#2585 Add seed data for court_dates and court_date related fields in casa_cases
  db/seeds/db_populator.rb
Labels: ruby

#2584 Improves getting active supervisors
  app/views/volunteers/index.html.erb
Labels: erb

#2581 Fix Brakeman SQL injection warning for ApplicationDatatable
  app/datatables/application_datatable.rb
  app/datatables/volunteer_datatable.rb
  config/brakeman.ignore
Labels: ruby

#2594 fix webpacker server issue
  package.json
  yarn.lock
Labels: dependencies, javascript

#2595 remove old data migration that errors when running migrations
  db/migrate/20200917175655_add_default_value_to_case_contact_miles_driven.rb
Labels: ruby

#2596 Spec refactor
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2604 Update Gemfile.lock
  Gemfile.lock
Labels: dependencies

#2609 removed lint from js unit test script
  .github/workflows/yarn_lint_and_test.yml
  package.json
Labels: dependencies, javascript

#2593 Required login and password fields
  app/views/all_casa_admins/sessions/new.html.erb
  app/views/devise/invitations/edit.html.erb
  app/views/devise/passwords/edit.html.erb
  app/views/devise/passwords/new.html.erb
  app/views/devise/sessions/new.html.erb
Labels: erb

#2620 2089 remove supervisor email header image
  README.md
  app/views/layouts/mailer.html.erb
Labels: erb

#2607 Sort Case Court's Contact Dates
  app/models/case_court_report.rb
Labels: ruby

#2626 refactoring and testing for sorting case contact dates in court report
  app/models/case_court_report.rb
  app/services/case_contacts_contact_dates.rb
  spec/services/case_contacts_contact_dates_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2556 Add weekly digest messsages for no addditional notes and no pending v…
  app/mailers/supervisor_mailer.rb
  app/models/case_assignment.rb
  app/views/supervisor_mailer/weekly_digest.html.erb
  spec/mailers/supervisor_mailer_spec.rb
  spec/views/supervisor_mailer/weekly_digest.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2629 refactor CaseContactsContactDates
  app/services/case_contacts_contact_dates.rb
  app/services/court_report_format_contact_date.rb
Labels: ruby

#2631 regenerate yarn.lock
  yarn.lock
Labels: dependencies, javascript

#2636 Change "Last Contact" to "Last Attempt"
  app/datatables/volunteer_datatable.rb
  app/javascript/src/dashboard.js
  app/models/user.rb
  app/models/volunteer.rb
  app/views/supervisors/index.html.erb
  app/views/volunteers/index.html.erb
  config/locales/views.en.yml
  spec/datatables/volunteer_datatable_spec.rb
  spec/models/user_spec.rb
  spec/system/supervisors/index_spec.rb
  spec/system/volunteers/index_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#2644 Reflect Current User logged in date
  app/decorators/user_decorator.rb
  app/views/shared/_invite_login.html.erb
  spec/system/users/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2643 Link court case from new court date page
  app/views/past_court_dates/_form.html.erb
  spec/views/past_court_dates/new.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2648 Cc email changes
  app/controllers/volunteers_controller.rb
  app/javascript/src/stylesheets/shared/layout.scss
  app/mailers/volunteer_mailer.rb
  app/views/casa_cases/show.html.erb
  app/views/volunteers/_send_reminder_button.html.erb
  app/views/volunteers/_volunteer_reminder_form.erb
  app/views/volunteers/edit.html.erb
  spec/mailers/volunteer_mailer_spec.rb
  spec/system/volunteers/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2649 Download Emancipation Checklist With Button
  app/controllers/emancipations_controller.rb
  app/documents/templates/emancipation_checklist_template.docx
  app/helpers/emancipations_helper.rb
  app/services/emancipation_checklist_download_html.rb
  app/views/emancipations/download.html.erb
  app/views/emancipations/show.html.erb
  spec/requests/emancipations_request_spec.rb
  spec/services/emancipation_checklist_download_html_spec.rb
  spec/system/emancipations/show_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2650 Create all_casa_admin(admin1@example.com) with seeds
  db/seeds.rb
Labels: ruby

#2653 Preserve case contact notes
  app/javascript/packs/application.js
  app/javascript/src/case_contact_autosave.js
  app/javascript/src/sessions.js
  spec/system/case_contacts/new_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏

#2637 Fix case prefix filter
  app/javascript/src/dashboard.js
  config/locales/views.en.yml
Labels: javascript
