Repository rubyforgood/casa, pull requests merged in 2021-02, with the labels that each got.

#1649 [#1623] Sort Supervisor fields as numbers
  app/javascript/src/case_emancipation.js
  app/javascript/src/dashboard.js
  app/views/notifications/index.html.erb
  app/views/supervisors/index.html.erb
  spec/system/supervisors/index_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1650 supervisor/admin can download already-generated court reports
  app/controllers/case_court_reports_controller.rb
  app/models/casa_case.rb
  app/views/casa_cases/show.html.erb
  spec/requests/case_court_reports_spec.rb
  spec/system/case_court_reports/index_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1657 Improve client side sync for emancipation checklist
  app/controllers/emancipations_controller.rb
  app/javascript/src/case_emancipation.js
  app/javascript/src/stylesheets/pages/emancipation.scss
  app/views/emancipations/show.html.erb
Labels: javascript, ruby

#1661 All casa admin can see casa org overview key metrics #1086
  app/models/casa_org.rb
  app/views/all_casa_admins/casa_orgs/show.html.erb
  spec/views/all_casa_admins/casa_orgs/show.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1622 1590 sad path test coverage emancipation
  spec/controllers/emancipations_controller_spec.rb
  spec/system/case_contacts/followups/resolve_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1666 Refactor test for creating casa admin while logged in as casa admin
  app/controllers/all_casa_admins/casa_admins_controller.rb
  app/controllers/casa_admins_controller.rb
  spec/requests/casa_admins_spec.rb
  spec/system/all_casa_admins/casa_orgs/casa_admins/new_spec.rb
  spec/system/casa_admins/edit_spec.rb
  spec/system/casa_admins/new_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1668 Fix lint
  app/controllers/emancipations_controller.rb
  spec/controllers/emancipations_controller_spec.rb
  spec/factories/casa_case.rb
  spec/requests/emancipations_request_spec.rb
  spec/system/case_contacts/followups/resolve_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1669 Durabilize new admin create
  app/controllers/all_casa_admins/casa_admins_controller.rb
  app/controllers/casa_admins_controller.rb
  app/services/create_casa_admin_service.rb
  scripts/create_casa_admin.rb
  spec/system/all_casa_admins/casa_orgs/casa_admins/new_spec.rb
  spec/system/casa_admins/new_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1671 Follow up for PR #1661
  app/models/casa_org.rb
  app/models/user.rb
  app/views/all_casa_admins/casa_orgs/show.html.erb
Labels: ruby

#1676 Fix court report case contact date filtering to know that cc court date is in the FUTURE
  app/controllers/case_court_reports_controller.rb
  app/models/case_court_report.rb
  spec/models/case_court_report_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1677 Fixes Case Contact checkboxes
  app/views/case_contacts/_form.html.erb
  spec/system/case_contacts/new_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1682 Fix filter to allow no-prefix cases
  app/views/casa_cases/index.html.erb
  spec/system/casa_cases/index_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1683 Differentiate icon shown for transition_age_youth and non_transition_…
  app/decorators/casa_case_decorator.rb
  app/javascript/src/dashboard.js
  app/models/casa_case.rb
  app/views/casa_cases/index.html.erb
  app/views/casa_cases/show.html.erb
  app/views/case_assignments/index.html.erb
  app/views/case_contacts/index.html.erb
  app/views/volunteers/edit.html.erb
  spec/decorators/casa_case_decorator_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1688 Allow court report without supervisor
  app/models/case_court_report.rb
  spec/models/case_court_report_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1711 Only create notification for case contact creator
  app/controllers/case_contacts/followups_controller.rb
  spec/requests/followups_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1690 update emancipation request tests
  spec/requests/emancipations_request_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1713 Test update and file name corrected
  app/views/casa_cases/_filter.html.erb
  app/views/casa_cases/index.html.erb
  spec/views/casa_cases/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1714 Supervisor/admin can download already generated court reports #1398 (part 2)
  app/controllers/case_court_reports_controller.rb
  app/models/casa_case.rb
  app/models/past_court_date.rb
  app/views/casa_cases/edit.html.erb
  app/views/casa_cases/show.html.erb
  spec/factories/past_court_date.rb
  spec/requests/case_court_reports_spec.rb
  spec/system/casa_cases/edit_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1672 1257 move more text to en.yml
  app/views/casa_cases/show.html.erb
  app/views/case_contacts/index.html.erb
  app/views/case_contacts/new.html.erb
  config/locales/en.yml
  cypress/integration/volunteer/new_case_contact.spec.js
  spec/views/case_contacts/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1696 1590 sad path test coverage emancipation
  spec/controllers/emancipations_controller_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1717 Reduce repetition in tests
  spec/controllers/emancipations_controller_spec.rb
  spec/models/casa_case_spec.rb
  spec/models/case_contact_report_spec.rb
  spec/models/case_contact_spec.rb
  spec/models/user_spec.rb
  spec/requests/all_casa_admins_spec.rb
  spec/requests/case_contacts_spec.rb
  spec/requests/emancipation_checklists_request_spec.rb
  spec/requests/emancipations_request_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1721 Redirect to the volunteer edit page after creating a volunteer
  app/controllers/volunteers_controller.rb
  spec/requests/volunteers_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1719 yarn upgrade
  yarn.lock
Labels: dependencies, javascript

#1718 bundle update
  Gemfile.lock
Labels: dependencies

#1742 Add a message to the supervisor weekly email if they have no volunteers
  app/mailers/supervisor_mailer.rb
  app/views/supervisor_mailer/weekly_digest.html.erb
Labels: ruby

#1743 Let admin edit contact types like a supervisor
  app/controllers/casa_cases_controller.rb
  app/policies/casa_case_policy.rb
  app/views/casa_cases/_form.html.erb
  spec/policies/casa_case_policy_spec.rb
  spec/views/casa_cases/edit.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1749 Hiding Judge and Hearing Type When Null - Issue #1705
  app/models/casa_case.rb
  app/views/casa_cases/show.html.erb
Labels: ruby

#1763 Imported data updates existing records
  app/lib/importers/case_importer.rb
  app/lib/importers/file_importer.rb
  app/lib/importers/supervisor_importer.rb
  app/lib/importers/volunteer_importer.rb
  spec/lib/importers/case_importer_spec.rb
  spec/lib/importers/volunteer_importer_spec.rb
  spec/requests/imports_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1732 Supervisor weekly emails account for volunteers being unassinged from cases in part
  app/decorators/casa_case_decorator.rb
  app/decorators/case_assignment_decorator.rb
  app/views/supervisor_mailer/weekly_digest.html.erb
  spec/mailers/supervisor_mailer_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1766 Allows any supervisor to edit/update case_contact
  app/policies/case_contact_policy.rb
  spec/policies/case_contact_policy_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1768 Re-remove filters for volunteer viewing their cases
  app/controllers/casa_cases_controller.rb
  app/policies/casa_case_policy.rb
  app/views/casa_cases/_filter.html.erb
  app/views/casa_cases/index.html.erb
  bin/rails
  spec/requests/casa_cases_spec.rb
  spec/system/dashboard/show_spec.rb
  spec/views/casa_cases/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1774 [#1759] Remove transition_aged_youth column from CSV file when importing a case
  app/lib/importers/case_importer.rb
  app/models/casa_case.rb
  public/casa_cases.csv
  spec/fixtures/casa_cases.csv
  spec/fixtures/existing_casa_case.csv
  spec/lib/importers/case_importer_spec.rb
Labels: Tests! 🎉💖👏, ruby
