Repository rubyforgood/casa, pull requests merged in 2021-06, with the labels that each got.

#2090 Handle error when generating court report fails
  app/controllers/case_court_reports_controller.rb
Labels: ruby

#2098 Fix email alt text
  app/views/devise/mailer/reset_password_instructions.html.erb
  app/views/layouts/mailer.html.erb
Labels: erb

#2095 [#1741] Generate past court reports from past court date
  app/controllers/past_court_dates_controller.rb
  app/documents/templates/default_past_court_date_template.docx
  app/models/past_court_date.rb
  app/views/past_court_dates/show.html.erb
  config/locales/views.en.yml
  spec/models/past_court_date.rb
  spec/requests/past_court_dates_spec.rb
  spec/views/past_court_dates/show.html.erb_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2099 Fix seed and cypress
  README.md
  db/seeds/db_populator.rb
Labels: ruby

#2103 Js deps
  package-lock.json
  yarn.lock
Labels: dependencies, javascript

#2126 Fix redirect bug from redirecting user with only one case, the case i…
  app/models/user.rb
  spec/models/all_casa_admins/casa_org_metrics_spec.rb
  spec/models/volunteer_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2114 Do not hide Generate Report button
  app/javascript/src/casa_case.js
  spec/system/casa_cases/show_spec.rb
  spec/system/case_court_reports/index_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#2110 Change Court Report dropdown to searchable dropdown
  app/decorators/casa_case_decorator.rb
  app/javascript/packs/application.js
  app/javascript/src/select.js
  app/javascript/src/tooltip.js
  app/views/casa_cases/show.html.erb
  app/views/case_court_reports/index.html.erb
  app/views/volunteers/edit.html.erb
  cypress/integration/volunteer/generate_court_report.spec.js
  spec/system/case_court_reports/index_spec.rb
Labels: Tests! 🎉💖👏, erb, javascript, ruby

#2113 Style Set password screen
  app/javascript/src/stylesheets/application.scss
  app/javascript/src/stylesheets/pages/password.scss
  app/views/devise/invitations/edit.html.erb
  app/views/devise/passwords/edit.html.erb
Labels: erb

#2132 Implement pending past court date model specs
  app/models/past_court_date.rb
  spec/models/past_court_date_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2133 [#2121] Fix reset password mail hardcoded image
  app/views/devise/mailer/reset_password_instructions.html.erb
  lib/mailers/previews/devise_mailer_preview.rb
Labels: erb, ruby

#2136 [#2115] Allow unsetting judge on a given CASA case
  app/views/casa_cases/_form.html.erb
  spec/system/casa_cases/edit_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2140 Change header of Edit Case page to include case number
  app/views/casa_cases/_form.html.erb
  app/views/casa_cases/edit.html.erb
  config/locales/views.en.yml
  spec/views/casa_cases/edit.html.erb_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2104 Faster spec
  spec/policies/casa_case_policy_spec.rb
  spec/views/all_casa_admins/casa_orgs/show.html.erb_spec.rb
  spec/views/case_contacts/case_contact.html.erb_spec.rb
  spec/views/case_contacts/edit.html.erb_spec.rb
  spec/views/case_contacts/new.html.erb_spec.rb
  spec/views/emancipations/show.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2141 Create readme table of contents
  .gitignore
  README.md
  package.json
  yarn.lock
Labels: dependencies, javascript

#2147 Refactor inline style out of volunteers/index view file
  app/javascript/src/stylesheets/shared/dashboard.scss
  app/views/volunteers/index.html.erb
Labels: erb

#2148 Refactor inline styles in mailer layout file
  app/views/layouts/mailer.html.erb
Labels: erb

#2149 Supervisor Importer should generate failure message instead of stacktrace
  app/lib/importers/supervisor_importer.rb
  spec/lib/importers/supervisor_importer_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2153 replaced icon button with text button
  app/javascript/src/stylesheets/pages/casa_cases.scss
  app/views/casa_cases/_form.html.erb
  spec/system/casa_cases/edit_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2158 Move "Past Court Dates" section and make Create/Update button more obvious
  app/views/casa_cases/_form.html.erb
  app/views/casa_cases/_past_court_dates.html.erb
  app/views/casa_cases/edit.html.erb
  app/views/casa_cases/show.html.erb
  config/locales/views.en.yml
  spec/support/shared_examples/shows_past_court_dates_links.rb
  spec/system/casa_cases/edit_spec.rb
  spec/system/casa_cases/new_spec.rb
  spec/system/casa_cases/show_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2159 Refactor inline styles out of application layout
  app/javascript/src/stylesheets/application.scss
  app/javascript/src/stylesheets/shared/noscript.css
  app/views/layouts/application.html.erb
  config/webpacker.yml
Labels: erb

#2160 Refactor inline css out of case_contacts/_form
  app/views/case_contacts/_form.html.erb
Labels: erb

#2143 tune search text for cases for court reports
  app/decorators/casa_case_decorator.rb
  config/locales/views.en.yml
  spec/system/case_court_reports/index_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2161 assetlinks.json for android app association
  config/routes.rb
  public/assetlinks.json
Labels: ruby

#2146 minor refactors and reformatting preparatory to past court dates
  app/controllers/casa_cases_controller.rb
  app/helpers/date_helper.rb
  app/models/casa_case.rb
  app/views/casa_cases/_form.html.erb
  lib/tasks/scheduler.rake
Labels: erb, ruby

#2163 remove html/json format specification where it is not used (defaults to html)
  app/controllers/all_casa_admins/casa_orgs_controller.rb
  app/controllers/casa_cases_controller.rb
  app/controllers/casa_orgs_controller.rb
  app/controllers/case_contacts_controller.rb
  app/controllers/contact_types_controller.rb
  app/controllers/hearing_types_controller.rb
  app/controllers/judges_controller.rb
Labels: ruby

#2162 Minor reformatting in erb for casa case
  app/views/casa_cases/_filter.html.erb
  app/views/casa_cases/_form.html.erb
  app/views/casa_cases/_inactive_case.html.erb
  app/views/casa_cases/_past_court_dates.html.erb
  app/views/casa_cases/show.html.erb
  spec/system/casa_cases/edit_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2171 Renames "Generate Report" menu entry
  app/views/layouts/_sidebar.html.erb
  config/locales/views.en.yml
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2168 Refactor inline styles for casa_admin_mailer/account_setup
  app/views/casa_admin_mailer/account_setup.html.erb
  lib/mailers/previews/casa_admin_mailer_preview.rb
  spec/mailers/casa_admin_mailer_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2167 New Cypress test for creating a new case contact
  cypress/integration/volunteer/new_case_contact.spec.js
  package.json
  yarn.lock
Labels: Tests! 🎉💖👏, dependencies, javascript

#2180 android asset link key uses environment variable
  app/controllers/android_app_associations_controller.rb
  public/assetlinks.json
Labels: ruby

#2166 [#1071] Add filters for case contacts
  Gemfile
  Gemfile.lock
  app/controllers/case_contacts_controller.rb
  app/models/case_contact.rb
  app/presenters/case_contact_presenter.rb
  app/views/case_contacts/index.html.erb
  config/locales/models.en.yml
  config/locales/views.en.yml
  spec/models/case_contact_spec.rb
  spec/system/case_contacts/index_spec.rb
  spec/views/case_contacts/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, dependencies, erb, ruby

#2176 [#2150] Restrict case court report searching to admins and supervisors
  app/views/case_court_reports/index.html.erb
  config/locales/views.en.yml
  cypress/integration/volunteer/generate_court_report.spec.js
  spec/system/case_court_reports/index_spec.rb
Labels: Tests! 🎉💖👏, erb, javascript, ruby

#2181 created test to check if /.well-known/assetlinks.json renders a json file
  spec/requests/android_app_associations_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2183 Localization support index volunteer
  app/views/volunteers/index.html.erb
  config/locales/views.en.yml
Labels: erb

#2184 [#2150] Make it possible to unset hearing type for a case
  app/views/casa_cases/_form.html.erb
  spec/system/casa_cases/edit_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2173 Court report case search option text format change
  app/decorators/casa_case_decorator.rb
  spec/system/case_court_reports/index_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2199 Remove links to nowhere in mailers
  app/views/devise/mailer/reset_password_instructions.html.erb
  app/views/layouts/mailer.html.erb
  cypress/integration/volunteer/generate_court_report.spec.js
Labels: Tests! 🎉💖👏, erb, javascript

#2206 [#2119] Add notes to followups
  app/controllers/case_contacts/followups_controller.rb
  app/javascript/src/case_contact.js
  app/javascript/src/stylesheets/pages/case_contacts.scss
  app/models/followup.rb
  app/notifications/followup_notification.rb
  app/views/case_contacts/_followup.html.erb
  app/views/notifications/index.html.erb
  config/locales/en.yml
  db/migrate/20210624125750_add_note_to_followups.rb
  db/schema.rb
  spec/requests/followups_spec.rb
  spec/system/case_contacts/followups/create_spec.rb
  spec/system/notifications/index_spec.rb
Labels: Tests! 🎉💖👏, erb, javascript, ruby

#2192 Refactor inline CSS into a <style> element in deactivation mail
  app/views/casa_admin_mailer/deactivation.html.erb
  lib/mailers/previews/casa_admin_mailer_preview.rb
Labels: erb, ruby

#2213 Changes "Volunteer Assignments" fields
  app/models/user.rb
  app/views/supervisors/index.html.erb
  spec/system/supervisors/index_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby
