Repository rubyforgood/casa, pull requests merged in 2021-11, with the labels that each got.

#2879 Lint fixes
  app/controllers/case_court_reports_controller.rb
  app/controllers/concerns/accessible.rb
  app/helpers/template_helper.rb
  db/migrate/20200329050100_create_casa_cases.rb
  db/migrate/20200329062155_devise_create_users.rb
  db/migrate/20200329064203_add_role_to_user.rb
  db/migrate/20200329071025_change_casa_case_teen_to_required.rb
  db/migrate/20200329071327_change_casa_case_number_to_required.rb
  db/migrate/20200329071626_add_unique_index_on_case_case_number.rb
  db/migrate/20200329074655_create_supervisor_volunteers.rb
  db/migrate/20200329081206_create_case_assignments.rb
Labels: ruby

#2874 Li/2865 unused routes
  app/controllers/casa_cases_controller.rb
  config/application.rb
  config/routes.rb
Labels: ruby

#2878 Display changed attributes
  app/controllers/casa_cases_controller.rb
  app/javascript/src/stylesheets/shared/flashes.scss
  app/models/casa_case.rb
  spec/requests/casa_cases_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2899 Issue 2894: Bug: No Attempt (14 Days) Not Reflecting Correct Volunteer Numbers
  app/models/user.rb
  spec/models/user_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2900 [2893] Add translation keys for reimbursement queue headers
  config/locales/views.en.yml
  spec/views/reimbursements/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2898 Makes case number required when creating new casa cases
  app/views/casa_cases/_form.html.erb
Labels: erb

#2896 reimbursement scoping to casa org
  app/controllers/application_controller.rb
  app/controllers/case_contacts_controller.rb
  app/controllers/reimbursements_controller.rb
  app/models/case_contact.rb
  app/policies/application_policy.rb
  app/policies/casa_admin_policy.rb
  app/policies/case_assignment_policy.rb
  app/policies/case_contact_policy.rb
  spec/controllers/reimbursements_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2904 Remove functionality that locks old case contacts and shows them as a…
  app/models/case_contact.rb
  app/views/case_contacts/_case_contact.html.erb
  config/locales/views.en.yml
  spec/models/case_contact_spec.rb
  spec/system/case_contacts/edit_spec.rb
  spec/system/case_contacts/index_spec.rb
  spec/views/case_contacts/case_contact.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2875 Add json response for CasaCase actions that hits the database
  app/controllers/casa_cases_controller.rb
  spec/requests/casa_cases_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2912 Added USD indicator to mileage rate form field.
  app/views/mileage_rates/_form.html.erb
Labels: erb

#2916 Standardized Bootstrap 4 html for radio buttons.
  app/views/case_contacts/_form.html.erb
Labels: erb

#2915 Cleaned up Status filter on supervisors index.
  app/views/supervisors/index.html.erb
Labels: erb

#2910 Added "accept" attribute to org logo field.
  app/views/casa_orgs/edit.html.erb
Labels: erb

#2921 Fixes supervisor weekly digest send on Monday spec.
  spec/lib/tasks/supervisor_weekly_digest_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2914 Adds basic Bootstrap 4 styling for all check boxes.
  app/views/casa_cases/_form.html.erb
  app/views/casa_orgs/edit.html.erb
  app/views/contact_type_groups/_form.html.erb
  app/views/contact_types/_form.html.erb
  app/views/hearing_types/_form.html.erb
  app/views/judges/_form.html.erb
  app/views/mileage_rates/_form.html.erb
Labels: erb

#2923 Add json response for all_casa_admins_controller
  app/controllers/all_casa_admins_controller.rb
  spec/requests/all_casa_admins_spec.rb
  spec/requests/casa_cases_spec.rb
  spec/system/supervisors/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2924 2917/standardize filter html
  app/views/casa_cases/_filter.html.erb
  app/views/casa_cases/_filter_my_cases.html.erb
  app/views/supervisors/index.html.erb
  app/views/volunteers/index.html.erb
  config/locales/views.en.yml
Labels: erb

#2922 Issues/2415 Add Colored Bars to Supervisor's Screen
  app/javascript/src/dashboard.js
  app/javascript/src/stylesheets/application.scss
  app/javascript/src/stylesheets/pages/supervisors.scss
  app/views/supervisors/index.html.erb
  spec/views/supervisors/index.html.erb_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#2918 Fix email previews
  lib/mailers/previews/casa_admin_mailer_preview.rb
  lib/mailers/previews/devise_mailer_preview.rb
  lib/mailers/previews/supervisor_mailer_preview.rb
  lib/mailers/previews/volunteer_mailer_preview.rb
Labels: ruby

#2934 fix css syntax error
  app/views/supervisors/index.html.erb
Labels: erb

#2936 fix weird t.string `"{:null=>false}"` bug
  db/schema.rb
Labels: ruby

#2939 Add ReimbursementPolicy and apply it to ReimbursementsController
  app/controllers/reimbursements_controller.rb
  app/policies/reimbursement_policy.rb
  app/views/layouts/_sidebar.html.erb
  spec/policies/reimbursement_policy_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2943 Ci fix gross
  spec/system/casa_cases/emancipation/show_spec.rb
  spec/system/supervisors/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2945 sort gems, remove unused github gem source
  Gemfile
Labels: dependencies

#2961 Increase minimum password length
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  app/javascript/__tests__/password_confirmation.test.js
  app/views/devise/passwords/edit.html.erb
  app/views/users/edit.html.erb
  bin/login
  config/initializers/devise.rb
  cypress/integration/volunteer/edit_profile.spec.js
  cypress/support/commands.js
  db/seeds/db_populator.rb
  spec/factories/all_casa_admin.rb
  spec/factories/user.rb
  spec/requests/users_spec.rb
  spec/system/all_casa_admins/edit_spec.rb
  spec/system/all_casa_admins/sessions/new_spec.rb
  spec/system/sessions/new_spec.rb
  spec/system/users/edit_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#2962 Add ReimbursementPolicy::Scope class and apply to ReimbursementsController
  app/controllers/reimbursements_controller.rb
  app/policies/application_policy.rb
  app/policies/reimbursement_policy.rb
  spec/controllers/reimbursements_controller_spec.rb
  spec/policies/reimbursement_policy_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2963 Fix text for supervisor overview page
  app/views/supervisors/index.html.erb
  spec/views/supervisors/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2930 Change casa_org resource to singular
  .app_files_not_needing_spec_files
  app/controllers/casa_org_controller.rb
  app/javascript/src/stylesheets/application.scss
  app/javascript/src/stylesheets/pages/casa_org.scss
  app/models/casa_admin.rb
  app/models/casa_case.rb
  app/models/judge.rb
  app/models/sent_email.rb
  app/views/casa_org/_contact_type_groups.html.erb
  app/views/casa_org/_contact_types.html.erb
  app/views/casa_org/_hearing_types.html.erb
  app/views/casa_org/_judges.html.erb
  app/views/casa_org/_sent_emails.html.erb
  app/views/casa_org/edit.html.erb
  config/locales/views.en.yml
  config/routes.rb
  spec/requests/casa_org_spec.rb
  spec/system/casa_org/edit_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2970 Improve QA seed for volunteer1
  db/seeds/db_populator.rb
Labels: ruby

#2979 Add casa admin endpoints as json
  app/controllers/casa_admins_controller.rb
  app/services/create_casa_admin_service.rb
  spec/requests/casa_admins_spec.rb
Labels: ruby, Tests! 🎉💖👏
