Repository rubyforgood/casa, pull requests merged in 2021-08, with the labels that each got.

#2341 2274 add invite email tests
  spec/system/casa_admins/edit_spec.rb
  spec/system/casa_admins/new_spec.rb
  spec/system/supervisors/edit_spec.rb
  spec/system/supervisors/new_spec.rb
  spec/system/volunteers/edit_spec.rb
  spec/system/volunteers/new_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2339 Fix erblint github action so it will actually fail
  .github/workflows/erb_lint.yml
  app/views/casa_cases/edit.html.erb
  app/views/supervisor_mailer/weekly_digest.html.erb
  app/views/supervisors/edit.html.erb
  app/views/volunteers/edit.html.erb
  config/locales/views.en.yml
Labels: erb

#2338 Fix Brakeman warning for VolunteerDatatable
  app/datatables/volunteer_datatable.rb
  config/brakeman.ignore
Labels: ruby

#2337 Fix failing docker test due to IntegrityError
  spec/support/factory_bot.rb
Labels: ruby

#2327 Messing with PastCourtDate tests for fun and no profit
  app/models/past_court_date.rb
  spec/models/case_contact_spec.rb
  spec/models/past_court_date_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2347 Change Casa Case Transiton Age Youth Value to be Calculated From Birthday.
  app/decorators/casa_case_decorator.rb
  spec/decorators/casa_case_decorator_spec.rb
  spec/system/volunteers/index_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2351 Pending volunteers should include assigned and pending
  app/models/supervisor.rb
  spec/models/supervisor_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2358 Allows generating a court report for a casa case with no active assigned volunteer
  app/controllers/case_court_reports_controller.rb
  app/models/case_court_report.rb
  spec/models/case_court_report_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2365 WIP - 2301 mileage report
  app/controllers/mileage_reports_controller.rb
  app/models/mileage_report.rb
  app/services/mileage_export_csv_service.rb
  app/views/reports/index.html.erb
  config/locales/views.en.yml
  config/routes.rb
  spec/models/mileage_report_spec.rb
  spec/system/reports/export_data_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2372 Fix admin change password bug
  app/controllers/users_controller.rb
  spec/system/users/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2374 Create and update past court dates
  app/controllers/past_court_dates_controller.rb
  app/javascript/src/casa_case.js
  app/javascript/src/stylesheets/application.scss
  app/javascript/src/stylesheets/pages/casa_cases.scss
  app/javascript/src/stylesheets/pages/past_court_dates.scss
  app/models/past_court_date.rb
  app/policies/past_court_date_policy.rb
  app/views/casa_cases/_form.html.erb
  app/views/casa_cases/_past_court_dates.html.erb
  app/views/past_court_dates/_form.html.erb
  app/views/past_court_dates/edit.html.erb
  app/views/past_court_dates/new.html.erb
  app/views/past_court_dates/show.html.erb
  config/locales/views.en.yml
  config/routes.rb
  spec/requests/past_court_dates_spec.rb
  spec/support/shared_examples/shows_past_court_dates_links.rb
  spec/system/casa_cases/edit_spec.rb
  spec/system/past_court_dates/edit_spec.rb
  spec/system/past_court_dates/new_spec.rb
  spec/views/past_court_dates/edit.html.erb_spec.rb
  spec/views/past_court_dates/new.html.erb_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#2377 Fix failing rack attack tests in docker
  config/environments/test.rb
  spec/config/initializers/rack_attack_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2376 Humanize implementation status in generated court report
  app/models/case_court_report.rb
  spec/models/case_court_report_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2375 Add birthdate for CasaCase examples in seed
  db/seeds.rb
  db/seeds/db_populator.rb
Labels: ruby

#2390 fix(): fix duplicate case numbers in assign a new case dropdown
  app/helpers/ui_helper.rb
  spec/helpers/ui_helper_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2392 Ensure past court dates are in the past
  app/models/past_court_date.rb
  spec/factories/past_court_date.rb
  spec/models/past_court_date_spec.rb
  spec/support/shared_examples/shows_past_court_dates_links.rb
Labels: ruby, Tests! 🎉💖👏

#2369 New court report template for montgomery
  app/documents/templates/montgomery_report_template.docx
  app/models/case_court_report.rb
  lib/tasks/deployment/20210811052058_update_montgomery_court_report_template.rake
  spec/models/case_court_report_spec.rb
  spec/requests/case_court_reports_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2398 Add option to send reminder cc to supervisor
  app/controllers/volunteers_controller.rb
  app/javascript/src/stylesheets/shared/form.scss
  app/mailers/volunteer_mailer.rb
  app/views/volunteers/edit.html.erb
  lib/mailers/previews/volunteer_mailer_preview.rb
  spec/mailers/volunteer_mailer_spec.rb
  spec/system/volunteers/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2399 Fix new session view responsiveness
  app/views/devise/sessions/new.html.erb
Labels: erb

#2401 montgomery court report cleanup
  app/decorators/casa_case_decorator.rb
  app/models/casa_case.rb
  app/models/case_court_report.rb
  lib/tasks/deployment/20210811052058_update_montgomery_court_report_template.rake
  spec/models/casa_case_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2403 Fix file download tests in docker (locally)
  .github/workflows/docker.yml
  docker-compose.yml
  spec/support/capybara.rb
Labels: ruby

#2404 Refactor and add admin court report download test
  spec/requests/case_court_reports_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2402 Change question icon tooltips to non-hidden small text
  app/javascript/src/stylesheets/shared/layout.scss
  app/views/case_contacts/_case_contact.html.erb
  spec/system/case_contacts/edit_spec.rb
  spec/system/case_contacts/index_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2405 Prune unused casa case scope
  app/models/casa_case.rb
  spec/models/casa_case_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2421 Changes the name of the case contact CSV
  app/controllers/casa_cases_controller.rb
  spec/controllers/casa_cases_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2423 Makes the case number a link
  app/views/past_court_dates/show.html.erb
  spec/views/past_court_dates/show.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2426 Fix dropdown search in Manage Cases section
  app/javascript/src/select.js
Labels: javascript

#2427 Ability to exclude columns from CaseContactReport
  app/controllers/case_contact_reports_controller.rb
  app/models/case_contact_report.rb
  app/services/case_contacts_export_csv_service.rb
  app/views/reports/_filter.html.erb
  app/views/reports/index.html.erb
  config/locales/views.en.yml
  spec/models/case_contact_report_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2428 Change session timeout from 1hr to 3 hours to accomodate volunteers w…
  config/initializers/devise.rb
Labels: ruby

#2424 reduced database query count for latest_past_court_date
  app/models/casa_case.rb
Labels: ruby

#2454 Fix flaky seed test
  db/seeds/db_populator.rb
Labels: ruby

#2455 Add specs for CasaCase due_date_passed scope
  spec/models/casa_case_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2456 Add password changed email notification
  .gitignore
  app/controllers/all_casa_admins_controller.rb
  app/controllers/users_controller.rb
  app/mailers/casa_admin_mailer.rb
  app/mailers/supervisor_mailer.rb
  app/mailers/user_mailer.rb
  app/mailers/volunteer_mailer.rb
  app/views/layouts/mailer.html.erb
  app/views/user_mailer/password_changed_reminder.html.erb
  spec/mailers/user_mailer_spec.rb
  spec/requests/all_casa_admins_spec.rb
  spec/requests/users_spec.rb
  spec/system/all_casa_admins/edit_spec.rb
  spec/system/users/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2458 Add spacing around Mileage Report button box
  app/views/reports/index.html.erb
Labels: erb

#2459 Show message when notifications are empty
  app/views/notifications/index.html.erb
  config/locales/views.en.yml
  spec/system/notifications/index_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2460 Added an extra test for casa_case. due_date_passed #2422
  spec/models/casa_case_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2487 Thank you message 2326
  app/controllers/case_contacts_controller.rb
  config/locales/en.yml
  spec/controllers/case_contacts_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2496 Enable annotate_rendered_view_with_filenames in development
  config/environments/development.rb
Labels: ruby
