Repository rubyforgood/casa, pull requests merged in 2021-07, with the labels that each got.

#2221 Fix failing system case_contacts test
  spec/system/case_contacts/index_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2220 revert styles to use inline for emails
  app/views/casa_admin_mailer/account_setup.html.erb
  app/views/casa_admin_mailer/deactivation.html.erb
  app/views/layouts/mailer.html.erb
Labels: erb

#2193 add display name to sidebar
  app/views/layouts/_sidebar.html.erb
  spec/system/dashboard/show_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2230 Changed export data page title
  app/views/reports/index.html.erb
Labels: erb

#2197 WIP list sent emails
  app/controllers/casa_orgs_controller.rb
  app/models/sent_email.rb
  app/models/user.rb
  app/views/casa_orgs/_sent_emails.html.erb
  app/views/casa_orgs/edit.html.erb
  config/initializers/sent_email_event.rb
  config/locales/views.en.yml
  db/migrate/20210526233058_create_sent_emails.rb
  db/schema.rb
  spec/factories/sent_emails.rb
  spec/lib/importers/supervisor_importer_spec.rb
  spec/lib/importers/volunteer_importer_spec.rb
  spec/models/sent_email_spec.rb
  spec/models/user_spec.rb
  spec/system/casa_orgs/edit_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2235 Add .nvmrc and autoformat bin/update
  .npmrc
  .nvmrc
  bin/update
  package.json
Labels: dependencies, javascript

#2238 manually pin selenium in gemfile, then run bundle update selenium-web…
  Gemfile
  Gemfile.lock
Labels: dependencies

#2242 Add warnings to email layouts
  app/views/casa_admin_mailer/account_setup.html.erb
  app/views/casa_admin_mailer/deactivation.html.erb
  app/views/devise/mailer/invitation_instructions.html.erb
  app/views/devise/mailer/reset_password_instructions.html.erb
  app/views/layouts/mailer.html.erb
  app/views/supervisor_mailer/account_setup.html.erb
  app/views/supervisor_mailer/deactivation.html.erb
  app/views/supervisor_mailer/weekly_digest.html.erb
  app/views/volunteer_mailer/account_setup.html.erb
  app/views/volunteer_mailer/case_contacts_reminder.html.erb
  app/views/volunteer_mailer/court_report_reminder.html.erb
  app/views/volunteer_mailer/deactivation.html.erb
Labels: erb

#2250 2244 - Updates to test view for HTML escaped characters
  spec/views/past_court_dates/show.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2256 Add localization support for reports index
  app/helpers/report_helper.rb
  app/views/reports/index.html.erb
  config/locales/en.yml
  config/locales/views.en.yml
  spec/helpers/report_helper_spec.rb
  spec/system/reports/case_contact_reports_spec.rb
  spec/system/reports/index_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2257 update volunteer name and case number to be links
  app/views/supervisor_mailer/weekly_digest.html.erb
  spec/mailers/supervisor_mailer_spec.rb
  spec/views/supervisor_mailer/weekly_digest.html.erb_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2263 Refactor inline css of "supervisors/index.html.erb"
  app/javascript/src/stylesheets/shared/layout.scss
  app/views/supervisors/index.html.erb
Labels: erb

#2245 capybara tuning
  Gemfile
  docker-compose.yml
  spec/factories/casa_case.rb
  spec/support/capybara.rb
Labels: dependencies, ruby

#2269 Fix DOM text reinterpreted as HTML
  .github/workflows/codeql-analysis.yml
  app/javascript/src/case_emancipation.js
  spec/system/casa_cases/emancipation/show_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#2267 [#1990] Refactor supervisors system specs
  spec/factories/volunteer.rb
  spec/system/supervisors/index_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2273 close style tags
  app/views/casa_admin_mailer/account_setup.html.erb
  app/views/casa_admin_mailer/deactivation.html.erb
  app/views/devise/mailer/invitation_instructions.html.erb
  app/views/devise/mailer/reset_password_instructions.html.erb
  app/views/layouts/mailer.html.erb
Labels: erb

#2281 Set the expiration date of the invite token to a week
  app/models/all_casa_admin.rb
  spec/system/all_casa_admins/new_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2282 Fix typos in admin account setup email
  app/views/casa_admin_mailer/account_setup.html.erb
Labels: erb

#2280 Removes CSS out of style tag
  app/views/layouts/mailer.html.erb
Labels: erb

#2283 Adds warn in email about expiration date
  app/views/devise/mailer/invitation_instructions.html.erb
  app/views/devise/mailer/invitation_instructions.text.erb
  lib/mailers/previews/devise_mailer_preview.rb
  spec/mailers/casa_admin_mailer_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2284 Prune unused email css
  app/views/devise/mailer/reset_password_instructions.html.erb
  app/views/layouts/mailer.html.erb
Labels: erb

#2288 Change warning text phrasing for all casa admins
  app/views/devise/mailer/invitation_instructions.html.erb
  lib/mailers/previews/devise_mailer_preview.rb
  spec/mailers/casa_admin_mailer_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2291 Add devise_invitable expiration for supervisors and admin
  app/models/casa_admin.rb
  app/models/supervisor.rb
  spec/models/casa_admin_spec.rb
  spec/models/supervisor_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2290 Fix CodeQL alert by escaping HTML message
  app/javascript/src/case_emancipation.js
Labels: javascript

#2295 Fix CodeQL security alert when editing case contacts
  app/javascript/src/case_contact.js
  spec/system/case_contacts/new_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#2292 Warn of link expiration in Invitation Email
  app/views/devise/mailer/invitation_instructions.html.erb
  lib/mailers/previews/devise_mailer_preview.rb
  spec/mailers/casa_admin_mailer_spec.rb
  spec/mailers/supervisor_mailer_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2296 Set production log level to INFO
  config/environments/production.rb
Labels: ruby

#2298 [#2286] Display archived contacts differently in order to highlight them
  app/views/case_contacts/_case_contact.html.erb
  config/locales/views.en.yml
  spec/system/case_contacts/index_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2297 Update email preview
  lib/mailers/previews/devise_mailer_preview.rb
  lib/mailers/previews/supervisor_mailer_preview.rb
  lib/mailers/previews/volunteer_mailer_preview.rb
Labels: ruby

#2302 added previews for development environment?
  config/environments/development.rb
Labels: ruby

#2303 attempt 2 previews in non prod envs
  config/environments/development.rb
Labels: ruby

#2304 Email previews for non prod envs
  config/environments/development.rb
Labels: ruby

#2305 Email previews for non prod envs
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
Labels: ruby

#2307 Add Resend Invite button for Supervisors and Admins
  app/controllers/casa_admins_controller.rb
  app/controllers/supervisors_controller.rb
  app/controllers/volunteers_controller.rb
  app/policies/casa_admin_policy.rb
  app/policies/supervisor_policy.rb
  app/views/casa_admins/_form.html.erb
  app/views/supervisors/_manage_active.html.erb
  app/views/volunteers/_manage_active.html.erb
  config/routes.rb
  spec/policies/casa_admin_policy_spec.rb
  spec/policies/supervisor_policy_spec.rb
  spec/requests/casa_admins_spec.rb
  spec/requests/supervisors_spec.rb
  spec/requests/volunteers_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2306 Email Invitations to volunteers should expire in 1 year
  app/models/volunteer.rb
  app/views/devise/mailer/invitation_instructions.html.erb
  lib/mailers/previews/devise_mailer_preview.rb
  spec/mailers/volunteer_mailer_spec.rb
  spec/models/volunteer_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2314 Add Params to CasaAdmin Mailer Preview
  lib/mailers/previews/casa_admin_mailer_preview.rb
  lib/mailers/previews/devise_mailer_preview.rb
Labels: ruby

#2318 fix account_setup -> case_contacts_reminder
  lib/mailers/previews/volunteer_mailer_preview.rb
Labels: ruby

#2317 Adds "re-invite" button in weekly digest email
  app/controllers/supervisors_controller.rb
  app/controllers/volunteers_controller.rb
  app/models/supervisor.rb
  app/services/create_all_casa_admin_service.rb
  app/services/create_casa_admin_service.rb
  app/views/supervisor_mailer/weekly_digest.html.erb
  app/views/volunteers/_manage_active.html.erb
  config/routes.rb
  spec/mailers/supervisor_mailer_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby

#2329 Fix build - bad merge?
  app/controllers/all_casa_admins/casa_admins_controller.rb
  app/controllers/all_casa_admins_controller.rb
  app/controllers/casa_admins_controller.rb
  app/services/create_all_casa_admin_service.rb
  app/services/create_casa_admin_service.rb
  spec/requests/volunteers_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2320 Add docker/build to github actions
  .github/workflows/docker.yml
  docker-compose.yml
  spec/support/capybara.rb
Labels: ruby
