Repository rubyforgood/casa, pull requests merged in 2021-05, with the labels that each got.

#1995 add test coverage for AllCasaAdmins::CasaAdminsController
  spec/requests/all_casa_admins/casa_admins_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1997 Resolves #1745: Recently unassigned volunteers in supervisor weekly email
  app/models/supervisor.rb
  app/views/supervisor_mailer/weekly_digest.html.erb
  spec/views/supervisor_mailer/weekly_digest.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1999 Resolves #1729 - Reassigned volunteers should only show in new super's weekly email
  app/views/supervisor_mailer/weekly_digest.html.erb
  spec/views/supervisor_mailer/weekly_digest.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2000 Add ability to create new All CASA Admin
  app/controllers/all_casa_admins_controller.rb
  app/models/all_casa_admin.rb
  app/services/create_all_casa_admin_service.rb
  app/values/all_casa_admin_parameters.rb
  app/views/all_casa_admins/dashboard/show.html.erb
  app/views/all_casa_admins/new.html.erb
  app/views/devise/mailer/invitation_instructions.html.erb
  app/views/devise/mailer/invitation_instructions.text.erb
  config/routes.rb
  db/migrate/20210502172706_add_devise_invitable_to_all_casa_admins.rb
  db/schema.rb
  spec/requests/all_casa_admins_spec.rb
  spec/system/all_casa_admins/new_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2004 Hide/Show unassigned volunteers on Supervisor Edit page
  app/controllers/supervisors_controller.rb
  app/views/supervisors/edit.html.erb
  spec/requests/supervisors_spec.rb
  spec/system/supervisors/edit_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2005 Added tests to inspect the contents of docx files
  spec/models/case_court_report_spec.rb
  spec/support/word_doc_helper.rb
Labels: Tests! 🎉💖👏, ruby

#2016 New test for editing case contact across organizations
  app/controllers/case_contacts_controller.rb
  spec/system/case_contacts/edit_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2020 Show deactivated label in admin list
  app/views/casa_admins/index.html.erb
  config/locales/views.en.yml
  spec/system/casa_admins/index_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2001 Download Court Report UI Change
  app/views/case_court_reports/index.html.erb
  config/locales/views.en.yml
  spec/system/case_court_reports/index_spec.rb
  spec/views/case_court_reports/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2017 after_party task to fix transition_aged_youth when DOB is nil
  db/seeds/db_populator.rb
  lib/tasks/deployment/20210507200644_fix_transition_aged_youth_for_nil_birth_month_year_youth.rake
Labels: ruby

#2021 Add test for CaseContactPopulator
  lib/tasks/data_post_processors/case_contact_populator.rb
  spec/lib/tasks/data_post_processors/case_contact_populator_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2030 Change supervisor's volunteer list label to match set of volunteers shown Issue 2019
  app/controllers/supervisors_controller.rb
  app/views/supervisors/edit.html.erb
  config/locales/views.en.yml
  spec/system/supervisors/edit_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2036 A supervisor with no active volunteers should be able to view previously assigned volunteers
  app/views/supervisors/edit.html.erb
  spec/system/supervisors/edit_spec.rb
  spec/views/supervisors/edit.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1929 Add a row to the Admin dashboard summary of supervisors for volunteers not assigned to supervisors
  app/controllers/supervisors_controller.rb
  app/views/supervisors/index.html.erb
  spec/system/supervisors/index_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2039 Fix spec
  spec/views/supervisors/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2041 Add no case contacts helper text
  app/views/case_contacts/index.html.erb
  spec/system/case_contacts/index_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2043 Fix yarn linting errors and add yarn test to github workflows
  .github/workflows/yarn_lint.yml
  app/javascript/__tests__/dashboard.test.js
  app/javascript/src/casa_case.js
  app/javascript/src/case_emancipation.js
  app/javascript/src/dashboard.js
  app/javascript/src/emancipations.js
Labels: Tests! 🎉💖👏, javascript

#2042 Add cypress tests for volunteer actions
  .gitignore
  cypress/integration/volunteer/edit_profile.spec.js
  cypress/integration/volunteer/generate_court_report.spec.js
  cypress/support/commands.js
Labels: Tests! 🎉💖👏, javascript

#2046 Allow admins/supervisors to generate court reports for a case
  app/controllers/case_court_reports_controller.rb
  app/javascript/src/casa_case.js
  app/policies/application_policy.rb
  app/views/casa_cases/show.html.erb
  app/views/case_court_reports/index.html.erb
  config/locales/views.en.yml
  cypress/integration/volunteer/generate_court_report.spec.js
  spec/policies/application_policy_spec.rb
  spec/requests/case_court_reports_spec.rb
  spec/system/casa_cases/show_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#2054 Adds trait :with_case_contacts
  spec/factories/casa_case.rb
Labels: ruby

#2055 Cleaned up spec/decorators/case_contact_decorator_spec.rb
  app/views/supervisors/index.html.erb
  spec/decorators/case_contact_decorator_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2061 2012 direct to case contact
  app/controllers/dashboard_controller.rb
  spec/controllers/dashboard_controller_spec.rb
  spec/controllers/emancipations_controller_spec.rb
  spec/requests/dashboard_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2064 cleaned up /spec/lib/importers/supervisor_importer_spec.rb
  spec/fixtures/supervisor_volunteers.csv
  spec/lib/importers/supervisor_importer_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2066 #2009 - reminder email button for supervisor or admin to remind volunteer
  app/controllers/volunteers_controller.rb
  app/javascript/src/stylesheets/pages/casa_cases.scss
  app/javascript/src/stylesheets/shared/layout.scss
  app/mailers/volunteer_mailer.rb
  app/policies/volunteer_policy.rb
  app/views/casa_cases/show.html.erb
  app/views/volunteer_mailer/case_contacts_reminder.html.erb
  app/views/volunteers/edit.html.erb
  config/locales/views.en.yml
  config/routes.rb
  spec/mailers/volunteer_mailer_spec.rb
  spec/system/casa_cases/show_more_spec.rb
  spec/system/volunteers/edit_spec.rb
Labels: Tests! 🎉💖👏, ruby

#2080 [#1739] Add court details to past court dates
  app/controllers/past_court_dates_controller.rb
  app/decorators/past_court_date_decorator.rb
  app/models/case_court_mandate.rb
  app/models/past_court_date.rb
  app/policies/past_court_date_policy.rb
  app/views/casa_cases/edit.html.erb
  app/views/past_court_dates/show.html.erb
  config/locales/views.en.yml
  config/routes.rb
  db/migrate/20210521151549_add_casa_case_details_to_past_court_dates.rb
  db/migrate/20210521194321_add_past_court_date_to_case_court_mandates.rb
  db/schema.rb
  lib/tasks/scheduler.rake
  spec/factories/past_court_date.rb
  spec/policies/past_court_date_policy_spec.rb
  spec/requests/past_court_dates_spec.rb
  spec/system/casa_cases/edit_spec.rb
  spec/views/past_court_dates/show.html.erb_spec.rb
Labels: Tests! 🎉💖👏, erb, ruby
