Repository rubyforgood/casa, pull requests merged in 2021-04, with the labels that each got.

#1881 Fix flaky test
  spec/system/case_contacts/new_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1880 Add lograge to reduce logging so heroku papertrail will chill
  Gemfile
  Gemfile.lock
  config/initializers/lograge.rb
Labels: dependencies, ruby

#1882 fix n+1 query in case contacts report
  app/controllers/casa_cases_controller.rb
  app/models/case_contact_report.rb
  app/services/case_contacts_export_csv_service.rb
Labels: ruby

#1888 allow admin to soft delete case contacts and restore
  Gemfile
  Gemfile.lock
  app/controllers/case_contacts_controller.rb
  app/models/case_contact.rb
  app/policies/casa_admin_policy.rb
  app/policies/case_contact_policy.rb
  app/views/casa_cases/show.html.erb
  app/views/case_contacts/_case_contact.html.erb
  app/views/case_contacts/index.html.erb
  config/routes.rb
  db/migrate/20210401161710_add_deleted_at_to_case_contacts.rb
  db/schema.rb
  spec/controllers/case_contacts_controller_spec.rb
Labels: Tests! 🎉💖👏, dependencies, ruby

#1893 bundle update and yarn update
  Gemfile.lock
  yarn.lock
Labels: dependencies, javascript

#1899 add more condition to display the delete and undelete button
  app/policies/case_contact_policy.rb
  app/views/case_contacts/_case_contact.html.erb
Labels: ruby

#1894 Fix the n+1 in case contacts page
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/case_contacts_controller.rb
  app/presenters/base_presenter.rb
  app/presenters/case_contact_presenter.rb
  app/views/casa_cases/show.html.erb
  app/views/case_contacts/index.html.erb
  spec/views/case_contacts/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, dependencies, ruby

#1897 add localization for case_contacts views
  app/views/casa_cases/show.html.erb
  app/views/case_contacts/_case_contact.html.erb
  app/views/case_contacts/_confirm_note_content_dialog.html.erb
  app/views/case_contacts/_followup.html.erb
  app/views/case_contacts/_form.html.erb
  app/views/case_contacts/edit.html.erb
  app/views/case_contacts/index.html.erb
  app/views/case_contacts/new.html.erb
  config/locales/en.yml
  config/locales/views.en.yml
  cypress/integration/volunteer/new_case_contact.spec.js
  spec/views/case_contacts/index.html.erb_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1903 add tests for case contact view delete and undelete buttons
  spec/factories/case_contact.rb
  spec/views/case_contacts/case_contact.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1905 localization for casa cases page
  app/views/casa_cases/_filter.html.erb
  app/views/casa_cases/_filter_my_cases.html.erb
  app/views/casa_cases/_form.html.erb
  app/views/casa_cases/_inactive_case.html.erb
  app/views/casa_cases/_volunteer_assignment.html.erb
  app/views/casa_cases/edit.html.erb
  app/views/casa_cases/index.html.erb
  app/views/casa_cases/new.html.erb
  app/views/casa_cases/show.html.erb
  app/views/case_contacts/_case_contact.html.erb
  config/locales/en.yml
  config/locales/views.en.yml
  spec/system/casa_cases/new_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1892 tiny refactor to decorator
  app/decorators/user_decorator.rb
Labels: ruby

#1904 Volunteer invite and login info expansion
  app/decorators/user_decorator.rb
  app/views/casa_admins/_form.html.erb
  app/views/case_contacts/_case_contact.html.erb
  app/views/case_contacts/_form.html.erb
  app/views/case_contacts/index.html.erb
  app/views/shared/_invite_login.html.erb
  app/views/supervisors/edit.html.erb
  app/views/users/edit.html.erb
  app/views/volunteers/_manage_active.html.erb
  app/views/volunteers/edit.html.erb
  spec/system/users/edit_spec.rb
  spec/system/volunteers/edit_spec.rb
  spec/views/volunteers/edit.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1907 Use invite and login partial for supervisor and admin edit pages
  app/views/casa_admins/_form.html.erb
  app/views/supervisors/edit.html.erb
  spec/system/casa_admins/edit_spec.rb
  spec/system/supervisors/edit_spec.rb
  spec/views/casa_admins/edit.html.erb_spec.rb
  spec/views/supervisors/edit.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1908 [#1734] Add Implementation Status to Court Mandates
  app/decorators/casa_case_decorator.rb
  app/javascript/src/casa_case.js
  app/javascript/src/stylesheets/pages/casa_cases.scss
  app/models/case_court_mandate.rb
  app/policies/casa_case_policy.rb
  app/views/casa_cases/_form.html.erb
  db/migrate/20210401182359_add_implementation_status_to_edit_case_court_mandates.rb
  db/schema.rb
  spec/factories/case_court_mandates.rb
  spec/requests/casa_cases_spec.rb
  spec/system/casa_cases/edit_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1895 hide deactivated volunteers from weekly supervisor digest email
  app/views/supervisor_mailer/weekly_digest.html.erb
  spec/views/supervisor_mailer/weekly_digest.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1924 Fix multitenant bug
  app/models/casa_case.rb
  spec/models/casa_case_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1916 Make supervisors deactivate-able
  app/controllers/supervisors_controller.rb
  app/mailers/supervisor_mailer.rb
  app/models/supervisor.rb
  app/policies/supervisor_policy.rb
  app/views/supervisor_mailer/account_setup.html.erb
  app/views/supervisor_mailer/deactivation.html.erb
  app/views/supervisors/_manage_active.html.erb
  app/views/supervisors/edit.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/system/supervisors/edit_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1928 Move erb_lint to development and test groups in Gemfile
  .erb-lint.yml
  .github/workflows/erb_lint.yml
  Gemfile
Labels: dependencies

#1936 show error on failed case cort report generation when template is not found
  app/controllers/case_court_reports_controller.rb
  app/views/case_court_reports/index.html.erb
  config/locales/controllers.en.yml
Labels: ruby

#1937 fix case court report appointed date format
  app/models/case_court_report.rb
Labels: ruby

#1938 #1392 Fix: Disable duplicated contact type
  Gemfile.lock
  app/models/contact_type.rb
  spec/models/contact_type_spec.rb
Labels: Tests! 🎉💖👏, dependencies, ruby

#1939 Remove unneeded mimemagic dependency from Gemfile.lock
  Gemfile.lock
Labels: dependencies

#1940 Link to CasaOrg logo with Rails path helper
  app/models/casa_org.rb
  db/seeds/db_populator.rb
  spec/models/casa_org_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1957 Corrects Date written field
  config/locales/en.yml
  spec/models/case_court_report_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1961 Fix: Load wrong casa cases when editing volunteer
  app/javascript/src/casa_case.js
  app/javascript/src/case_contact.js
  app/models/casa_case.rb
  package-lock.json
  package.json
Labels: dependencies, javascript, ruby

#1963 Add court report generation tests
  app/documents/templates/default_report_template.docx
  app/models/case_court_report.rb
  spec/requests/case_court_reports_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1953 1866-seed-court-mandates
  app/models/case_court_mandate.rb
  db/seeds.rb
  db/seeds/casa_org_populator_presets.rb
  db/seeds/db_populator.rb
  spec/seeds/seeds_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1976 refactored docx xml inspection code into function
  spec/rails_helper.rb
  spec/requests/case_court_reports_spec.rb
  spec/support/word_doc_helper.rb
Labels: Tests! 🎉💖👏, ruby

#1980 Increase case contact edit window to be end of quarter plus 30 days
  app/models/case_contact.rb
  app/views/case_contacts/_case_contact.html.erb
  spec/models/case_contact_spec.rb
  spec/system/case_contacts/edit_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1981 Quit filtering out all cases without prefixes, i.e. all of Montgomery…
  app/javascript/src/dashboard.js
  spec/system/casa_cases/index_spec.rb
Labels: Tests! 🎉💖👏, javascript, ruby

#1979 Updates ruby to 3.0.1
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  app/decorators/casa_case_decorator.rb
  app/views/casa_cases/_form.html.erb
  app/views/casa_cases/show.html.erb
  doc/LINUX_SETUP.md
Labels: dependencies, ruby

#1987 Add court mandates to case details view
  app/views/casa_cases/show.html.erb
  config/locales/views.en.yml
  spec/views/casa_cases/show.html.erb_spec.rb
  spec/views/case_contacts/case_contact.html.erb_spec.rb
Labels: Tests! 🎉💖👏, ruby

#1994 add test coverage for VolunteerMailer
  spec/mailers/volunteer_mailer_spec.rb
Labels: Tests! 🎉💖👏, ruby
