Repository rubyforgood/casa, pull requests merged in 2021-12, with the labels that each got.

#2981 minor refactors and additional error display for All-casa-admins
  app/controllers/all_casa_admins/casa_orgs_controller.rb
  spec/system/all_casa_admins/casa_orgs/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2989 Add judge to QA seed
  db/seeds.rb
  db/seeds/db_populator.rb
  spec/seeds/seeds_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2998 bundlez cleanup
  Gemfile
  Gemfile.lock
Labels: dependencies

#3000 Don't show deactivated supervisors in Edit Volunteer dropdown for assigning supervisors
  app/controllers/volunteers_controller.rb
  spec/system/volunteers/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3002 Fix test name
  spec/models/user_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3006 Update failing spec following weekly digest copy changes
  app/views/supervisor_mailer/weekly_digest.html.erb
  spec/views/supervisor_mailer/weekly_digest.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3005 Add columns User Count and Case Contact Count to ALL Casa Admin dashboard
  README.md
  app/models/casa_org.rb
  app/views/all_casa_admins/dashboard/show.html.erb
  spec/models/casa_org_spec.rb
  spec/system/all_casa_admins/dashboard/show_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3007 #2882: Add 'Change to Admin' button
  app/controllers/supervisors_controller.rb
  app/models/supervisor.rb
  app/policies/supervisor_policy.rb
  app/views/supervisors/_manage_active.html.erb
  config/routes.rb
  spec/models/supervisor_spec.rb
  spec/policies/supervisor_policy_spec.rb
  spec/requests/supervisors_spec.rb
  spec/system/supervisors/edit_spec.rb
  spec/views/supervisors/edit.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3010 Empty new miles driven input
  app/views/case_contacts/_form.html.erb
  app/views/case_contacts/edit.html.erb
  app/views/case_contacts/new.html.erb
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2966 2889 change add2calendar btn
  app/javascript/packs/application.js
  app/javascript/src/addToCalendarButton.js
  app/javascript/src/stylesheets/pages/casa_cases.scss
  app/views/casa_cases/_calendar_button.html.erb
  app/views/casa_cases/show.html.erb
  app/views/layouts/application.html.erb
  package.json
  spec/system/casa_cases/show_spec.rb
  yarn.lock
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏, erb

#2999 Add optional Additional Expense to case contact form
  app/controllers/case_contact_reports_controller.rb
  app/controllers/case_contacts_controller.rb
  app/decorators/case_contact_decorator.rb
  app/models/additional_expense.rb
  app/models/casa_admin.rb
  app/models/casa_case.rb
  app/models/case_contact.rb
  app/models/judge.rb
  app/models/sent_email.rb
  app/values/case_contact_parameters.rb
  app/views/case_contacts/_form.html.erb
  config/locales/views.en.yml
  config/scout_apm.yml
  db/migrate/20211203181342_create_additional_expenses.rb
  db/schema.rb
  spec/controllers/case_contacts_controller_spec.rb
  spec/factories/additional_expenses.rb
  spec/models/additional_expense_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3008 Add missing specs to the emancipation controller
  app/controllers/emancipations_controller.rb
  app/models/casa_case.rb
  spec/controllers/emancipations_controller_spec.rb
  spec/requests/emancipations_request_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3021 yarn upgrade
  yarn.lock
Labels: dependencies, javascript

#3031 Added hearing type to court dates list.
  app/views/casa_cases/_court_dates.html.erb
Labels: erb

#3001 Switch to use date picker on New Court Date page (finish roelof wobben pr 2973)
  app/views/court_dates/_form.html.erb
  spec/policies/case_contact_policy/scope_spec.rb
  spec/system/all_casa_admins/dashboard/show_spec.rb
  spec/system/court_dates/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2973 Switch to use date picker on New Court Date page
  app/views/court_dates/_form.html.erb
Labels: erb

#3043 AllCasaAdmins::CasaOrgsController responds as json
  app/controllers/all_casa_admins/casa_orgs_controller.rb
  spec/requests/all_casa_admins/casa_orgs_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3044 [#2957] Add .webp to casa org logo accepted extensions
  app/views/casa_org/edit.html.erb
  spec/system/casa_org/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3048 Remove the accidental new miles driven requirement and go back to defaulting to 0
  app/controllers/case_contacts_controller.rb
  app/javascript/src/addToCalendarButton.js
  app/values/case_contact_parameters.rb
  app/views/case_contacts/_form.html.erb
  spec/controllers/case_contacts_controller_spec.rb
  spec/factories/case_contact.rb
  spec/system/case_contacts/new_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#3041 Tweak bar graph styles on supervisor index
  app/javascript/src/stylesheets/pages/supervisors.scss
  app/views/supervisors/index.html.erb
Labels: erb

#3051 #3012 Added tests for the health class
  spec/models/health_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3045 Add thank you modal for casa_case#show
  app/controllers/case_contacts_controller.rb
  app/helpers/application_helper.rb
  app/javascript/packs/application.js
  app/javascript/src/casa_case.js
  app/views/casa_cases/_thank_you_modal.html.erb
  app/views/casa_cases/show.html.erb
  app/views/layouts/application.html.erb
  spec/controllers/case_contacts_controller_spec.rb
  spec/requests/case_contacts_spec.rb
  spec/system/case_contacts/new_spec.rb
  spec/views/casa_cases/show.html.erb_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#3049 Use match array to reduce flakiness in array comparisons
  spec/models/casa_case_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3061 Upgrade to ruby 3.1.0
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  doc/LINUX_SETUP.md
Labels: dependencies
