Repository rubyforgood/casa, pull requests merged in 2021-10, with the labels that each got.

#2666 Handle empty implementation status for court orders while generating report
  app/documents/templates/default_report_template.docx
  app/models/case_court_report.rb
  spec/models/case_court_report_spec.rb
Labels: Type: Bug, :paperclip: Reports, ruby, Tests! 🎉💖👏

#2670 Remove Supervisor deactivation email from list of previews
  app/views/supervisor_mailer/deactivation.html.erb
  lib/mailers/previews/supervisor_mailer_preview.rb
Labels: ruby, erb

#2668 Sort hearing types alphabetically
  app/models/hearing_type.rb
  spec/models/hearing_type_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2674 Add Text to Supervisor and Admin Reactivation Messages
  app/controllers/all_casa_admins/casa_admins_controller.rb
  app/controllers/casa_admins_controller.rb
  app/controllers/supervisors_controller.rb
  spec/requests/all_casa_admins/casa_admins_spec.rb
  spec/requests/supervisors_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2669 Remove All Return to Dashboard Buttons
  app/helpers/ui_helper.rb
  app/views/all_casa_admins/casa_admins/_form.html.erb
  app/views/all_casa_admins/casa_orgs/new.html.erb
  app/views/casa_admins/_form.html.erb
  app/views/case_contacts/_form.html.erb
  app/views/supervisors/new.html.erb
  app/views/volunteers/_form.html.erb
  config/locales/views.en.yml
  spec/views/case_contacts/new.html.erb_spec.rb
  spec/views/supervisors/new.html.erb_spec.rb
  spec/views/volunteers/new.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2671 Clarify Password Change Failure Message
  app/controllers/all_casa_admins_controller.rb
  app/controllers/users_controller.rb
  app/views/shared/_error_messages.html.erb
  config/locales/devise.en.yml
  spec/system/users/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2673 Change Mileage Report Filenames to have Human Readable Datestamps
  app/controllers/mileage_reports_controller.rb
  spec/support/download_helpers.rb
  spec/system/reports/export_data_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2679 Default sort judges alphabetically
  app/models/judge.rb
  spec/models/judge_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2680 Add Column to Manage Volunteers Chart on Edit Supervisor Page Reflecting Current Supervisor for Unassigned Volunteers
  app/views/supervisors/edit.html.erb
  config/locales/views.en.yml
  spec/system/supervisors/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2682 case contact notes autosaver only deletes saved notes after a successful submit
  app/javascript/src/case_contact_autosave.js
  spec/system/case_contacts/new_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏

#2685 Display symbols for implementation status of court mandate orders in case detail page
  app/models/case_court_mandate.rb
  app/views/casa_cases/show.html.erb
  spec/system/casa_cases/show_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2678 2354 Fix "pick displayed columns" spacing issue after supervisor choice
  Gemfile.lock
  app/javascript/src/stylesheets/shared/layout.scss
Labels: dependencies

#2688 Group and organize contact types on Edit Case Details page
  app/decorators/casa_case_decorator.rb
  app/models/casa_case.rb
  app/views/casa_cases/_form.html.erb
  app/views/case_contacts/_contact_types.html.erb
  app/views/case_contacts/_form.html.erb
  spec/system/casa_cases/edit_spec.rb
  spec/system/casa_cases/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#2687 Increase court mandates textarea size
  app/javascript/src/casa_case.js
  app/javascript/src/stylesheets/pages/casa_cases.scss
Labels: javascript

#2690 Improve mobile UI for volunteers table
  app/javascript/src/dashboard.js
Labels: javascript

#2686 Add json response functionality Starting with 'POST /casa_cases' route
  app/controllers/casa_cases_controller.rb
  spec/requests/casa_cases_spec.rb
Labels: ruby, Tests! 🎉💖👏

#2701 change volunteer table order default
  app/javascript/src/dashboard.js
Labels: javascript

#2700 Fix seed transition aged youth
  db/seeds/db_populator.rb
Labels: ruby

#2870 revive spec
  spec/requests/mileage_rates_spec.rb
Labels: ruby, Tests! 🎉💖👏
