Repository rubyforgood/casa, pull requests merged in 2022-01, with the labels that each got.

#3070 CasaOrgsController also responds as json
  app/controllers/casa_org_controller.rb
  spec/requests/casa_org_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3071 Typo and js loading hotfix
  app/helpers/application_helper.rb
  app/javascript/packs/application.js
  app/javascript/src/casa_case.js
  app/views/casa_cases/_thank_you_modal.html.erb
  app/views/casa_cases/show.html.erb
  app/views/layouts/application.html.erb
  spec/views/casa_cases/show.html.erb_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#2944 Add delayed jobs
  Gemfile
  Gemfile.lock
  bin/delayed_job
  config/environments/production.rb
  db/migrate/20211230033457_create_delayed_jobs.rb
  db/schema.rb
  lib/tasks/example_recurring_task.rb
  lib/tasks/recurring_jobs.rake
Labels: dependencies, ruby

#2954 Show correct date when editing an existing court date
  app/decorators/court_date_decorator.rb
  app/views/casa_cases/_court_dates.html.erb
  app/views/court_dates/_form.html.erb
  spec/support/shared_examples/shows_court_dates_links.rb
  spec/system/court_dates/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3084 HTML escape display name on spec expectation
  spec/datatables/supervisor_datatable_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3085 Rounded corners on supervisor bars fix
  app/javascript/src/stylesheets/pages/supervisors.scss
  app/javascript/src/stylesheets/shared/layout.scss
  app/views/supervisors/index.html.erb
Labels: erb

#3086 Fix build
  app/views/supervisors/index.html.erb
  spec/system/court_dates/edit_spec.rb
  spec/views/supervisors/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3091 Revert "Bump faker from 5.5.3 to 6.6.6"
  package.json
  yarn.lock
Labels: dependencies, javascript

#3092 maybe these gems will be happy on CI
  Gemfile.lock
Labels: dependencies

#3097 Add current user info to bugsnag events
  config/initializers/bugsnag.rb
Labels: ruby

#3075 Add feature flags and merge Additional Expenses WIP PR
  .app_files_not_needing_spec_files
  app/controllers/case_contacts_controller.rb
  app/helpers/additional_expense_helper.rb
  app/javascript/packs/add_fields.js
  app/javascript/packs/application.js
  app/models/feature_flag.rb
  app/services/feature_flag_service.rb
  app/values/case_contact_parameters.rb
  app/views/case_contacts/_form.html.erb
  db/migrate/20220105030922_create_feature_flags.rb
  db/schema.rb
  noop
  spec/controllers/case_contacts_controller_spec.rb
  spec/services/feature_flag_service_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#3107 test made more DRY with localization text lookup
  spec/views/casa_cases/edit.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3100 update tests for supervisors bar graph
  app/views/supervisors/index.html.erb
  spec/views/supervisors/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3108 Allow not setting miles driven to set it to 0 by default for better user experience
  app/values/case_contact_parameters.rb
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3050 Refactor CaseContactParameters
  app/controllers/case_contacts_controller.rb
  app/values/case_contact_parameters.rb
  spec/system/casa_cases/show_spec.rb
  spec/values/case_contact_parameters_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3113 test looks for element id instead of text within element
  app/views/casa_cases/_volunteer_assignment.html.erb
  spec/views/casa_cases/edit.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3119 Add https://github.com/ankane/strong_migrations for better migration safety
  Gemfile
  Gemfile.lock
  config/initializers/strong_migrations.rb
Labels: dependencies, ruby

#3123 Add youtube link to volunteer intro mailer
  app/views/volunteer_mailer/account_setup.html.erb
Labels: erb

#3137 Fix incorrect calendar invite dates
  app/decorators/casa_case_decorator.rb
  app/javascript/src/addToCalendarButton.js
  app/views/casa_cases/_calendar_button.html.erb
  app/views/casa_cases/show.html.erb
Labels: javascript, ruby, erb

#3139 Avoid to test classes with parentheses when possible
  spec/datatables/supervisor_datatable_spec.rb
  spec/datatables/volunteer_datatable_spec.rb
  spec/lib/tasks/data_post_processors/case_contact_populator_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3138 Use 'match_array' instead of 'eq' matcher
  spec/models/case_contact_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3143 #2883: Add 'Change to Supervisor' button
  app/controllers/casa_admins_controller.rb
  app/models/casa_admin.rb
  app/policies/casa_admin_policy.rb
  app/views/casa_admins/_form.html.erb
  config/routes.rb
  spec/models/casa_admin_spec.rb
  spec/policies/casa_admin_policy_spec.rb
  spec/requests/casa_admins_spec.rb
  spec/system/casa_admins/edit_spec.rb
  spec/views/casa_admins/edit.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3145 Show emancipation checklist based on youth age
  app/views/casa_cases/show.html.erb
  spec/system/casa_cases/show_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3133 make hearing type a casa case factory trait
  spec/factories/casa_case.rb
  spec/system/casa_cases/edit_spec.rb
  spec/system/volunteers/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3131 Use numbers in tests not logic
  spec/datatables/volunteer_datatable_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3155 #3098: Test active and inactive bar lengths on supervisor index
  spec/views/supervisors/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3101 [#2760] Create Additional Expenses fields to the Case Contact form
  app/controllers/case_contacts_controller.rb
  app/decorators/case_contact_decorator.rb
  app/helpers/additional_expense_helper.rb
  app/javascript/packs/add_fields.js
  app/javascript/packs/application.js
  app/javascript/src/stylesheets/pages/case_contacts.scss
  app/models/case_contact.rb
  app/views/case_contacts/_contact_types.html.erb
  app/views/case_contacts/_form.html.erb
  app/views/case_contacts/new.html.erb
  db/schema.rb
  spec/system/case_contacts/additional_expenses_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#3151 factory tuning casa case judge
  app/models/judge.rb
  spec/factories/casa_case.rb
  spec/models/contact_type_group_spec.rb
  spec/models/contact_type_spec.rb
  spec/models/hearing_type_spec.rb
  spec/models/judge_spec.rb
  spec/models/mileage_rate_spec.rb
  spec/system/casa_cases/edit_spec.rb
  spec/system/volunteers/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3158 #3127 Add notes field to volunteers edit
  app/controllers/notes_controller.rb
  app/models/note.rb
  app/models/user.rb
  app/views/volunteers/_notes.html.erb
  app/views/volunteers/edit.html.erb
  config/locales/views.en.yml
  config/routes.rb
  db/migrate/20220127055733_create_notes.rb
  db/schema.rb
  spec/models/note_spec.rb
  spec/models/user_spec.rb
  spec/system/volunteers/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3163 Remove unnecessary conditional
  app/views/volunteers/edit.html.erb
  spec/system/volunteers/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3142 Update court_report_due_date when a new court_date is added
  app/controllers/court_dates_controller.rb
  spec/requests/court_dates_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3168 Nonexistant translation
  app/views/volunteers/index.html.erb
Labels: erb

#3167 dependency upgrades january
  Gemfile.lock
  yarn.lock
Labels: dependencies, javascript
