Repository rubyforgood/casa, pull requests merged in 2022-06, with the labels that each got.

#3588 Saw there were 3 failing tests that were failing in CI. This fixes them.
  spec/system/case_contacts/edit_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3613 Add new notification and specs, needs scheduling
  .allow_skipping_tests
  app/models/casa_case.rb
  app/notifications/youth_birthday_notification.rb
  app/views/notifications/index.html.erb
  config/locales/en.yml
  lib/tasks/youth_birthday_reminder.rake
  spec/models/casa_case_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3615 3332: Add Case Number to Filename When Downloading Emancipation Checklist
  app/controllers/emancipations_controller.rb
Labels: ruby

#3619 #3314 Enable active_record.has_many_inversing config option
  app/models/case_assignment.rb
  config/application.rb
Labels: ruby

#3620 2311 Limit volunteer mailer previews to only volunteers
  lib/mailers/previews/volunteer_mailer_preview.rb
  spec/mailers/previews/volunteer_mailer_preview_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3614 Add other duties view and controller action
  app/controllers/other_duties_controller.rb
  app/policies/other_duty_policy.rb
  app/views/layouts/_sidebar.html.erb
  app/views/other_duties/index.html.erb
  config/locales/views.en.yml
  config/routes.rb
  public/403.html
  spec/policies/other_duty_policy_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3626 Issue #3590 remove t in app/views/casa_cases/index.html.erb
  app/views/casa_cases/index.html.erb
Labels: erb

#3612 avoid error when trying to assign volunteer to non created casa case
  app/views/casa_cases/_form.html.erb
  spec/system/casa_cases/edit_spec.rb
  spec/system/casa_cases/new_spec.rb
  spec/views/casa_cases/edit.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3625 feat: add telephone field to volunteer and supervisor form
  app/views/supervisors/new.html.erb
  app/views/volunteers/_form.html.erb
Labels: erb

#3630 Refactored the new and edit links for duties - update t() in app/views/casa_cases/_other_duties.html.erb
  app/views/casa_cases/_other_duties.html.erb
Labels: erb

#3581 ISSUE-3339: group reimbursements by creator and occurrence
  app/controllers/reimbursements_controller.rb
  app/views/reimbursements/_table.html.erb
  spec/views/reimbursements/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3355 3235 prince george fostering opportunities fund 2
  app/controllers/fund_requests_controller.rb
  app/mailers/fund_request_mailer.rb
  app/models/casa_org.rb
  app/views/casa_cases/show.html.erb
  app/views/fund_requests/new.html.erb
  config/routes.rb
  db/migrate/20220409184741_add_fund_request.rb
  db/schema.rb
  doc/DOCKER.md
  lib/tasks/deployment/20220409174149_enable_feature_flag_prince_george_fund_request.rake
  spec/controllers/fund_requests_controller_spec.rb
  spec/factories/fund_request.rb
  spec/mailers/fund_request_mailer_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3321 2887 Volunteer Learning Hours
  .allow_skipping_tests
  .github/workflows/rspec.yml
  app/controllers/learning_hours_controller.rb
  app/decorators/learning_hour_decorator.rb
  app/models/learning_hour.rb
  app/models/user.rb
  app/policies/learning_hour_policy.rb
  app/views/layouts/_sidebar.html.erb
  app/views/learning_hours/_confirm_note.html.erb
  app/views/learning_hours/_form.html.erb
  app/views/learning_hours/_update_form.html.erb
  app/views/learning_hours/edit.html.erb
  app/views/learning_hours/index.html.erb
  app/views/learning_hours/new.html.erb
  app/views/learning_hours/show.html.erb
  bin/asset_bundling_scripts/logger.js
  bin/rails
  bin/rake
  bin/setup
  config/locales/views.en.yml
  config/routes.rb
  db/migrate/20220324141758_create_learning_hours.rb
  db/schema.rb
  spec/factories/learning_hours.rb
  spec/models/learning_hour_spec.rb
  spec/requests/learning_hours_spec.rb
  spec/requests/users_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#3633 Issue #3366 - Allow organization logos as .svg images
  app/models/casa_org.rb
  app/services/svg_sanitizer_service.rb
  app/views/casa_org/edit.html.erb
  app/views/layouts/_sidebar.html.erb
  config/application.rb
  spec/fixtures/files/unsafe_svg.svg
  spec/services/svg_sanitizer_service_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3638 Issue #2501 - Generate Contact Types and Hearing Types when creating orgs
  app/controllers/all_casa_admins/casa_orgs_controller.rb
  app/models/casa_org.rb
  app/models/contact_type_group.rb
  app/models/hearing_type.rb
  lib/tasks/data_post_processors/contact_type_populator.rb
  spec/models/casa_org_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3637 Let Supervisors and Admins Hide Case Contacts Made by Previous Volunteers on a Case
  app/controllers/case_assignments_controller.rb
  app/decorators/casa_case_decorator.rb
  app/models/case_assignment.rb
  app/policies/case_assignment_policy.rb
  app/views/casa_cases/_volunteer_assignment.html.erb
  app/views/casa_cases/show.html.erb
  config/routes.rb
  db/migrate/20220607184910_add_hide_old_contacts_to_case_assignment.rb
  db/schema.rb
  spec/requests/case_assignments_spec.rb
  spec/system/casa_cases/show_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3580 Feature/1793 - Quarterly SMS reminder to connect with case_contact_types
  app/models/user_case_contact_types_reminder.rb
  app/services/short_url_service.rb
  config/credentials/development.yml.enc
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
  db/migrate/20220526011848_create_user_case_contact_types_reminders.rb
  db/schema.rb
  lib/tasks/case_contact_types_reminder.rb
  lib/tasks/send_case_contact_types_reminder.rake
  spec/factories/user_case_contact_types_reminders.rb
  spec/lib/tasks/case_contact_types_reminder_spec.rb
  spec/models/user_case_contact_types_reminder_spec.rb
  spec/services/short_url_service_spec.rb
  spec/services/twilio_service_spec.rb
  spec/support/webmock_helper.rb
Labels: ruby, Tests! 🎉💖👏, :iphone: SMS, codethechange

#3641 Feature/1887 Volunteer receives SMS notification when their account is reactivated by admin
  app/controllers/volunteers_controller.rb
  app/policies/volunteer_policy.rb
  app/views/volunteers/_manage_active.html.erb
  config/routes.rb
  spec/requests/volunteers_spec.rb
  spec/support/webmock_helper.rb
Labels: ruby, Tests! 🎉💖👏, erb, codethechange

#3643 Issue #2655 - Auto save all New Case Contact form fields
  app/javascript/src/case_contact_autosave.js
  spec/system/case_contacts/new_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏

#3645 Improve sms specs
  spec/factories/sms_notification_events.rb
  spec/factories/user_sms_notification_events.rb
  spec/models/sms_notification_event_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3621 Feature/1784 - All users recieve account activation SMS
  app/controllers/application_controller.rb
  app/controllers/casa_admins_controller.rb
  app/controllers/supervisors_controller.rb
  app/controllers/volunteers_controller.rb
  app/models/casa_admin.rb
  app/models/casa_case_contact_type.rb
  app/models/case_assignment.rb
  app/models/case_contact.rb
  app/models/case_contact_contact_type.rb
  app/models/contact_type.rb
  app/models/contact_type_group.rb
  app/models/court_date.rb
  app/models/emancipation_option.rb
  app/models/hearing_type.rb
  app/models/judge.rb
  app/models/supervisor.rb
  app/models/supervisor_volunteer.rb
  app/models/user.rb
  app/models/volunteer.rb
  config/initializers/constants.rb
  db/schema.rb
  spec/factories/casa_org.rb
  spec/lib/tasks/case_contact_types_reminder_spec.rb
  spec/requests/casa_admins_spec.rb
  spec/requests/supervisors_spec.rb
  spec/requests/volunteers_spec.rb
  spec/services/short_url_service_spec.rb
  spec/services/twilio_service_spec.rb
  spec/support/stubbed_requests/short_io_api.rb
  spec/support/stubbed_requests/twilio_api.rb
  spec/support/stubbed_requests/webmock_helper.rb
  spec/support/webmock_helper.rb
Labels: ruby, Tests! 🎉💖👏, :iphone: SMS, codethechange

#3649 Add arm64-darwin-21 platform back
  Gemfile.lock
Labels: dependencies

#3644 Issue #3039 - Casa Cases Missing Data Report
  app/controllers/missing_data_reports_controller.rb
  app/models/missing_data_report.rb
  app/services/missing_data_export_csv_service.rb
  app/views/reports/index.html.erb
  config/locales/views.en.yml
  config/routes.rb
  spec/controllers/missing_data_reports_controller_spec.rb
  spec/factories/casa_case.rb
  spec/models/missing_data_report_spec.rb
  spec/services/missing_data_export_csv_service_spec.rb
  spec/system/reports/export_data_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3652 Create Patch Note Types
  app/models/patch_note_type.rb
  db/migrate/20220615015056_create_patch_note_types.rb
  db/schema.rb
  db/seeds/patch_note_type_data.rb
  lib/tasks/deployment/20220615020226_create_initial_patch_note_types.rake
  spec/factories/patch_note_types.rb
  spec/models/patch_note_type_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3655 3568 admin edits the default court report checklist
  .allow_skipping_tests
  app/controllers/checklist_items_controller.rb
  app/models/casa_admin.rb
  app/models/casa_case_contact_type.rb
  app/models/case_assignment.rb
  app/models/case_contact.rb
  app/models/case_contact_contact_type.rb
  app/models/checklist_item.rb
  app/models/contact_type.rb
  app/models/contact_type_group.rb
  app/models/court_date.rb
  app/models/emancipation_option.rb
  app/models/hearing_type.rb
  app/models/judge.rb
  app/models/supervisor.rb
  app/models/supervisor_volunteer.rb
  app/models/user.rb
  app/models/volunteer.rb
  app/policies/checklist_item_policy.rb
  app/views/casa_org/_hearing_types.html.erb
  app/views/checklist_items/_form.html.erb
  app/views/checklist_items/edit.html.erb
  app/views/checklist_items/new.html.erb
  app/views/hearing_types/_form.html.erb
  config/routes.rb
  db/migrate/20220610221701_create_checklist_items.rb
  db/migrate/20220616021404_add_checklist_updated_date_to_hearing_types.rb
  db/schema.rb
  db/seeds/db_populator.rb
  spec/factories/checklist_items.rb
  spec/models/checklist_item_spec.rb
  spec/models/hearing_type_spec.rb
  spec/policies/checklist_item_policy_spec.rb
  spec/requests/checklist_items_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3692 Issue #3667 - Learning Hours Report
  app/controllers/learning_hours_reports_controller.rb
  app/models/learning_hours_report.rb
  app/services/learning_hours_export_csv_service.rb
  app/views/reports/index.html.erb
  config/locales/views.en.yml
  config/routes.rb
  spec/controllers/learning_hours_reports_controller_spec.rb
  spec/models/learning_hours_report_spec.rb
  spec/services/learning_hours_export_csv_service_spec.rb
  spec/system/reports/export_data_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3691 case contact occurred date suggestion correction
  app/javascript/__tests__/case_contact.test.js
  app/javascript/src/case_contact.js
Labels: javascript, Tests! 🎉💖👏

#3695 Refactored checklist item policy
  app/policies/checklist_item_policy.rb
Labels: ruby

#3694 Issue #3666 - Display total Learning Hours in the last year
  app/models/volunteer.rb
  app/views/shared/_invite_login.html.erb
  spec/models/volunteer_spec.rb
  spec/services/missing_data_export_csv_service_spec.rb
  spec/system/volunteers/edit_spec.rb
  spec/views/volunteers/edit.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3662 Fix: SMS Notification event selection not disabled when notifications are turned off
  app/javascript/application.js
  spec/system/users/edit_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, codethechange

#3656 #1794 Volunteer receives SMS reminder to submit court report
  app/models/volunteer.rb
  app/services/court_report_due_sms_reminder_service.rb
  lib/tasks/court_report_due_reminder.rake
  spec/models/volunteer_spec.rb
  spec/services/court_report_due_sms_reminder_service_spec.rb
  spec/support/stubbed_requests/short_io_api.rb
  spec/support/stubbed_requests/twilio_api.rb
Labels: ruby, Tests! 🎉💖👏

#3700 feature #3616 - "Set your account" password link in SMS activation messages
  .allow_skipping_tests
  app/controllers/application_controller.rb
  app/controllers/casa_admins_controller.rb
  app/controllers/supervisors_controller.rb
  app/controllers/volunteers_controller.rb
  app/helpers/api_base_helper.rb
  app/helpers/request_header_helper.rb
  app/helpers/sms_body_helper.rb
  app/services/short_url_service.rb
  config/initializers/constants.rb
  spec/controllers/application_controller_spec.rb
  spec/helpers/sms_body_helper_spec.rb
  spec/requests/casa_admins_spec.rb
  spec/requests/supervisors_spec.rb
  spec/requests/volunteers_spec.rb
  spec/support/stubbed_requests/short_io_api.rb
Labels: ruby, Tests! 🎉💖👏, :iphone: SMS, codethechange

#3699 Organizational Concern Tests
  .allow_skipping_tests
  spec/controllers/concerns/organizational_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3624 Issue #2884, #2885: Add/Update Address Field used for mileage reimbursement
  app/controllers/case_contacts_controller.rb
  app/javascript/src/case_contact.js
  app/models/address.rb
  app/models/casa_case.rb
  app/models/case_contact.rb
  app/models/user.rb
  app/values/case_contact_parameters.rb
  app/values/user_parameters.rb
  app/views/case_contacts/_form.html.erb
  app/views/shared/_edit_form.html.erb
  db/migrate/20220602215632_create_addresses.rb
  db/schema.rb
  spec/factories/casa_case.rb
  spec/models/address_spec.rb
  spec/requests/case_contacts_spec.rb
  spec/system/case_contacts/edit_spec.rb
  spec/system/case_contacts/new_spec.rb
  spec/system/volunteers/edit_spec.rb
  spec/views/casa_admins/edit.html.erb_spec.rb
  spec/views/case_contacts/edit.html.erb_spec.rb
  spec/views/case_contacts/new.html.erb_spec.rb
  spec/views/supervisors/edit.html.erb_spec.rb
  spec/views/volunteers/edit.html.erb_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#3701 Capture selenium screenshot output so they are viewable in Github Actions
  .github/workflows/docker.yml
  .github/workflows/rspec.yml
  Gemfile.lock
Labels: dependencies

#3702 Rename factories to be plural because that's what I'm used to as normal
  spec/factories/all_casa_admins.rb
  spec/factories/casa_admins.rb
  spec/factories/casa_case_contact_types.rb
  spec/factories/casa_cases.rb
  spec/factories/casa_orgs.rb
  spec/factories/case_assignments.rb
  spec/factories/case_contacts.rb
  spec/factories/contact_types.rb
  spec/factories/court_dates.rb
  spec/factories/feature_flags.rb
  spec/factories/followups.rb
  spec/factories/fund_requests.rb
  spec/factories/hearing_types.rb
  spec/factories/sent_emails.rb
  spec/factories/supervisors.rb
  spec/factories/users.rb
  spec/factories/volunteers.rb
  spec/system/casa_org/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3703 Added policy scope for hearing types
  app/controllers/checklist_items_controller.rb
  app/policies/hearing_type_policy.rb
Labels: ruby

#3705 Issue #2886: Make mileage reimbursement address exportable
  app/services/mileage_export_csv_service.rb
  spec/models/mileage_report_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3713 Nicer UI validation for requiring name for judge so we don't have to …
  app/views/judges/_form.html.erb
Labels: erb

#3717 Shorten link to Edit Hearing Type
  app/views/casa_org/_hearing_types.html.erb
  config/locales/views.en.yml
Labels: erb

#3670 Create Patch Note Groups
  app/models/patch_note_group.rb
  db/migrate/20220618042137_create_patch_note_groups.rb
  db/schema.rb
  spec/factories/patch_note_groups.rb
  spec/models/patch_note_group_spec.rb
  spec/models/patch_note_type_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3726 require hearing type name
  app/views/hearing_types/_form.html.erb
  spec/views/hearing_types/edit.html.erb_spec.rb
  spec/views/hearing_types/new.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3727 Added test for hearing type policy scope
  db/schema.rb
  spec/policies/hearing_type_policy_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3721 bundle update
  Gemfile.lock
Labels: dependencies

#3718 Remove translations
  app/views/imports/index.html.erb
Labels: erb
