Repository rubyforgood/casa, pull requests merged in 2022-02, with the labels that each got.

#3177 Adjust "CaseContact.has_transitioned" scope reference column
  app/models/case_contact.rb
  spec/models/case_contact_report_spec.rb
  spec/models/case_contact_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3159 Disable form for unassigned volunteers
  app/views/supervisors/edit.html.erb
  spec/system/supervisors/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3186 Avoid stranding a case contact that occurs on the court date itself
  app/models/case_court_report.rb
  spec/models/case_court_report_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3202 Move form text to locale yaml
  app/views/all_casa_admins/casa_admins/_form.html.erb
  app/views/all_casa_admins/casa_admins/edit.html.erb
  app/views/all_casa_admins/casa_orgs/new.html.erb
  app/views/all_casa_admins/edit.html.erb
  app/views/all_casa_admins/new.html.erb
  app/views/casa_admins/_form.html.erb
  app/views/casa_cases/_form.html.erb
  app/views/casa_org/edit.html.erb
  app/views/case_contacts/_contact_types.html.erb
  app/views/case_contacts/_form.html.erb
  app/views/contact_type_groups/_form.html.erb
  app/views/contact_types/_form.html.erb
  app/views/court_dates/_form.html.erb
  app/views/hearing_types/_form.html.erb
  app/views/judges/_form.html.erb
  app/views/mileage_rates/_form.html.erb
  app/views/reimbursements/_table.html.erb
  app/views/shared/_court_order_list.erb
  app/views/supervisors/edit.html.erb
  app/views/supervisors/new.html.erb
  app/views/users/edit.html.erb
  app/views/volunteers/_form.html.erb
  app/views/volunteers/edit.html.erb
  app/views/volunteers/index.html.erb
  config/locales/en.yml
  config/locales/views.en.yml
  spec/system/casa_admins/edit_spec.rb
  spec/system/casa_admins/new_spec.rb
  spec/system/casa_cases/new_spec.rb
  spec/system/mileage_rates/mileage_rates_spec.rb
  spec/system/supervisors/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3210 use datepicker instead of select for court report due date selection
  app/views/casa_cases/_form.html.erb
  spec/system/casa_cases/edit_spec.rb
  spec/system/casa_cases/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3213 Add m1 deps
  Gemfile.lock
Labels: dependencies

#3187 Remove usage of deprecated field TAY in new casa case creation
  app/views/casa_cases/_form.html.erb
  spec/system/casa_cases/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3218 Let Supervisors and Admins Delete Future Court Dates #3215
  app/controllers/court_dates_controller.rb
  app/policies/court_date_policy.rb
  app/views/court_dates/show.html.erb
  config/routes.rb
  spec/controllers/court_dates_controller_spec.rb
  spec/system/court_dates/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3228 Remove notes from local storage after submitting case contact
  app/javascript/src/case_contact_autosave.js
  spec/system/case_contacts/new_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏

#3220 3124 use occurred at date in reimbursement queue headers
  Gemfile.lock
  app/views/reimbursements/_table.html.erb
  config/locales/views.en.yml
  noop
  spec/system/reimbursements/reimbursements_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏, erb

#3221 Stop accepting old TAY
  app/controllers/casa_cases_controller.rb
  app/models/casa_admin.rb
  app/models/casa_case.rb
  db/migrate/20220223035901_remove_null_check_deprecated_field.rb
  db/schema.rb
  spec/requests/casa_cases_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3237 3235 prince george fostering opportunities fund
  .allow_skipping_tests
  app/controllers/fund_requests_controller.rb
  app/mailers/fund_request_mailer.rb
  app/models/fund_request.rb
  app/views/fund_request_mailer/send_request.html.erb
  app/views/fund_requests/new.html.erb
  app/views/layouts/fund_layout.html.erb
  config/initializers/sent_email_event.rb
  config/routes.rb
  db/migrate/20220226040507_create_fund_request.rb
  db/schema.rb
  spec/controllers/fund_requests_controller_spec.rb
  spec/mailers/fund_request_mailer_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3240 Raise error in rspec for missing translations
  app/views/court_dates/_form.html.erb
  config/environments/test.rb
  config/locales/views.en.yml
Labels: ruby, erb

#3244 Real PDF for Fund Request
  .allow_skipping_tests
  Gemfile
  Gemfile.lock
  app/mailers/fund_request_mailer.rb
  app/services/fdf_inputs_service.rb
  app/views/fund_request_mailer/send_request.html.erb
  app/views/fund_requests/new.html.erb
  config/database.yml
  config/initializers/extensions.rb
  data/fund_request.pdf
  data/inputs_fdf.erb
  lib/ext/pdf_forms.rb
  spec/support/pdf_helpers.rb
Labels: dependencies, ruby, erb

#3251 Add CourtDate field to New CasaCase form
  app/controllers/casa_cases_controller.rb
  app/models/casa_case.rb
  app/views/casa_cases/_form.html.erb
  spec/system/casa_cases/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb
