Repository rubyforgood/casa, pull requests merged in 2022-12, with the labels that each got.

#4202 Site update notes now appear in notifications
  app/controllers/notifications_controller.rb
  app/helpers/notifications_helper.rb
  app/views/notifications/_patch_notes.html.erb
  app/views/notifications/index.html.erb
  spec/factories/patch_note_groups.rb
  spec/helpers/notifications_helper_spec.rb
  spec/views/notifications/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4243 rename mileage reimbursement address
  app/views/shared/_edit_form.html.erb
  spec/system/volunteers/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4253 Issue4223 add banner after case contact creation
  app/helpers/court_dates_helper.rb
  app/views/casa_cases/_thank_you_modal.html.erb
  spec/factories/casa_cases.rb
  spec/helpers/court_dates_helper_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4275 fix no notifications message appearing when there are only patch notes
  app/views/notifications/index.html.erb
  spec/requests/notifications_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4276 Fix patch notes section appearing when there are no patch notes, fixed patch notes viewable after deploy
  app/models/patch_note.rb
  app/views/notifications/index.html.erb
  spec/requests/notifications_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4286 Chore/add new description on new language page
  app/views/languages/_form.html.erb
Labels: erb

#4298 Created not_found(404) and internal_server_error(500) pages.
  app/controllers/errors_controller.rb
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  config/application.rb
  config/routes.rb
  spec/controllers/errors_controller_spec.rb
  spec/requests/errors_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4301 added Type & description to New Case Contact Type
  app/views/contact_types/_form.html.erb
  app/views/contact_types/new.html.erb
Labels: erb

#4299 Fix DocxInspector "contains_in_order"
  spec/support/docx_inspector.rb
Labels: ruby

#4289 4244 lists a supervisor's volunteers that have not signed in, in 30 days to weekly digest
  app/models/user.rb
  app/views/supervisor_mailer/weekly_digest.html.erb
  spec/models/user_spec.rb
  spec/views/supervisor_mailer/weekly_digest.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4339 4119 fix wrong butterfly
  Gemfile.lock
  app/datatables/volunteer_datatable.rb
  spec/datatables/volunteer_datatable_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏

#4345 Add new plainadmin theme to the mileage_rates views
  app/views/mileage_rates/_form.html.erb
  app/views/mileage_rates/edit.html.erb
  app/views/mileage_rates/index.html.erb
  app/views/mileage_rates/new.html.erb
Labels: erb

#4346 Add new plainadmin theme to the judges form
  app/views/judges/_form.html.erb
Labels: erb

#4340 4312 new theme contact types pages
  app/views/contact_types/_form.html.erb
  app/views/contact_types/new.html.erb
Labels: erb

#4344 Followup PR @ 4298
  app/controllers/errors_controller.rb
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  config/application.rb
  config/routes.rb
  public/500.html
  spec/controllers/errors_controller_spec.rb
  spec/requests/errors_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4347 Add new plainadmin theme to the languages form
  app/views/languages/_form.html.erb
Labels: erb

#4348 Add plainadmin theme: new contact type group form
  app/views/contact_type_groups/_form.html.erb
Labels: erb

#4349 4305 new theme casa admins pages
  app/views/casa_admins/_form.html.erb
  app/views/casa_admins/index.html.erb
  app/views/shared/_edit_form.html.erb
  app/views/shared/_error_messages.html.erb
  app/views/shared/_invite_login.html.erb
Labels: erb

#4350 Applied new theme to reports page
  app/javascript/src/reports.js
  app/views/reports/_filter.html.erb
  app/views/reports/index.html.erb
  app/views/static/index.html.erb
Labels: javascript, erb

#4356 refactory index.html.erb to new theme
  app/views/case_court_reports/index.html.erb
Labels: erb

#4355 Prompt for both past and future court dates when none exist
  app/helpers/court_dates_helper.rb
  app/views/casa_cases/_thank_you_modal.html.erb
  spec/helpers/court_dates_helper_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4351 Require Pundit authorization for all controller methods
  app/controllers/all_casa_admins_controller.rb
  app/controllers/application_controller.rb
  app/controllers/other_duties_controller.rb
  app/policies/other_duty_policy.rb
  spec/factories/other_duty.rb
  spec/policies/other_duty_case_policy/scope_spec.rb
  spec/requests/other_duties_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4354 4222/allow new case without court date
  app/controllers/casa_cases_controller.rb
  app/javascript/application.js
  app/javascript/src/new_casa_case.js
  app/views/casa_cases/_form.html.erb
  spec/system/casa_cases/new_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#4365 Add plainadmin theme to hearing_types pages
  app/views/hearing_types/_form.html.erb
  app/views/shared/_error_messages.html.erb
Labels: erb

#4368 fix select2 component and button size
  app/assets/stylesheets/application.scss
  app/javascript/src/select.js
  app/views/case_court_reports/index.html.erb
  package.json
  yarn.lock
Labels: dependencies, javascript, erb

#4375 Only export volunteers that belong to user's organization
  app/controllers/reports_controller.rb
  app/services/volunteers_emails_export_csv_service.rb
  spec/services/volunteers_emails_export_csv_service_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4377 refactory duties page
  app/views/other_duties/_form.html.erb
  app/views/other_duties/index.html.erb
Labels: erb

#4367 add new theme to supevisors view
  app/views/shared/_invite_login.html.erb
  app/views/shared/_manage_volunteers.html.erb
  app/views/supervisors/_manage_active.html.erb
  app/views/supervisors/edit.html.erb
  app/views/supervisors/new.html.erb
Labels: erb

#4366 New style for checklist item new and edit pages
  app/views/checklist_items/_form.html.erb
Labels: erb

#4364 Applied new theme to user edit page.
  app/views/users/_languages.html.erb
  app/views/users/edit.html.erb
Labels: erb

#4379 Adjusted the style for the submit button
  app/views/checklist_items/_form.html.erb
Labels: erb

#4380 add icon to submit button
  app/views/other_duties/_form.html.erb
Labels: erb

#4382 Issue-4328/Adds new theme to volunteers pages
  app/javascript/application.js
  app/javascript/src/dashboard.js
  app/views/shared/_edit_form.html.erb
  app/views/volunteers/_form.html.erb
  app/views/volunteers/_manage_active.html.erb
  app/views/volunteers/_manage_cases.erb
  app/views/volunteers/_manage_supervisor.erb
  app/views/volunteers/_notes.html.erb
  app/views/volunteers/_send_reminder_button.html.erb
  app/views/volunteers/edit.html.erb
  app/views/volunteers/index.html.erb
  app/views/volunteers/new.html.erb
Labels: javascript, erb

#4385 Adds new theme to learning hours pages
  app/views/learning_hours/_confirm_note.html.erb
  app/views/learning_hours/_form.html.erb
  app/views/learning_hours/_update_form.html.erb
  app/views/learning_hours/edit.html.erb
  app/views/learning_hours/index.html.erb
  app/views/learning_hours/new.html.erb
  app/views/learning_hours/show.html.erb
Labels: erb
