Repository rubyforgood/casa, pull requests merged in 2022-07, with the labels that each got.

#3731 update learning_hour model validations
  app/models/learning_hour.rb
  spec/models/learning_hour_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3736 court report tests
  spec/controllers/case_court_reports_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3734 Create patch notes and fill in initial patch note group data
  app/models/patch_note.rb
  app/policies/patch_note_policy.rb
  db/migrate/20220622022147_create_patch_notes.rb
  db/schema.rb
  db/seeds/patch_note_group_data.rb
  lib/tasks/deployment/20220702005957_create_initial_patch_note_groups.rake
  spec/factories/patch_notes.rb
  spec/models/patch_note_spec.rb
  spec/policies/patch_note_policy_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3733 fix checkbox click behaviour
  app/javascript/src/require_communication_preference.js
Labels: javascript

#3732 Fix flaky data report spec
  spec/models/missing_data_report_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3738 Feature/1886 Volunteer receives SMS to notify of follow up generated by admin or supervisor
  .allow_skipping_tests
  app/helpers/sms_body_helper.rb
  app/notifications/delivery_methods/sms.rb
  app/notifications/followup_notification.rb
  app/validators/user_validator.rb
  spec/lib/tasks/case_contact_types_reminder_spec.rb
  spec/lib/tasks/no_contact_made_reminder_spec.rb
  spec/system/users/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3739 Change communication preference text
  app/javascript/src/require_communication_preference.js
Labels: javascript

#3740 Updated case_contact_flagged_msg body
  app/helpers/sms_body_helper.rb
Labels: ruby

#3742 Tests for case court orders controller
  spec/controllers/case_court_orders_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3744 tests for followups controller
  spec/controllers/followups_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3755 case assignments controller tests
  spec/controllers/case_assignments_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3746 remove italics from notes field
  app/views/case_contacts/_form.html.erb
Labels: erb

#3757 Feature 1792 - users can choose to recieve password resets via SMS
  app/controllers/users/passwords_controller.rb
  app/helpers/application_helper.rb
  app/helpers/sms_body_helper.rb
  app/models/casa_case_contact_type.rb
  app/models/case_assignment.rb
  app/models/case_contact.rb
  app/models/case_contact_contact_type.rb
  app/models/contact_type.rb
  app/models/contact_type_group.rb
  app/models/court_date.rb
  app/models/emancipation_option.rb
  app/models/hearing_type.rb
  app/models/judge.rb
  app/models/supervisor.rb
  app/models/supervisor_volunteer.rb
  app/models/user.rb
  app/models/volunteer.rb
  app/views/devise/passwords/new.html.erb
  config/routes.rb
  spec/controllers/users/passwords_controller_spec.rb
  spec/support/stubbed_requests/twilio_api.rb
  spec/system/devise/passwords/new_spec.rb
  spec/views/devise/passwords/new.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, :iphone: SMS, erb, codethechange

#3747 fixed judges not seeding locally
  Gemfile.lock
  db/seeds/db_populator.rb
Labels: dependencies, ruby

#3750 case contacts reports controller tests
  spec/controllers/case_contact_reports_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3754 Update new CASA organization name field to be required
  app/views/all_casa_admins/casa_orgs/new.html.erb
  spec/views/all_casa_admins/casa_orgs/new.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3759 Fix assignment status on Edit Volunteer page
  app/views/volunteers/_manage_cases.erb
  spec/system/volunteers/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3761 changed ui text for other duties duration field
  config/locales/views.en.yml
  package-lock.json
  spec/views/other_duties/edit.html.erb_spec.rb
  spec/views/other_duties/new.html.erb_spec.rb
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏

#3762 unflake test with order non dependant matcher
  spec/models/casa_org_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3772 schema.rb
  db/schema.rb
Labels: ruby

#3776 Issue #3679 Add test for controllers/casa_admins_controller.rb
  .allow_skipping_tests
  app/controllers/case_court_reports_controller.rb
  app/controllers/supervisor_volunteers_controller.rb
  app/models/volunteer.rb
  app/services/fdf_inputs_service.rb
  spec/controllers/casa_admins_controller_spec.rb
  spec/helpers/contact_types_helper_spec.rb
  spec/services/learning_hours_export_csv_service_spec.rb
  spec/support/docx_inspector.rb
  spec/support/factory_bot.rb
  spec/system/casa_cases/show_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3778 Issue #3678: Add test for controllers/application_controller.rb
  spec/controllers/application_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3775 issue #3687: Add test for controllers/concerns/accessible.rb
  .allow_skipping_tests
  spec/controllers/concerns/accessible_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3781 delete package-lock.json
  package-lock.json
Labels: dependencies, javascript

#3788 Case contacts save if additional expenses are blank - updated case contact controller
  app/controllers/case_contacts_controller.rb
Labels: ruby

#3791 Add pagination to reimbursement queue
  app/javascript/application.js
  app/javascript/src/reimbursements.js
  app/views/reimbursements/_table.html.erb
  spec/system/reimbursements/reimbursements_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#3792 Address flaky system specs by disabling Rack::Attack in the test environment
  spec/config/initializers/rack_attack_spec.rb
  spec/support/rack_attack.rb
Labels: ruby, Tests! 🎉💖👏

#3793 add .env gem in project
  .env.example
  .gitignore
  Gemfile
  Gemfile.lock
  bin/setup
  config/database.yml
Labels: dependencies

#3794 add test to casa admin dashboard controller
  spec/controllers/all_casa_admins/dashboard_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏
