Repository rubyforgood/casa, pull requests merged in 2022-10, with the labels that each got.

#4005 3112 Manage volunteer assignments partial
  app/views/casa_cases/_volunteer_assignment.html.erb
  app/views/shared/_manage_volunteers.html.erb
  app/views/supervisors/edit.html.erb
Labels: erb

#4004 Add foreign key on the other_duties table's creator_id
  app/models/other_duty.rb
  db/migrate/20221002103627_add_user_foreign_key_to_other_duties.rb
  db/migrate/20221002103754_validate_add_user_foreign_key_to_other_duties.rb
  db/schema.rb
  spec/models/other_duty_spec.rb
  spec/models/user_spec.rb
Labels: ruby, hacktoberfest-accepted, Tests! 🎉💖👏

#4001 Remove Translations 5: Judges form
  app/views/judges/_form.html.erb
Labels: hacktoberfest-accepted, erb

#4002 Remove Translations 6: Judges edit page
  app/views/judges/edit.html.erb
Labels: hacktoberfest-accepted, erb

#3993 updated t(STRING) instances to requested headers
  app/views/learning_hours/_form.html.erb
  app/views/learning_hours/_update_form.html.erb
Labels: erb

#4007 Resolves 3924 Replace t() with string
  app/views/layouts/_login_header.html.erb
Labels: hacktoberfest-accepted, erb

#4003 Remove Translations 7: Judges new
  app/views/judges/new.html.erb
Labels: hacktoberfest-accepted, erb

#4009 Resolves 3929: Replace t() with string
  app/views/layouts/footers/_not_logged_in.html.erb
Labels: hacktoberfest-accepted, erb

#3963 Issue2952/due date opt field
  .ruby-version
  app/assets/stylesheets/pages/casa_cases.scss
  app/controllers/court_dates_controller.rb
  app/models/court_date.rb
  app/views/casa_cases/_court_dates.html.erb
  app/views/casa_cases/_form.html.erb
  app/views/casa_cases/show.html.erb
  app/views/court_dates/_form.html.erb
  app/views/court_dates/show.html.erb
  db/migrate/20221003202112_add_court_report_due_date_to_court_dates.rb
  db/schema.rb
  lib/tasks/deployment/20221003224029_migrate_court_report_due_date_to_court_dates.rake
  lib/tasks/migrate_court_report_due_date_service.rb
  spec/lib/tasks/migrate_court_report_due_date_service_spec.rb
  spec/system/casa_cases/edit_spec.rb
  spec/system/casa_cases/new_spec.rb
  spec/system/court_dates/edit_spec.rb
  spec/system/court_dates/new_spec.rb
  spec/system/reimbursements/reimbursements_spec.rb
  spec/system/volunteers/index_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4008 Removed unused css class case-list from codebase
  app/views/casa_cases/index.html.erb
  app/views/case_assignments/index.html.erb
  app/views/emancipation_checklists/index.html.erb
  app/views/reimbursements/_reimbursement_complete.html.erb
  app/views/reimbursements/_table.html.erb
  app/views/shared/_manage_volunteers.html.erb
  app/views/volunteers/_manage_cases.erb
  spec/system/volunteers/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4011 Resolves 3927 Replace t() with string
  app/views/layouts/application.html.erb
Labels: hacktoberfest-accepted, erb

#4013 Resolves 3925 Replace t() with string
  app/views/layouts/_mobile_navbar.html.erb
Labels: hacktoberfest-accepted, erb

#4014 Resolves 3933 Replace t() with string
  app/views/learning_hours/index.html.erb
Labels: hacktoberfest-accepted, erb

#4012 Resolves 3926 Replace t() with string
  app/views/layouts/_sidebar.html.erb
Labels: hacktoberfest-accepted, erb

#4024 Load case_contacts/new when the case has no volunteers
  app/views/case_contacts/_form.html.erb
  spec/views/case_contacts/new.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4026 convert volunteers dropdown to searchable select
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/pages/reimbursements.scss
  app/javascript/src/reimbursements.js
  app/views/reimbursements/index.html.erb
  spec/system/reimbursements/reimbursements_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#4016 update typeform urls
  app/views/layouts/footers/_logged_in.html.erb
  app/views/layouts/footers/_not_logged_in.html.erb
  spec/views/layouts/footer.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4031 Fix court order flaky test
  spec/requests/court_dates_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4032 move pick displayed columns button
  app/views/volunteers/index.html.erb
Labels: erb

#4037 prevent null reference error when emailToggle not present
  app/javascript/src/require_communication_preference.js
Labels: javascript

#4036 Howard court report medium type
  app/documents/templates/howard_county_report_template.docx
  app/services/case_contacts_contact_dates.rb
  lib/tasks/deployment/20221009032756_add_medium_type_to_howard_court_report_template.rake
  spec/services/case_contacts_contact_dates_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4029 Rename enum value not_implemented
  app/javascript/__tests__/court_order_list.test.js
  app/javascript/src/court_order_list.js
  app/models/case_court_order.rb
  spec/factories/case_court_orders.rb
  spec/models/case_court_report_spec.rb
  spec/requests/casa_cases_spec.rb
  spec/requests/court_dates_spec.rb
  spec/system/casa_cases/show_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏

#4027 Add Ougai for logging
  Gemfile
  Gemfile.lock
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/lograge.rb
  lib/casa/logger.rb
  package-lock.json
  package.json
  yarn.lock
Labels: dependencies, javascript, ruby

#4038 update controller spec to request spec
  .allow_skipping_tests
  spec/requests/languages_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4039 rewrite missing data reports spec to request spec
  .allow_skipping_tests
  spec/controllers/missing_data_reports_controller_spec.rb
  spec/requests/missing_data_reports_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4033 Feat/add export volunteers emails button
  app/controllers/reports_controller.rb
  app/services/volunteers_emails_export_csv_service.rb
  app/views/reports/index.html.erb
  config/routes.rb
  spec/requests/reports_spec.rb
  spec/services/volunteers_emails_export_csv_service_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4034 Install whenever gem
  Gemfile
  Gemfile.lock
  config/schedule.rb
Labels: dependencies, ruby

#4053 Add date check to emancipation reminder notification task
  lib/tasks/emancipation_checklist_reminder.rake
  spec/lib/tasks/emancipation_checklist_reminder_spec.rb
  spec/system/casa_cases/show_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4059 Use TRANSITION_AGE constant
  db/seeds/db_populator.rb
  lib/tasks/emancipation_checklist_reminder.rake
Labels: ruby

#4057 Fix: missing button bug for adding court dates
  app/views/casa_cases/_court_dates.html.erb
  spec/views/casa_cases/show.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4043 remove translations in views
  .erb-lint.yml
  app/views/learning_hours/_confirm_note.html.erb
  app/views/notes/edit.html.erb
  app/views/notifications/index.html.erb
  app/views/other_duties/_form.html.erb
  app/views/other_duties/edit.html.erb
  app/views/other_duties/new.html.erb
  app/views/reimbursements/_table.html.erb
  app/views/reimbursements/index.html.erb
  app/views/reports/_filter.html.erb
  app/views/reports/index.html.erb
  app/views/supervisors/_manage_active.html.erb
  app/views/supervisors/edit.html.erb
  app/views/supervisors/index.html.erb
  app/views/supervisors/new.html.erb
  app/views/users/edit.html.erb
  app/views/volunteers/_form.html.erb
  app/views/volunteers/_manage_active.html.erb
  app/views/volunteers/_notes.html.erb
  app/views/volunteers/_send_reminder_button.html.erb
  app/views/volunteers/edit.html.erb
  app/views/volunteers/index.html.erb
Labels: erb

#4041 remove translations in controllers, helpers, notifications, presenters
  app/controllers/application_controller.rb
  app/controllers/case_contacts_controller.rb
  app/controllers/case_court_reports_controller.rb
  app/helpers/report_helper.rb
  app/notifications/base_notification.rb
  app/notifications/followup_notification.rb
  app/notifications/followup_resolved_notification.rb
  app/notifications/youth_birthday_notification.rb
  app/presenters/case_contact_presenter.rb
Labels: ruby

#4078 3110 refactor court mandate to court order wherever possible
  app/assets/stylesheets/pages/casa_cases.scss
  app/assets/stylesheets/pages/court_dates.scss
  app/javascript/__tests__/court_order_list.test.js
  app/javascript/src/casa_case.js
  app/javascript/src/court_order_list.js
  app/models/user_reminder_time.rb
  app/views/casa_cases/_form.html.erb
  app/views/court_dates/_form.html.erb
  app/views/shared/_court_order_list.erb
  db/schema.rb
  spec/requests/casa_cases_spec.rb
  spec/system/casa_cases/edit_spec.rb
  spec/system/court_dates/edit_spec.rb
  spec/system/court_dates/new_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#4064 Add models for UserLanguages backfill values
  app/controllers/languages_controller.rb
  app/models/language.rb
  app/models/user.rb
  app/models/user_language.rb
  db/migrate/20221011044911_add_user_languages.rb
  db/migrate/20221012203806_populate_user_languages_from_languages_users.rb
  db/schema.rb
  spec/factories/user_languages.rb
  spec/models/language_spec.rb
  spec/models/user_language_spec.rb
  spec/models/user_spec.rb
  spec/requests/languages_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4054 test scheduler
  config/schedule.rb
  lib/tasks/demo_scheduler.rake
Labels: ruby

#4093 fix for #4084, contact type validation added for create
  app/controllers/casa_cases_controller.rb
  spec/controllers/casa_cases_controller_spec.rb
  spec/requests/casa_cases_spec.rb
  spec/system/casa_cases/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4070 All casa admins can edit a patch note
  app/javascript/src/all_casa_admin/patch_notes.js
Labels: javascript, hacktoberfest-accepted

#4094 Add 'highlight button' to New Case Contact Form
  app/assets/stylesheets/pages/case_contacts.scss
  app/javascript/src/case_contact.js
  app/models/user_reminder_time.rb
  app/views/case_contacts/_form.html.erb
Labels: javascript, Hacktoberfest, ruby, hacktoberfest-accepted, erb

#4090 Change default value of No Supervisor filter to true
  app/views/volunteers/index.html.erb
  spec/system/volunteers/index_spec.rb
Labels: ruby, hacktoberfest-accepted, Tests! 🎉💖👏, erb

#4080 fill casa org policy
  app/policies/casa_org_policy.rb
  spec/policies/casa_org_policy_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4073 Use friendly_id to have slugs CasaCase URLs instead of ids
  Gemfile
  Gemfile.lock
  app/controllers/casa_cases_controller.rb
  app/controllers/case_assignments_controller.rb
  app/controllers/court_dates_controller.rb
  app/controllers/emancipations_controller.rb
  app/controllers/fund_requests_controller.rb
  app/controllers/volunteers_controller.rb
  app/javascript/__tests__/court_order_list.test.js
  app/javascript/src/case_contact_autosave.js
  app/javascript/src/court_order_list.js
  app/javascript/src/require_communication_preference.js
  app/models/casa_case.rb
  app/models/case_court_report.rb
  spec/models/casa_case_spec.rb
  spec/requests/casa_cases_spec.rb
  spec/requests/case_contacts_spec.rb
  spec/requests/volunteers_spec.rb
  spec/system/casa_cases/edit_spec.rb
  spec/system/casa_cases/index_spec.rb
  spec/system/dashboard/show_spec.rb
  spec/system/volunteers/edit_spec.rb
  spec/views/casa_cases/edit.html.erb_spec.rb
  spec/views/court_dates/new.html.erb_spec.rb
  spec/views/court_dates/show.html.erb_spec.rb
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏

#4100 Add showAlert test
  app/javascript/__tests__/casa_case.test.js
  app/javascript/src/casa_case.js
Labels: javascript, Tests! 🎉💖👏

#4104 Fix/preserve case contact notes when editing form
  app/javascript/src/case_contact_autosave.js
  spec/system/case_contacts/edit_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏

#4099 Issue4023: removed court report due date column from casa case table
  app/controllers/court_dates_controller.rb
  app/models/casa_case.rb
  app/models/volunteer.rb
  db/schema.rb
  db/seeds/db_populator.rb
  lib/tasks/deployment/20221003224029_migrate_court_report_due_date_to_court_dates.rake
  lib/tasks/migrate_court_report_due_date_service.rb
  spec/lib/tasks/migrate_court_report_due_date_service_spec.rb
  spec/models/casa_case_spec.rb
  spec/models/volunteer_spec.rb
  spec/requests/court_dates_spec.rb
  spec/system/casa_cases/show_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4111 A system test for patch notes
  spec/system/all_casa_admins/patch_notes/index_spec.rb
Labels: ruby, hacktoberfest-accepted, Tests! 🎉💖👏

#4109 Updated the regex in case_emancipation.js
  app/javascript/src/case_emancipation.js
Labels: javascript

#4102 Change filter to use id
  app/datatables/volunteer_datatable.rb
  app/views/volunteers/index.html.erb
  spec/datatables/volunteer_datatable_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4121 Remove jQuery from two tests so that they run
  app/javascript/__tests__/case_button_states.test.js
Labels: javascript, Tests! 🎉💖👏

#4127 Casa Case Assignment - unassign must respect same_org
  app/policies/case_assignment_policy.rb
  spec/policies/case_assignment_policy_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4128 Add Volunteer Name, Case Transition Aged Status to Volunteers Email Export CSV
  app/services/volunteers_emails_export_csv_service.rb
  spec/services/volunteers_emails_export_csv_service_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4105 Update supervisors policy
  app/policies/supervisor_policy.rb
  spec/policies/supervisor_policy_spec.rb
  spec/requests/supervisors_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4113 Create a system test for creating a patch note
  spec/support/wait_for_ajax.rb
  spec/system/all_casa_admins/patch_notes/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4138 move android app association controller specs to request specs
  .allow_skipping_tests
  spec/controllers/android_app_associations_controller_spec.rb
  spec/requests/android_app_associations_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4116 Add validation for Twilio credentials
  app/models/casa_org.rb
  spec/controllers/casa_org_controller_spec.rb
  spec/controllers/case_court_reports_controller_spec.rb
  spec/requests/casa_org_spec.rb
  spec/requests/case_court_reports_spec.rb
  spec/system/casa_cases/edit_spec.rb
  spec/system/casa_org/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4148 Improved Defaults for Case Selection on Case Contacts page
  app/controllers/case_contacts_controller.rb
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4147 Redirect to Case Contacts page if more than one case is selected.
  app/controllers/case_contacts_controller.rb
  app/decorators/casa_case_decorator.rb
  app/helpers/case_contacts_helper.rb
  app/javascript/src/case_contact.js
  app/views/casa_cases/_thank_you_modal.html.erb
  app/views/case_contacts/index.html.erb
  spec/requests/case_contacts_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#4137 remove all casa admin controller tests and move non-duplicates to req…
  .allow_skipping_tests
  spec/controllers/all_casa_admins_controller_spec.rb
  spec/requests/all_casa_admins_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4140 Refactor full data method for export volunteer emails CSV
  app/services/volunteers_emails_export_csv_service.rb
  spec/services/volunteers_emails_export_csv_service_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4136 Add test to check for emancipation category expansion [#4117]
  app/javascript/src/case_emancipation.js
  spec/system/casa_cases/emancipation/show_spec.rb
  spec/system/emancipations/show_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏

#4056 [WIP] Fix Add Language error on empty language
  app/controllers/languages_controller.rb
  app/controllers/users_controller.rb
  app/policies/language_policy.rb
  app/policies/user_policy.rb
  app/views/users/_languages.html.erb
  config/routes.rb
  spec/policies/language_policy_spec.rb
  spec/policies/user_policy_spec.rb
  spec/requests/languages_spec.rb
  spec/requests/users_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4081 Issue2627 prepwork decouple selection expansion emancipation checklist
  app/javascript/__tests__/case_emancipations.test.js
  app/javascript/src/case_emancipation.js
Labels: javascript, Tests! 🎉💖👏

#4146 Convert heroku scheduler jobs to whenever syntax
  config/schedule.rb
  lib/tasks/demo_scheduler.rake
Labels: ruby
