Repository rubyforgood/casa, pull requests merged in 2022-11, with the labels that each got.

#4132 Only allow admins and supervisors of the same org to show or hide contacts
  app/policies/case_assignment_policy.rb
  spec/policies/case_assignment_policy_spec.rb
Labels: ruby, hacktoberfest-accepted, Tests! 🎉💖👏

#4158 Simplify and hopefully de-flake test for default contact type groups
  spec/models/casa_org_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4176 Add pundit safety checks to FundRequest controller
  .allow_skipping_tests
  app/controllers/fund_requests_controller.rb
  app/policies/fund_request_policy.rb
  app/views/all_casa_admins/patch_notes/index.html.erb
  app/views/fund_requests/new.html.erb
  config/routes.rb
  spec/controllers/fund_requests_controller_spec.rb
  spec/requests/fund_requests_spec.rb
  spec/system/casa_cases/fund_requests/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4164 Issue2627 decouple selection expansion emancipation checklist
  app/assets/stylesheets/pages/emancipation.scss
  app/javascript/src/case_emancipation.js
  app/views/emancipations/show.html.erb
  spec/system/casa_cases/emancipation/show_spec.rb
  spec/system/emancipations/show_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#4169 Fill in tests for Add Language move
  spec/requests/users_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4209 Delete whenever
  Gemfile
  Gemfile.lock
  config/schedule.rb
Labels: dependencies, ruby

#4220 Refactor and fix password bugs
  app/controllers/users/passwords_controller.rb
  spec/controllers/users/passwords_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏
