Repository rubyforgood/casa, pull requests merged in 2022-09, with the labels that each got.

#3881 System tests for checklist item functionality
  spec/system/checklist_items/destroy_spec.rb
  spec/system/checklist_items/edit_spec.rb
  spec/system/checklist_items/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3883 DRY type checking in js
  app/javascript/src/all_casa_admin/patch_notes.js
  app/javascript/src/async_notifier.js
  app/javascript/src/case_emancipation.js
  app/javascript/src/type_checker.js
Labels: javascript

#3885 Fix flaky learning hour test
  spec/services/learning_hours_export_csv_service_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3887 Fix flaky volunteer view test due to html-escaped supervisor name
  spec/views/volunteers/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3888 UI updates after creating a patch note
  app/controllers/all_casa_admins/patch_notes_controller.rb
  app/javascript/src/all_casa_admin/patch_notes.js
  app/javascript/src/type_checker.js
  spec/requests/all_casa_admins/patch_notes_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏

#3857 Change court report select text transitioning to be calculated from birthdate
  app/controllers/case_court_reports_controller.rb
  app/controllers/emancipation_checklists_controller.rb
  app/decorators/casa_case_decorator.rb
  app/models/casa_case.rb
  app/models/user.rb
  spec/decorators/casa_case_decorator_spec.rb
  spec/factories/volunteers.rb
  spec/system/case_court_reports/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3890 Remove has_transitioned? in favor of in_transition_age?
  app/decorators/casa_case_decorator.rb
  app/models/casa_case.rb
  app/models/case_contact.rb
  spec/system/case_court_reports/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3898 Add footer for logged in users
  app/assets/stylesheets/shared/footer.scss
  app/views/layouts/_sidebar.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/footers/_logged_in.html.erb
  config/locales/views.en.yml
  spec/views/layouts/footer.html.erb_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3897 fix additional expense params
  app/controllers/case_contacts_controller.rb
  spec/controllers/case_contacts_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3869 Issue #3837: Track volunteer second languages
  app/assets/stylesheets/shared/dashboard.scss
  app/controllers/casa_cases_controller.rb
  app/controllers/languages_controller.rb
  app/datatables/volunteer_datatable.rb
  app/javascript/src/dashboard.js
  app/models/casa_case.rb
  app/models/casa_case_contact_type.rb
  app/models/casa_org.rb
  app/models/case_assignment.rb
  app/models/case_contact.rb
  app/models/case_contact_contact_type.rb
  app/models/contact_type.rb
  app/models/contact_type_group.rb
  app/models/court_date.rb
  app/models/emancipation_option.rb
  app/models/hearing_type.rb
  app/models/judge.rb
  app/models/language.rb
  app/models/supervisor.rb
  app/models/supervisor_volunteer.rb
  app/models/user.rb
  app/models/user_reminder_time.rb
  app/models/volunteer.rb
  app/policies/casa_case_policy.rb
  app/policies/language_policy.rb
  app/views/casa_org/_languages.html.erb
  app/views/casa_org/edit.html.erb
  app/views/languages/_form.html.erb
  app/views/languages/edit.html.erb
  app/views/languages/new.html.erb
  app/views/users/_languages.html.erb
  app/views/users/edit.html.erb
  app/views/volunteers/index.html.erb
  config/routes.rb
  db/migrate/20220820231119_create_languages.rb
  db/migrate/20220826130829_create_languages_users_join_table.rb
  db/schema.rb
  db/seeds.rb
  db/seeds/db_populator.rb
  lib/tasks/deployment/20220902180609_populate_languages.rake
  spec/controllers/languages_controller_spec.rb
  spec/factories/languages.rb
  spec/models/language_spec.rb
  spec/policies/language_policy_spec.rb
  spec/system/casa_org/edit_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#3900 add policy method for volunteer same org
  app/policies/application_policy.rb
Labels: ruby

#3867 Display message when no other duties are found for volunteers
  app/controllers/other_duties_controller.rb
Labels: ruby

#3907 Reimbursement report improvements
  app/models/mileage_report.rb
  app/services/mileage_export_csv_service.rb
  app/views/reports/index.html.erb
  spec/models/mileage_report_spec.rb
  spec/services/mileage_export_csv_service_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3908 Change columns shown for reimbursement UI
  app/views/reimbursements/_table.html.erb
  app/views/reimbursements/index.html.erb
Labels: erb

#3916 bundle update
  Gemfile.lock
Labels: dependencies

#3943 Add next court date to cases import
  app/lib/importers/case_importer.rb
  public/casa_cases.csv
  spec/fixtures/casa_cases.csv
  spec/fixtures/existing_casa_case.csv
  spec/lib/importers/case_importer_spec.rb
  spec/requests/imports_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3941 Allow supervisor to delete case contact
  app/controllers/case_contacts_controller.rb
  spec/controllers/case_contacts_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3944 Fix transition_aged_youth on Volunteers List
  app/datatables/volunteer_datatable.rb
  spec/datatables/volunteer_datatable_spec.rb
  spec/lib/importers/case_importer_spec.rb
  spec/requests/imports_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3946 Logo linked to website root page
  app/views/layouts/_sidebar.html.erb
Labels: erb

#3951 Ignore blank court orders when saving new/existing court date
  app/controllers/court_dates_controller.rb
  spec/requests/court_dates_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3956 removed localization
  app/views/mileage_rates/index.html.erb
Labels: erb

#3958 removed localization in mileage rates form
  app/views/mileage_rates/_form.html.erb
Labels: erb

#3968 Can delete new patch notes and the editing patch note UI works
  app/assets/stylesheets/pages/patch_notes.scss
  app/javascript/src/all_casa_admin/patch_notes.js
  app/javascript/src/type_checker.js
  bin/asset_bundling_scripts/build_js.js
Labels: javascript

#3978 3973 - Make organization name required
  app/views/casa_org/edit.html.erb
  spec/system/casa_org/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3980 3969 - include CsvExporterHelper in rails_helper
  spec/models/learning_hours_report_spec.rb
  spec/rails_helper.rb
Labels: ruby, Tests! 🎉💖👏

#3977 add validate presence to name of languages
  app/models/language.rb
  app/views/languages/_form.html.erb
  db/migrate/20220924181447_remove_all_empty_languages.rb
  db/schema.rb
  spec/models/language_spec.rb
  spec/system/languages/languages_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3982 fix non-volunteer-cant-save-address-new-case
  app/controllers/case_contacts_controller.rb
  spec/controllers/case_contacts_controller_spec.rb
  spec/factories/addresses.rb
Labels: ruby, Tests! 🎉💖👏

#3981 Remove localization
  app/views/learning_hours/show.html.erb
Labels: erb

#3961 yarn upgrade
  yarn.lock
Labels: dependencies, javascript

#3952 Issue 2771 - Add reimbursement filters
  app/controllers/reimbursements_controller.rb
  app/datatables/reimbursement_datatable.rb
  app/javascript/src/reimbursements.js
  app/views/reimbursements/_datatable.html.erb
  app/views/reimbursements/_filter_trigger.html.erb
  app/views/reimbursements/_occurred_at_filter_input.html.erb
  app/views/reimbursements/index.html.erb
  config/locales/views.en.yml
  package.json
  spec/datatables/reimbursement_datatable_spec.rb
  spec/system/reimbursements/reimbursements_spec.rb
  spec/views/reimbursements/index.html.erb_spec.rb
  yarn.lock
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏, erb

#3996 confirm before delete
  app/assets/stylesheets/shared/async_notifier.scss
  app/javascript/src/all_casa_admin/patch_notes.js
  app/javascript/src/async_notifier.js
Labels: javascript

#3992 remove puts in volunteer datatable
  app/datatables/volunteer_datatable.rb
Labels: ruby

#3959 3919 remove casa casa show translations
  app/views/casa_admins/index.html.erb
  app/views/casa_cases/show.html.erb
  spec/support/webmock.rb
Labels: ruby, erb
