Repository rubyforgood/casa, pull requests merged in 2022-03, with the labels that each got.

#3249 cleanup for PDF
  Gemfile
  app/mailers/fund_request_mailer.rb
  lib/ext/pdf_forms.rb
Labels: dependencies, ruby

#3264 Create other_duties table and display
  app/controllers/casa_cases_controller.rb
  app/decorators/other_duty_decorator.rb
  app/models/other_duty.rb
  app/models/user.rb
  app/views/casa_cases/_other_duties.html.erb
  app/views/casa_cases/index.html.erb
  config/locales/views.en.yml
  db/migrate/20220303183053_create_other_duty.rb
  db/schema.rb
  spec/decorators/other_duty_decorator_spec.rb
  spec/factories/other_duty.rb
  spec/models/other_duty_spec.rb
  spec/requests/casa_cases_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3279 Resolves #3270 - Redirect better for non-edit links
  app/controllers/volunteers_controller.rb
  app/policies/volunteer_policy.rb
  config/routes.rb
  spec/policies/volunteer_policy_spec.rb
  spec/requests/volunteers_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3280 Make court date field required when creating a new casa case
  app/views/casa_cases/_form.html.erb
  spec/system/casa_cases/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3282 Resolve #3226 - deprecate casa_case.court_date
  app/models/casa_case.rb
  db/schema.rb
  db/seeds/db_populator.rb
  spec/factories/volunteer.rb
  spec/migrations/change_casa_cases_court_date_to_reference_spec.rb
  spec/system/casa_cases/show_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3290 Remove cypress because it is flaky and disabled
  .github/labeler.yml
  .github/workflows/cypress.yml
  .gitignore
  .slugignore
  Gemfile
  Gemfile.lock
  README.md
  config/initializers/cypress_on_rails.rb
  cypress/fixtures/example.json
  cypress/integration/volunteer/edit_profile.spec.js
  cypress/integration/volunteer/generate_court_report.spec.js
  cypress/integration/volunteer/new_case_contact.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  doc/CONTRIBUTING.md
  doc/CYPRESS.md
  package.json
  yarn.lock
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏

#3288 Start tracking down the supervisor/admin viewing wrong case bug
  app/views/shared/_invite_login.html.erb
  spec/controllers/volunteers_controller_spec.rb
  spec/system/supervisors/edit_spec.rb
  spec/views/volunteers/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3298 Don't allow editing volunteers from other organizations
  app/policies/application_policy.rb
  app/policies/volunteer_policy.rb
  spec/controllers/volunteers_controller_spec.rb
  spec/policies/volunteer_policy_spec.rb
  spec/system/volunteers/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3300 Check casa org in volunteer permissions in more places
  app/controllers/volunteers_controller.rb
  app/policies/volunteer_policy.rb
  app/views/volunteers/index.html.erb
  spec/policies/volunteer_policy_spec.rb
  spec/requests/volunteers_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3302 Remove hidden field on new volunteer form
  app/views/volunteers/_form.html.erb
  spec/requests/volunteers_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3299 [#3223] Volunteer hours spent in last 30 days
  Gemfile.lock
  app/datatables/volunteer_datatable.rb
  app/javascript/src/dashboard.js
  app/models/volunteer.rb
  app/views/volunteers/index.html.erb
  config/locales/views.en.yml
  db/schema.rb
Labels: dependencies, javascript, ruby, erb

#3306 Bundle update March
  Gemfile.lock
  app/controllers/emancipations_controller.rb
  spec/controllers/emancipations_controller_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏

#3309 yarn upgrade - March
  yarn.lock
Labels: dependencies, javascript

#3312 Rails 6.1 updates
  app/controllers/application_controller.rb
  bin/rails
  bin/rake
  bin/setup
  bin/spring
  bin/yarn
  config.ru
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/backtrace_silencers.rb
  config/initializers/filter_parameter_logging.rb
  config/puma.rb
  spec/support/shared_examples/shows_court_dates_links.rb
  spec/system/case_court_reports/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3319 Rails 7 update
  Gemfile
  Gemfile.lock
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/content_security_policy.rb
  config/initializers/filter_parameter_logging.rb
  db/migrate/20220323145733_remove_not_null_on_active_storage_blobs_checksum.active_storage.rb
  db/schema.rb
  spec/controllers/case_contacts_controller_spec.rb
  spec/controllers/court_dates_controller_spec.rb
  spec/system/casa_cases/edit_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏

#3219 [WIP] [#2760 finish] additional expenses - finish issue ticket
  app/controllers/case_contacts_controller.rb
  app/javascript/__tests__/add_additional_expense.test.js
  app/javascript/src/add_additional_expense.js
  app/javascript/src/stylesheets/pages/case_contacts.scss
  app/models/additional_expense.rb
  app/models/case_contact.rb
  app/services/additional_expense_params_service.rb
  app/values/case_contact_parameters.rb
  app/views/case_contacts/_form.html.erb
  config/locales/en.yml
  db/schema.rb
  spec/services/additional_expense_params_service_spec.rb
  spec/system/case_contacts/additional_expenses_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#3058 2771 Add reimbursement queue filters
  app/controllers/reimbursements_controller.rb
  app/datatables/reimbursement_datatable.rb
  app/javascript/packs/application.js
  app/javascript/src/reimbursements.js
  app/policies/reimbursement_policy.rb
  app/views/reimbursements/_data_table.html.erb
  app/views/reimbursements/index.html.erb
  config/locales/views.en.yml
  config/routes.rb
  spec/datatables/reimbursement_datatable_spec.rb
  spec/policies/reimbursement_policy_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#3324 Feat/improve forbidden url behavior across casas
  app/controllers/casa_cases_controller.rb
  spec/requests/casa_cases_spec.rb
Labels: ruby, Tests! 🎉💖👏
