Repository rubyforgood/casa, pull requests merged in 2022-05, with the labels that each got.

#3403 CasaCaseController#show improve speed
  app/views/casa_cases/_court_dates.html.erb
  app/views/casa_cases/show.html.erb
Labels: :chart_with_upwards_trend: Performance Improvement, erb

#3408 Feature/1016 Users can configure their communication preferences
  app/javascript/__tests__/require_communication_preference.test.js
  app/javascript/packs/application.js
  app/javascript/src/require_communication_preference.js
  app/views/users/edit.html.erb
  config/locales/en.yml
  package-lock.json
  package.json
  spec/system/users/edit_spec.rb
  yarn.lock
Labels: :play_or_pause_button: Frontend, dependencies, javascript, ruby, Tests! 🎉💖👏, :iphone: SMS, erb, codethechange

#3431 3118: Remove PaperTrail
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/models/all_casa_admin.rb
  app/models/casa_case.rb
  app/models/casa_case_contact_type.rb
  app/models/casa_org.rb
  app/models/case_assignment.rb
  app/models/case_contact.rb
  app/models/case_contact_contact_type.rb
  app/models/contact_type.rb
  app/models/contact_type_group.rb
  app/models/hearing_type.rb
  app/models/judge.rb
  app/models/supervisor_volunteer.rb
  app/models/user.rb
  config/initializers/paper_trail.rb
  config/locales/devise.en.yml
  db/migrate/20220513111133_delete_versions.rb
  db/schema.rb
  db/seeds.rb
  spec/system/sessions/new_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏

#3410 Feature/1781 Twilio is integrated with app for event triggered notifications
  .allow_skipping_tests
  .github/workflows/docker.yml
  .github/workflows/rspec.yml
  .gitignore
  app/controllers/casa_org_controller.rb
  app/helpers/phone_number_helper.rb
  app/models/casa_admin.rb
  app/models/casa_case_contact_type.rb
  app/models/casa_org.rb
  app/models/case_assignment.rb
  app/models/case_contact.rb
  app/models/case_contact_contact_type.rb
  app/models/contact_type.rb
  app/models/contact_type_group.rb
  app/models/court_date.rb
  app/models/emancipation_option.rb
  app/models/hearing_type.rb
  app/models/judge.rb
  app/models/supervisor.rb
  app/models/supervisor_volunteer.rb
  app/models/user.rb
  app/models/volunteer.rb
  app/validators/casa_org_validator.rb
  app/views/casa_org/edit.html.erb
  config/credentials/development.key
  config/credentials/development.yml.enc
  config/credentials/production.yml.enc
  config/credentials/test.key
  config/credentials/test.yml.enc
  config/environments/production.rb
  config/locales/views.en.yml
  db/migrate/20220509224425_add_columns_to_casa_orgs.rb
  db/schema.rb
  spec/helpers/phone_number_helper_spec.rb
  spec/requests/casa_org_spec.rb
  spec/system/casa_org/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, :iphone: SMS, erb, codethechange

#3428 Feature/1782 URLs in SMS notifications are shortened
  .gitignore
  Gemfile
  Gemfile.lock
  app/services/short_url_service.rb
  app/services/twilio_service.rb
  config/initializers/constants.rb
  spec/services/short_url_service_spec.rb
  spec/services/twilio_service_spec.rb
  spec/spec_helper.rb
  spec/support/webmock_helper.rb
Labels: dependencies, ruby, Tests! 🎉💖👏, :iphone: SMS, codethechange

#3424 Issue #3367: show which case contact was edited after editing a case contact on casa case page
  app/controllers/case_contacts_controller.rb
  config/locales/en.yml
  spec/system/case_contacts/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3429 Add date in care to case details
  app/decorators/casa_case_decorator.rb
  app/models/casa_case.rb
  app/policies/casa_case_policy.rb
  app/views/casa_cases/_form.html.erb
  app/views/casa_cases/show.html.erb
  config/locales/views.en.yml
  db/migrate/20220513084954_add_date_in_care_to_casa_cases.rb
  db/schema.rb
  spec/system/casa_cases/edit_spec.rb
  spec/system/casa_cases/show_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3433 Feature/3411 User validator should use PhoneNumberHelper for validation
  app/helpers/phone_number_helper.rb
  app/validators/user_validator.rb
  spec/lib/importers/supervisor_importer_spec.rb
  spec/lib/importers/volunteer_importer_spec.rb
  spec/support/shared_examples/shows_error_for_invalid_phone_numbers.rb
Labels: ruby, Tests! 🎉💖👏

#3432 Move CasaCases and Dashboard controller specs to request
  .allow_skipping_tests
  spec/controllers/casa_cases_controller_spec.rb
  spec/controllers/dashboard_controller_spec.rb
  spec/requests/casa_cases_spec.rb
  spec/requests/dashboard_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3502 Update t() in all_casa/admins/edit view
  app/views/all_casa_admins/edit.html.erb
Labels: erb

#3515 Replace locale strings in casa admin edit view
  app/views/all_casa_admins/casa_admins/edit.html.erb
Labels: erb

#3526 Railsconf 15: update t() in app/views/casa_cases/edit.html.erb
  app/views/casa_cases/edit.html.erb
Labels: erb

#3506 Updated "common.email" translation with "Email"
  app/views/all_casa_admins/new.html.erb
Labels: erb

#3511 Issue 25: Remove localization
  app/views/casa_org/_hearing_types.html.erb
Labels: erb

#3517 Fixes #3456: Update casa_cases/show view to use strings
  app/views/casa_cases/show.html.erb
Labels: erb

#3518 Replace localization method calls with string literals in the volunteer assignment view
  app/views/casa_cases/_volunteer_assignment.html.erb
Labels: erb

#3531 update t() in casa admin edit view #3442
  app/views/casa_admins/edit.html.erb
Labels: erb

#3512 swap out internationalization map for contact_types.html.erb
  app/views/casa_org/_contact_types.html.erb
Labels: erb

#3514 contact_type_groups/edit: Just use string, instead of l18n file
  app/views/contact_type_groups/edit.html.erb
Labels: erb

#3533 Railsconf 44 Issue: Change title to actual text in contact type new view
  app/views/contact_types/new.html.erb
Labels: erb

#3501 Remove translations from hearing_types.html.erb partial
  app/views/casa_org/_hearing_types.html.erb
Labels: erb

#3529 Delete _remove_filter_my_cases.html.erb
  app/views/casa_cases/_filter_my_cases.html.erb
Labels: erb

#3524 update contact_type_group form
  app/views/contact_type_groups/_form.html.erb
  config/locales/views.en.yml
Labels: erb

#3520 Task/railsconf 29 update t in index.html.erb
  app/views/case_assignments/index.html.erb
Labels: erb

#3519 added translations for messages in new.html.erb
  app/views/all_casa_admins/casa_orgs/new.html.erb
Labels: erb

#3516 [RailsConf] Update View to replace t() with english text
  app/views/casa_admins/_form.html.erb
Labels: erb

#3508 Replace instances of t(STRING) to its translation to simplify template
  app/views/casa_cases/_filter.html.erb
Labels: erb

#3426 Setting case contact occurred date to current date when a future date…
  app/javascript/__tests__/case_contact.test.js
  app/javascript/src/case_contact.js
  spec/system/case_contacts/new_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏

#3523 Railsconf 41 app/views/contact_type_groups/new.html.erb
  app/views/contact_type_groups/new.html.erb
  config/locales/views.en.yml
Labels: erb

#3532 change from tstring to hard-coded values
  app/views/casa_cases/_form.html.erb
Labels: erb

#3528 Stop using i18n in app/views/case_contacts/_form.html.erb
  app/views/case_contacts/_form.html.erb
  config/locales/en.yml
  config/locales/views.en.yml
Labels: erb

#3541 Replace localization method calls with string literals in app/views/case_court_reports/index.html.erb
  app/views/case_court_reports/index.html.erb
Labels: erb

#3546 Add back missing key needed by court templates
  app/models/case_court_report.rb
Labels: ruby

#3543 Feature/1885 Give user the ability to customise which SMS notifications they want to receive
  Gemfile.lock
  app/controllers/users_controller.rb
  app/javascript/src/require_communication_preference.js
  app/models/casa_admin.rb
  app/models/casa_case_contact_type.rb
  app/models/casa_org.rb
  app/models/case_assignment.rb
  app/models/case_contact.rb
  app/models/case_contact_contact_type.rb
  app/models/contact_type.rb
  app/models/contact_type_group.rb
  app/models/court_date.rb
  app/models/emancipation_option.rb
  app/models/hearing_type.rb
  app/models/judge.rb
  app/models/sms_notification_event.rb
  app/models/supervisor.rb
  app/models/supervisor_volunteer.rb
  app/models/user.rb
  app/models/user_sms_notification_event.rb
  app/models/volunteer.rb
  app/views/users/edit.html.erb
  db/migrate/20220519210423_create_sms_notification_events.rb
  db/migrate/20220519233803_create_user_sms_notification_events.rb
  db/schema.rb
  db/seeds.rb
  lib/tasks/data_post_processors/sms_notification_event_populator.rb
  lib/tasks/deployment/20220521015108_populate_sms_notification_events.rake
  spec/factories/sms_notification_events.rb
  spec/factories/user_sms_notification_events.rb
  spec/models/sms_notification_event_spec.rb
  spec/models/user_sms_notification_event_spec.rb
  spec/requests/users_spec.rb
  spec/system/users/edit_spec.rb
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏, erb

#3539 Replace localization method calls with string literals in app/views/contact_types/_form.html.erb
  app/views/contact_types/_form.html.erb
Labels: erb

#3540 Replace localization method calls with string literals in app/views/contact_type_groups/_form.html.erb
  app/views/contact_type_groups/_form.html.erb
Labels: erb

#3499 Replace translations in casa_org/_contact_types partial
  app/views/casa_org/_contact_types.html.erb
  config/locales/views.en.yml
Labels: erb

#3548 Feature/1791 Users can view their SMS Terms & Conditions
  app/javascript/src/stylesheets/shared/footer.scss
  app/views/layouts/footers/_not_logged_in.html.erb
  config/locales/views.en.yml
  public/sms-terms-conditions.html
Labels: erb

#3505 removed translations strings from 'casa_cases/_court_dates'
  app/views/casa_cases/_court_dates.html.erb
Labels: erb

#3406 Make Notes on Volunteers Delete-able
  app/controllers/notes_controller.rb
  app/javascript/src/casa_case.js
  app/views/volunteers/_notes.html.erb
  config/routes.rb
  package.json
  spec/requests/notes_spec.rb
  spec/system/volunteers/edit_spec.rb
  yarn.lock
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏, erb

#3556 Create and Edit Pages for the Other Duties
  .allow_skipping_tests
  app/controllers/other_duties_controller.rb
  app/helpers/other_duties_helper.rb
  app/models/other_duty.rb
  app/views/casa_cases/_other_duties.html.erb
  app/views/other_duties/_form.html.erb
  app/views/other_duties/edit.html.erb
  app/views/other_duties/new.html.erb
  config/locales/views.en.yml
  config/routes.rb
  spec/factories/other_duty.rb
  spec/helpers/other_duties_helper_spec.rb
  spec/models/other_duty_spec.rb
  spec/requests/other_duties_spec.rb
  spec/system/dashboard/show_spec.rb
  spec/views/other_duties/edit.html.erb_spec.rb
  spec/views/other_duties/new.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3550 fix import js to only run when import elements are present
  app/javascript/src/import.js
Labels: javascript, codethechange

#3552 Fix app/views/case_assignments/index.html.erb
  app/views/case_assignments/index.html.erb
Labels: erb

#3554 Remove translations from all_casa_admins/casa_orgs/show.html.erb
  app/views/all_casa_admins/casa_orgs/show.html.erb
Labels: erb

#3555 Update translations in app/views/case_contacts/_case_contact.html.erb
  app/views/case_contacts/_case_contact.html.erb
Labels: erb

#3553 Remove translations from _other_duties.html.erb
  app/views/casa_cases/_other_duties.html.erb
Labels: erb

#3549 replaced t('.title') with hardcoded 'New Case Contact' string
  app/views/case_contacts/new.html.erb
Labels: erb

#3560 fix manage volunteers extending into sidebar
  app/views/casa_cases/_form.html.erb
  app/views/casa_cases/edit.html.erb
Labels: erb

#3564 Add x86_64-darwin-21 platform
  Gemfile.lock
Labels: dependencies

#3565 Remove translations from case_contacts/index.html.erb
  app/views/case_contacts/index.html.erb
Labels: erb

#3563 Improve volunteer search
  app/datatables/volunteer_datatable.rb
  spec/datatables/volunteer_datatable_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3557 Issue #2507: Make Contact Types All Checked By Default on Edit Case Details Page (update)
  app/controllers/casa_cases_controller.rb
  app/models/casa_case.rb
  app/views/case_contacts/_contact_types.html.erb
  spec/factories/casa_case.rb
  spec/factories/casa_case_contact_type.rb
  spec/requests/casa_cases_spec.rb
  spec/system/casa_cases/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3575 Issue #3558: Make other duties' notes field required
  app/views/other_duties/_form.html.erb
  spec/system/other_duties/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3569 issue #3490: Railsconf 55: update t() in app/views/case_contacts/edit.html.erb
  app/views/case_contacts/edit.html.erb
Labels: erb

#3572 Issue #3486: Railsconf 51: update t() in app/views/case_contacts/_confirm_note_content_dialog.html.erb
  app/views/case_contacts/_confirm_note_content_dialog.html.erb
Labels: erb

#3570 Replace translation usage with plain text
  app/views/case_contacts/_followup.html.erb
Labels: erb

#3573 Issue #3455: Railsconf 17: update t() in app/views/casa_cases/new.html.erb
  app/views/casa_cases/new.html.erb
Labels: erb

#3574 Issue #3435: Railsconf 21: update t() in app/views/all_casa_admins/casa_admins/_form.html.erb
  app/views/all_casa_admins/casa_admins/_form.html.erb
Labels: erb

#3571 Issue #3487: Railsconf 52: update t() in app/views/case_contacts/_contact_types.html.erb
  app/views/case_contacts/_contact_types.html.erb
Labels: erb

#3579 Improve readability in case contact update confirmation
  app/controllers/case_contacts_controller.rb
Labels: ruby
