Repository rubyforgood/casa, pull requests merged in 2022-08, with the labels that each got.

#3799 replace class with method in class << self to modules
  app/services/court_report_due_sms_reminder_service.rb
  app/services/no_contact_made_sms_reminder_service.rb
  app/services/sms_reminder_service.rb
Labels: ruby

#3798 3677 - add spec to android_app_associations_controller
  .allow_skipping_tests
  spec/controllers/android_app_associations_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3797 create spec to casa_orgs_controller
  .allow_skipping_tests
  spec/controllers/all_casa_admins/casa_orgs_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3796 Created test for inbox_label method
  spec/helpers/sidebar_helper_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3795 Add controller tests for all_casa_admins/casa_admins_controller.rb
  .allow_skipping_tests
  spec/controllers/all_casa_admins/casa_admins_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3800 Add an empty state message to the other duties view
  app/views/other_duties/index.html.erb
Labels: erb

#3807 fixed css not hot reloading in development environments
  config/environments/development.rb
Labels: ruby

#3817 Add test for controllers/casa_cases_controller.rb #3680
  .allow_skipping_tests
  spec/controllers/casa_cases_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3812 Add tests for all casa admins controller.rb
  .allow_skipping_tests
  spec/controllers/all_casa_admins_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3814 fix learning_hours_report_spec flakiness
  spec/models/learning_hours_report_spec.rb
  spec/support/capybara.rb
  spec/support/csv_exporter_helper.rb
Labels: ruby, Tests! 🎉💖👏

#3803 Upgrade ruby 3.1.2
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  doc/LINUX_SETUP.md
  doc/MAC_SETUP.md
  doc/WSL_SETUP.md
Labels: dependencies

#3828 bundle upgrade webmock past missing version
  Gemfile.lock
Labels: dependencies

#3830 Updated layouts/footer.html.erb_spec.rb
  spec/views/layouts/footer.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3829 [#3822] Fix ambiguous CaseContact column reference
  app/models/case_contact.rb
  spec/controllers/case_contacts_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3841 Allow supervisors to "delete" notes like admins currently can
  app/policies/case_contact_policy.rb
  app/views/case_contacts/_case_contact.html.erb
  spec/views/case_contacts/case_contact.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3827 Add test for controllers/all_casa_admins/sessions_controller.rb
  spec/controllers/all_casa_admins/sessions_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3850 3836 volunteers can view and edit their address
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/users/edit.html.erb
  spec/requests/users_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3846 View tests for patch notes
  spec/views/all_casa_admins/patch_notes/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3855 Update mac setup instructions
  README.md
  doc/MAC_SETUP.md
Labels: 🧐 Status: Ready for Review

#3856 fix jquery import conflict for all casa admin
  app/javascript/all_casa_admin.js
  app/javascript/application.js
Labels: javascript

#3849 Issue #1865: Copy Court Orders from One Case into Another
  app/controllers/casa_cases_controller.rb
  app/javascript/src/casa_case.js
  app/views/casa_cases/_form.html.erb
  app/views/court_dates/_form.html.erb
  app/views/shared/_court_order_list.erb
  config/routes.rb
  spec/system/casa_cases/edit_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#3848 Fix: other_duties visibility
  app/controllers/other_duties_controller.rb
  app/policies/other_duty_policy.rb
  spec/policies/other_duty_case_policy/scope_spec.rb
  spec/requests/other_duties_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3860 fix rule of TAY in volunteer
  app/datatables/volunteer_datatable.rb
  spec/datatables/volunteer_datatable_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3861 Replace open-ended error assertions
  spec/controllers/concerns/organizational_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3864 Can enter and view patch notes
  app/assets/stylesheets/pages/patch_notes.scss
  app/controllers/all_casa_admins/patch_notes_controller.rb
  app/javascript/src/all_casa_admin/patch_notes.js
  app/views/all_casa_admins/patch_notes/_patch_note.html.erb
  app/views/all_casa_admins/patch_notes/index.html.erb
  spec/requests/all_casa_admins/patch_notes_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#3868 tests for update notes all casa admin display
  app/views/all_casa_admins/patch_notes/_patch_note.html.erb
  spec/views/all_casa_admins/patch_notes/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3870 Added system tests for checklist item create functionality
  spec/system/checklist_items/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3871 Site update notes
  app/assets/stylesheets/pages/patch_notes.scss
  app/javascript/src/all_casa_admin/patch_notes.js
  app/javascript/src/async_notifier.js
  app/javascript/src/type_checker.js
  app/views/all_casa_admins/patch_notes/_patch_note.html.erb
  app/views/all_casa_admins/patch_notes/index.html.erb
Labels: javascript, erb
