Repository rubyforgood/casa, pull requests merged in 2022-04, with the labels that each got.

#3322 Show when last contact was made of each type in contact_type partial
  app/helpers/contact_types_helper.rb
  app/views/case_contacts/_contact_types.html.erb
  spec/helpers/contact_types_helper_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3331 Partial revert of data table for reimbursement queue to regain functi…
  app/javascript/packs/application.js
  app/javascript/src/reimbursements.js
  app/views/reimbursements/_data_table.html.erb
  app/views/reimbursements/index.html.erb
  spec/system/casa_cases/show_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#3335 #1788 Add mobile number column to system imports for supervisors
  .allow_skipping_tests
  app/lib/importers/supervisor_importer.rb
  app/models/casa_admin.rb
  app/models/supervisor.rb
  app/models/user.rb
  app/models/volunteer.rb
  app/validators/user_validator.rb
  db/migrate/20220402201247_add_phone_number_to_users.rb
  db/schema.rb
  db/seeds.rb
  db/seeds/db_populator.rb
  public/supervisors.csv
  spec/fixtures/supervisor_volunteers.csv
  spec/fixtures/supervisors.csv
  spec/fixtures/supervisors_invalid_phone_numbers.csv
  spec/fixtures/supervisors_without_email.csv
  spec/fixtures/supervisors_without_phone_numbers.csv
  spec/lib/importers/supervisor_importer_spec.rb
Labels: ruby, Tests! 🎉💖👏, :iphone: SMS, codethechange

#3303 Deprecate get_docx_subfile_contents
  spec/models/case_court_report_spec.rb
  spec/support/docx_inspector.rb
Labels: ruby, Tests! 🎉💖👏

#3341 remove debug
  spec/models/case_court_report_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3345 [#3316] Allow for editing volunteer notes
  app/controllers/notes_controller.rb
  app/views/notes/edit.html.erb
  app/views/volunteers/_notes.html.erb
  config/locales/views.en.yml
  config/routes.rb
  spec/requests/notes_spec.rb
  spec/system/volunteers/notes/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3348 Revert "Bump @fortawesome/fontawesome-free from 5.15.4 to 6.1.1"
  package.json
  yarn.lock
Labels: dependencies, javascript

#3347 Fix table overflow styling
  app/views/casa_cases/index.html.erb
  app/views/reimbursements/_table.html.erb
  app/views/volunteers/index.html.erb
Labels: erb

#3352 Fix flaky reimbursement_datatable_spec.rb test
  spec/datatables/reimbursement_datatable_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3342 replace old docx inspecting functions with new class
  spec/models/case_court_report_spec.rb
  spec/rails_helper.rb
  spec/requests/case_court_reports_spec.rb
  spec/requests/court_dates_spec.rb
  spec/support/docx_inspector.rb
  spec/support/word_doc_helper.rb
Labels: ruby, Tests! 🎉💖👏

#3353 Fix docx word breaks
  app/documents/templates/default_past_court_date_template.docx
  app/documents/templates/default_report_template.docx
  app/documents/templates/montgomery_report_template.docx
  spec/requests/court_dates_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3363 Add uniqueness constraint to feature flag name
  .allow_skipping_tests
  app/models/feature_flag.rb
  db/migrate/20220411180242_add_uniqueness_constraint_to_feature_flag_name.rb
  db/schema.rb
  spec/factories/feature_flag.rb
  spec/models/feature_flag_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3349 User communication preferences
  app/controllers/users_controller.rb
  app/models/casa_admin.rb
  app/models/supervisor.rb
  app/models/user.rb
  app/models/volunteer.rb
  app/views/users/edit.html.erb
  db/migrate/20220406011016_add_sms_notification_preferences_to_users.rb
  db/migrate/20220406011144_add_email_notification_preferences_to_users.rb
  db/schema.rb
  spec/system/users/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, :iphone: SMS, erb, codethechange

#3372 Feature 1789 - Add mobile number column to system imports for volunteers
  app/lib/importers/volunteer_importer.rb
  public/volunteers.csv
  spec/fixtures/volunteers.csv
  spec/fixtures/volunteers_invalid_phone_numbers.csv
  spec/fixtures/volunteers_without_email.csv
  spec/fixtures/volunteers_without_phone_numbers.csv
  spec/lib/importers/volunteer_importer_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3375 #1785 - admins can add/edit phone numbers for all users
  app/controllers/casa_admins_controller.rb
  app/controllers/users_controller.rb
  app/models/casa_admin.rb
  app/models/casa_case_contact_type.rb
  app/models/case_assignment.rb
  app/models/case_contact.rb
  app/models/case_contact_contact_type.rb
  app/models/contact_type.rb
  app/models/contact_type_group.rb
  app/models/court_date.rb
  app/models/emancipation_option.rb
  app/models/hearing_type.rb
  app/models/judge.rb
  app/models/supervisor.rb
  app/models/supervisor_volunteer.rb
  app/models/user.rb
  app/models/volunteer.rb
  app/policies/user_policy.rb
  app/validators/user_validator.rb
  app/values/user_parameters.rb
  app/views/casa_admins/_form.html.erb
  app/views/shared/_edit_form.html.erb
  app/views/supervisors/edit.html.erb
  app/views/users/edit.html.erb
  app/views/volunteers/edit.html.erb
  config/locales/en.yml
  db/schema.rb
  spec/controllers/volunteers_controller_spec.rb
  spec/factories/user.rb
  spec/lib/importers/supervisor_importer_spec.rb
  spec/lib/importers/volunteer_importer_spec.rb
  spec/models/user_spec.rb
  spec/policies/user_policy_spec.rb
  spec/requests/casa_admins_spec.rb
  spec/requests/supervisors_spec.rb
  spec/requests/volunteers_spec.rb
  spec/support/shared_examples/shows_error_for_invalid_phone_numbers.rb
  spec/system/casa_admins/edit_spec.rb
  spec/system/supervisors/edit_spec.rb
  spec/system/users/edit_spec.rb
  spec/system/volunteers/edit_spec.rb
  spec/views/supervisors/edit.html.erb_spec.rb
  spec/views/volunteers/edit.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, :iphone: SMS, erb, codethechange

#3387 add test for phone number field in volunteers/edit view spec #1787
  spec/views/volunteers/edit.html.erb_spec.rb
Labels: :no_good_man: User Permissions, Tests! 🎉💖👏🏼, ruby, Tests! 🎉💖👏, codethechange

#3386 Speed up Reimbursement Queue
  app/controllers/reimbursements_controller.rb
Labels: :chart_with_upwards_trend: Performance Improvement, ruby

#3382 3315 fix permission issues
  app/policies/casa_admin_policy.rb
  app/policies/supervisor_policy.rb
  spec/policies/casa_admin_policy_spec.rb
  spec/policies/supervisor_policy_spec.rb
  spec/requests/casa_admins_spec.rb
  spec/requests/supervisors_spec.rb
  spec/system/supervisors/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3380 #1790 - SMS opt-in to system imports with mobile numbers
  app/controllers/imports_controller.rb
  app/javascript/packs/application.js
  app/javascript/src/import.js
  app/lib/importers/supervisor_importer.rb
  app/lib/importers/volunteer_importer.rb
  app/views/imports/_sms_opt_in_modal.html.erb
  app/views/imports/_supervisors.html.erb
  app/views/imports/_volunteers.html.erb
  config/locales/views.en.yml
  spec/fixtures/volunteers_without_phone_numbers.csv
  spec/lib/importers/supervisor_importer_spec.rb
  spec/lib/importers/volunteer_importer_spec.rb
  spec/requests/imports_spec.rb
  spec/system/imports/index_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, :iphone: SMS, erb, codethechange

#3385 Remove duplicate tests in edit.html.erb_spec
  spec/views/volunteers/edit.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3389 Fix delete button wrapping on some case contacts on a casa case page
  app/views/case_contacts/_case_contact.html.erb
  app/views/case_contacts/_followup.html.erb
Labels: erb

#3394 Maybe fix unreplicable prod bug with reactivating case 104
  app/controllers/casa_cases_controller.rb
  app/views/casa_cases/_form.html.erb
  spec/controllers/casa_cases_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#3384 3333 - Automatically Unassign Deactivated Volunteer From Supervisor
  app/models/volunteer.rb
  spec/models/volunteer_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3376 3368 ContactType updates to Cases show ContactType names instead of ids
  app/controllers/casa_cases_controller.rb
  app/models/casa_case.rb
Labels: ruby

#3396 Spec cleanup, return self for ease of use
  app/models/volunteer.rb
  spec/controllers/volunteers_controller_spec.rb
  spec/models/volunteer_spec.rb
Labels: ruby, Tests! 🎉💖👏

#3397 Extract and test
  app/controllers/casa_cases_controller.rb
  app/services/casa_case_change_service.rb
  spec/services/casa_case_change_service_spec.rb
Labels: ruby, Tests! 🎉💖👏
