Repository rubyforgood/casa, pull requests merged in 2023-05, with the labels that each got.

#4785 Update API.md
  doc/API.md
Labels: :woman_technologist: Contributor Documentation

#4664 Fix status filter 3053
  app/controllers/supervisors_controller.rb
  app/javascript/src/dashboard.js
  app/views/supervisors/index.html.erb
  spec/factories/volunteers.rb
  spec/system/supervisors/edit_spec.rb
  spec/system/supervisors/index_spec.rb
  spec/views/supervisors/index.html.erb_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#4769 Issue#2698 persist column visibility state stage 1 migration and user callback
  app/models/preference_set.rb
  app/models/user.rb
  db/migrate/20230420212437_add_table_columns_display_to_preference_set.rb
  db/schema.rb
  spec/lib/importers/supervisor_importer_spec.rb
  spec/lib/importers/volunteer_importer_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4799 4757 Remove all reimbursement functionality when opted out
  app/policies/application_policy.rb
  app/policies/reimbursement_policy.rb
  spec/policies/application_policy_spec.rb
  spec/policies/reimbursement_policy_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4800 Fix for placement test date format bug #4794
  Gemfile.lock
  spec/views/casa_cases/show.html.erb_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏

#4796 Issue 4786 Guarantee case contacts before and after most recent past court date in seed data
  db/seeds/db_populator.rb
Labels: ruby

#4788 Supervisor visual changes
  app/views/supervisors/index.html.erb
  spec/views/supervisors/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4787 Email change confirmation For Casa Admins changing User's email
  app/controllers/all_casa_admins/casa_admins_controller.rb
  app/controllers/application_controller.rb
  app/controllers/casa_admins_controller.rb
  app/controllers/supervisors_controller.rb
  app/controllers/volunteers_controller.rb
  app/views/all_casa_admins/casa_admins/edit.html.erb
  spec/requests/all_casa_admins/casa_admins_spec.rb
  spec/requests/casa_admins_spec.rb
  spec/requests/supervisors_spec.rb
  spec/requests/volunteers_spec.rb
  spec/system/casa_admins/edit_spec.rb
  spec/system/supervisors/edit_spec.rb
  spec/system/volunteers/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4811 add old emails to volunteer email report
  app/services/volunteers_emails_export_csv_service.rb
  spec/services/volunteers_emails_export_csv_service_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4761 Reorganize court report context model test
  spec/factories/case_court_report_context.rb
  spec/models/case_court_report_context_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4802 Reinstate spec that was commented out
  spec/views/casa_cases/show.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4801 puma
  Gemfile
  Gemfile.lock
Labels: dependencies

#4812 Issue 4810 - add Org Pre
  app/views/casa_org/edit.html.erb
Labels: erb

#4795 Update messaging in password reset email
  app/views/devise/mailer/reset_password_instructions.html.erb
Labels: erb

#4813 Validations/4773 phone numbers
  app/helpers/phone_number_helper.rb
  app/models/casa_org.rb
  app/models/user.rb
  spec/helpers/phone_number_helper_spec.rb
  spec/lib/importers/supervisor_importer_spec.rb
  spec/lib/importers/volunteer_importer_spec.rb
  spec/support/shared_examples/shows_error_for_invalid_phone_numbers.rb
  spec/system/devise/passwords/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4808 Elhalvers/4771 edit profile timestamp
  app/decorators/user_decorator.rb
  app/views/users/_edit_profile.erb
  app/views/users/edit.html.erb
  config/locales/en.yml
  spec/decorators/user_decorator_spec.rb
  spec/system/users/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4798 feat: add casa cases section without court dates to admin home page
  app/controllers/supervisors_controller.rb
  app/models/casa_case.rb
  app/views/supervisors/index.html.erb
  spec/requests/supervisors_spec.rb
  spec/views/supervisors/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4819 Upgrade Ruby to 3.2.2
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
Labels: dependencies

#4849 Checklist option expansion bug fix
  app/javascript/__tests__/case_emancipations.test.js
  app/javascript/src/case_emancipation.js
Labels: javascript, Tests! 🎉💖👏

#4851 Updates logic for supervisors to view reimbursements in queue
  app/policies/reimbursement_policy.rb
  spec/policies/reimbursement_policy_spec.rb
Labels: ruby, Tests! 🎉💖👏
