Repository rubyforgood/casa, pull requests merged in 2023-06, with the labels that each got.

#4768 Placement reports
  .allow_skipping_tests
  app/controllers/placement_reports_controller.rb
  app/decorators/placement_decorator.rb
  app/models/casa_org.rb
  app/services/placement_export_csv_service.rb
  app/views/reports/index.html.erb
  config/routes.rb
  spec/requests/placement_reports_spec.rb
  spec/services/placement_export_csv_service_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4784 Health Metric using Chart.js
  Gemfile.lock
  app/controllers/health_controller.rb
  app/javascript/application.js
  app/javascript/src/display_app_metric.js
  app/views/health/index.html.erb
  config/routes.rb
  package.json
  spec/requests/health_spec.rb
  spec/system/imports/index_spec.rb
  yarn.lock
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏, erb

#4866 Elhalvers/4828 local timezone
  app/controllers/application_controller.rb
  app/controllers/concerns/users/time_zone.rb
  app/decorators/user_decorator.rb
  app/javascript/application.js
  app/javascript/src/time_zone.js
  config/locales/en.yml
  db/schema.rb
  package.json
  spec/controllers/concerns/users/time_zone_spec.rb
  spec/system/users/edit_spec.rb
  yarn.lock
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏

#4877 Bug Fix: Properly hide and show additional expenses
  app/assets/stylesheets/pages/case_contacts.scss
  app/javascript/__tests__/add_additional_expense.test.js
  app/javascript/src/add_additional_expense.js
  app/views/case_contacts/_form.html.erb
Labels: javascript, Tests! 🎉💖👏, erb

#4878 removed extra margin below additional expense
  app/views/case_contacts/_form.html.erb
Labels: erb

#4884 System settings tab
  .allow_skipping_tests
  app/controllers/system_settings_controller.rb
  app/policies/application_policy.rb
  app/views/layouts/_sidebar.html.erb
  app/views/system_settings/index.html.erb
  config/routes.rb
  spec/policies/application_policy_spec.rb
  spec/requests/system_settings_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
  spec/views/system_settings/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4879 Create a new CSS class and use it to wrap CASA cases list for scrolling
  app/assets/stylesheets/shared/layout.scss
  app/views/case_contacts/_form.html.erb
Labels: erb

#4883 Add backend SMS feature updates for CASA orgs
  app/controllers/application_controller.rb
  app/controllers/casa_org_controller.rb
  app/controllers/users/passwords_controller.rb
  app/controllers/volunteers_controller.rb
  app/models/casa_org.rb
  app/notifications/delivery_methods/sms.rb
  app/services/sms_reminder_service.rb
  app/services/twilio_service.rb
  db/migrate/20230615155223_add_twilio_enabled_to_casa_orgs.rb
  db/schema.rb
  lib/tasks/case_contact_types_reminder.rb
  spec/controllers/application_controller_spec.rb
  spec/factories/casa_orgs.rb
  spec/lib/tasks/case_contact_types_reminder_spec.rb
  spec/requests/casa_admins_spec.rb
  spec/requests/supervisors_spec.rb
  spec/requests/users/passwords_spec.rb
  spec/requests/volunteers_spec.rb
  spec/services/twilio_service_spec.rb
  spec/system/court_dates/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4903 fixed the notifier toast from always showing in progress in the patch…
  app/javascript/src/all_casa_admin/patch_notes.js
  app/models/casa_admin.rb
  app/models/supervisor.rb
  app/models/user.rb
  app/models/volunteer.rb
  db/schema.rb
Labels: javascript, ruby

#4902 Added extra columns to mileage_export_csv_service
  app/services/mileage_export_csv_service.rb
  spec/models/mileage_report_spec.rb
  spec/services/mileage_export_csv_service_spec.rb
  spec/system/reports/export_data_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4886 Add additional spec tests testing for disabled twilio scenarios
  spec/models/volunteer_spec.rb
  spec/requests/casa_admins_spec.rb
  spec/requests/supervisors_spec.rb
  spec/requests/volunteers_spec.rb
  spec/services/court_report_due_sms_reminder_service_spec.rb
  spec/services/no_contact_made_sms_reminder_service_spec.rb
  spec/services/sms_reminder_service_spec.rb
  spec/services/volunteers_emails_export_csv_service_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4897 Fix flaky court dates edit test
  spec/system/court_dates/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4905 JS Linter
  app/javascript/src/session_timeout_poller.js
Labels: javascript

#4904 fix flaky test in casa cases show spec
  spec/system/casa_cases/show_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4891 add receive_reimbursement_email boolean to users model
  app/controllers/supervisors_controller.rb
  app/mailers/supervisor_mailer.rb
  app/values/user_parameters.rb
  app/views/shared/_edit_form.html.erb
  app/views/shared/_invite_login.html.erb
  db/migrate/20230610153139_add_receive_reimbursement_email_to_users.rb
  db/schema.rb
  spec/factories/supervisors.rb
  spec/mailers/supervisor_mailer_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4901 JWT Setup for Authentication - ios App feature
  .allow_skipping_tests
  Gemfile
  Gemfile.lock
  app/controllers/concerns/accessible.rb
  app/controllers/users/sessions_controller.rb
  app/models/jwt_denylist.rb
  app/models/user.rb
  config/application.rb
  config/credentials/development.yml.enc
  config/credentials/test.yml.enc
  config/environments/development.rb
  config/initializers/cors.rb
  config/initializers/devise.rb
  db/migrate/20230308041745_create_jwt_denylist.rb
  db/schema.rb
  spec/requests/users/sessions_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏, codethechange

#4918 make additional expense option's visibility depend on feature flag
  app/views/casa_org/edit.html.erb
  spec/system/casa_org/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb
