Repository rubyforgood/casa, pull requests merged in 2023-09, with the labels that each got.

#5173 add_additional_expense.js improvements
  app/javascript/src/add_additional_expense.js
Labels: javascript

#5179 Fix flaky contact type alphabetization test
  spec/requests/case_contacts_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5175 remove if false, make for loop more readable
  app/javascript/src/add_to_calendar_button.js
Labels: javascript

#5167 Remove Inbox from Sidebar
  app/views/layouts/_sidebar.html.erb
Labels: erb

#5090 5070 - Update banner creation UX
  app/controllers/banners_controller.rb
  app/helpers/banner_helper.rb
  app/javascript/controllers/index.js
  app/models/casa_org.rb
  app/views/banners/_form.html.erb
  app/views/banners/edit.html.erb
  app/views/banners/new.html.erb
  package.json
  spec/helpers/banner_helper_spec.rb
  spec/system/banners/banners_spec.rb
  spec/system/banners/new_spec.rb
  spec/views/banners/new.html.erb_spec.rb
  yarn.lock
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏, erb

#5177 Update CasaCasesController & CaseAssignmentsController specs to request specs
  spec/controllers/casa_cases_controller_spec.rb
  spec/controllers/case_assignments_controller_spec.rb
  spec/requests/casa_cases_spec.rb
  spec/requests/case_assignments_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5166 Update modal close btn according to latest Bootstrap
  app/views/case_contacts/_confirm_note_content_dialog.html.erb
Labels: erb

#5191 5174, Other duties page for volunteers
  app/controllers/other_duties_controller.rb
  app/policies/other_duty_policy.rb
  app/views/casa_cases/_other_duties.html.erb
  app/views/casa_cases/index.html.erb
  app/views/layouts/_other_duties_nav_item.html.erb
  app/views/layouts/_sidebar.html.erb
  app/views/other_duties/index.html.erb
  spec/policies/other_duty_policy_spec.rb
  spec/requests/casa_cases_spec.rb
  spec/requests/other_duties_spec.rb
  spec/system/dashboard/show_spec.rb
  spec/system/other_duties/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5197 Add foreign key constraint to placements table
  app/models/placement.rb
  db/migrate/20230903182657_add_foreign_key_casa_case_to_placement.rb
  db/schema.rb
Labels: ruby

#5210 Update CaseCourtReportsController & AllCasaAdmins::SessionsController controller specs to request specs
  spec/controllers/all_casa_admins/sessions_controller_spec.rb
  spec/controllers/case_court_reports_controller_spec.rb
  spec/requests/all_casa_admins/sessions_spec.rb
  spec/requests/case_court_reports_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5220 Removed "Assigned To" column from My Cases table for volunteers
  app/views/casa_cases/index.html.erb
  spec/system/dashboard/show_spec.rb
  spec/views/casa_cases/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5222 Javascript overhaul: case_contact.js
  app/javascript/__tests__/case_contact.test.js
  app/javascript/src/case_contact.js
Labels: javascript, Tests! 🎉💖👏

#5190 Render Local Time
  app/components/local_time_component.html.erb
  app/components/local_time_component.rb
  spec/components/local_time_component_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5223 Require Contact Medium on the Case Contact Form
  app/views/case_contacts/_form.html.erb
Labels: erb

#5224 Revert required medium type for no contact made on case contact form
  app/views/case_contacts/_form.html.erb
  app/views/volunteers/index.html.erb
Labels: erb

#5226 5217 - System Test for Password Reset
  Gemfile
  Gemfile.lock
  db/schema.rb
  spec/spec_helper.rb
  spec/system/devise/passwords/new_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏

#5225 updated the amount in mileage rate while creating in the seed.
  db/seeds/db_populator.rb
Labels: ruby

#5238 5133 - Flaky Test: Add language doesn't respect org boundaries
  spec/policies/user_policy_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5242 Sort mileage rates by effective_dates
  app/controllers/mileage_rates_controller.rb
  spec/controllers/mileage_rates_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5240 Repurpose async notifier to show notifications in general
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/shared/notifier.scss
  app/javascript/__tests__/notifier.test.js
  app/javascript/src/all_casa_admin/patch_notes.js
  app/javascript/src/case_emancipation.js
  app/javascript/src/dashboard.js
  app/javascript/src/notifier.js
  app/views/all_casa_admins/patch_notes/index.html.erb
  app/views/emancipations/show.html.erb
  app/views/layouts/_notifier.erb
  app/views/layouts/application.html.erb
  app/views/volunteers/index.html.erb
  spec/system/all_casa_admins/patch_notes/index_spec.rb
  spec/system/casa_cases/emancipation/show_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#5196 Learning emails 4534
  app/controllers/casa_admins_controller.rb
  app/controllers/supervisors_controller.rb
  app/mailers/learning_hours_mailer.rb
  app/models/casa_admin.rb
  app/models/supervisor.rb
  app/models/user.rb
  app/models/volunteer.rb
  app/values/user_parameters.rb
  app/views/casa_admins/_form.html.erb
  app/views/learning_hours_mailer/learning_hours_report_email.html.erb
  app/views/supervisors/edit.html.erb
  db/migrate/20230902021531_add_monthly_learning_hours_report_to_user.rb
  db/schema.rb
  lib/mailers/previews/learning_hours_mailer_preview.rb
  lib/tasks/monthly_learning_hours_report.rake
  spec/mailers/learning_hours_mailer_spec.rb
  spec/system/casa_admins/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb
