Repository rubyforgood/casa, pull requests merged in 2023-01, with the labels that each got.

#4386 Adds new theme to Devise pages
  app/assets/stylesheets/pages/password.scss
  app/views/devise/invitations/edit.html.erb
  app/views/devise/invitations/new.html.erb
  app/views/devise/passwords/edit.html.erb
  app/views/devise/passwords/new.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/devise/shared/_links.html.erb
Labels: erb

#4387 Updates helper methods and sidebar partial to show correct active links
  app/helpers/sidebar_helper.rb
  app/views/layouts/_sidebar.html.erb
Labels: ruby, erb

#4393 fix unassign action style and add icons to buttons
  app/views/shared/_manage_volunteers.html.erb
  app/views/supervisors/_manage_active.html.erb
  app/views/supervisors/edit.html.erb
  app/views/supervisors/new.html.erb
Labels: erb

#4381 4309 new theme casa contacts pages
  app/controllers/static_controller.rb
  app/views/casa_admins/_form.html.erb
  app/views/casa_admins/index.html.erb
  app/views/case_contacts/_case_contact.html.erb
  app/views/case_contacts/_confirm_note_content_dialog.html.erb
  app/views/case_contacts/_contact_types.html.erb
  app/views/case_contacts/_followup.html.erb
  app/views/case_contacts/_form.html.erb
  app/views/case_contacts/edit.html.erb
  app/views/case_contacts/index.html.erb
  app/views/case_contacts/new.html.erb
  app/views/contact_type_groups/_form.html.erb
  app/views/contact_types/_form.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/languages/_form.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/_sidebar.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/devise.html.erb
  app/views/shared/_edit_form.html.erb
  app/views/static/index.html.erb
  app/views/supervisors/index.html.erb
Labels: ruby, erb

#4384 moved language description to under language section
  app/views/casa_org/_languages.html.erb
Labels: erb

#4401 fix 500 on email exports
  app/controllers/reports_controller.rb
Labels: ruby

#4406 Updates to landing page for new theme
  app/views/static/index.html.erb
Labels: erb

#4412 Add plainadmin theme to case_org pages
  app/views/casa_org/_contact_type_groups.html.erb
  app/views/casa_org/_contact_types.html.erb
  app/views/casa_org/_hearing_types.html.erb
  app/views/casa_org/_judges.html.erb
  app/views/casa_org/_languages.html.erb
  app/views/casa_org/_sent_emails.html.erb
  app/views/casa_org/edit.html.erb
Labels: erb

#4416 Adds description to contact type groups' form.
  app/views/contact_type_groups/_form.html.erb
Labels: erb

#4420 Add plainadmin theme to casa_cases pages
  app/views/casa_cases/_court_dates.html.erb
  app/views/casa_cases/_filter.html.erb
  app/views/casa_cases/_form.html.erb
  app/views/casa_cases/_inactive_case.html.erb
  app/views/casa_cases/_other_duties.html.erb
  app/views/casa_cases/_thank_you_modal.html.erb
  app/views/casa_cases/_volunteer_assignment.html.erb
  app/views/casa_cases/edit.html.erb
  app/views/casa_cases/index.html.erb
  app/views/casa_cases/new.html.erb
  app/views/casa_cases/show.html.erb
  app/views/case_contacts/_contact_types.html.erb
  app/views/shared/_court_order_list.erb
Labels: erb

#4421 Convert imports pages to plainadmin theme
  app/views/imports/_cases.html.erb
  app/views/imports/_csv_error_modal.html.erb
  app/views/imports/_sms_opt_in_modal.html.erb
  app/views/imports/_supervisors.html.erb
  app/views/imports/_volunteers.html.erb
  app/views/imports/index.html.erb
Labels: erb, New Theme

#4422 Add plainadmin theme to court_dates pages
  app/views/court_dates/_form.html.erb
  app/views/court_dates/edit.html.erb
  app/views/court_dates/new.html.erb
  app/views/court_dates/show.html.erb
Labels: erb

#4419 Don't show group actions expanded by default
  app/views/layouts/_sidebar.html.erb
Labels: erb

#4424 Update theme for notes and notifications
  app/views/notes/edit.html.erb
  app/views/notifications/index.html.erb
Labels: erb

#4425 Show dropdown open when any of the child anchor is active
  app/javascript/src/sidebar.js
Labels: javascript

#4426 Changed the theme for the reimbursement queue page
  app/views/reimbursements/_datatable.html.erb
  app/views/reimbursements/_filter_trigger.html.erb
  app/views/reimbursements/_occurred_at_filter_input.html.erb
  app/views/reimbursements/index.html.erb
Labels: erb

#4436 Update theme for all casa admins pages v2
  app/javascript/src/all_casa_admin/patch_notes.js
  app/javascript/src/plainadmin.js
  app/views/all_casa_admins/casa_admins/_form.html.erb
  app/views/all_casa_admins/casa_admins/edit.html.erb
  app/views/all_casa_admins/casa_admins/new.html.erb
  app/views/all_casa_admins/casa_orgs/new.html.erb
  app/views/all_casa_admins/casa_orgs/show.html.erb
  app/views/all_casa_admins/dashboard/show.html.erb
  app/views/all_casa_admins/edit.html.erb
  app/views/all_casa_admins/new.html.erb
  app/views/all_casa_admins/patch_notes/_patch_note.html.erb
  app/views/all_casa_admins/patch_notes/index.html.erb
  app/views/all_casa_admins/sessions/new.html.erb
  app/views/layouts/application.html.erb
Labels: javascript, erb

#4445 Updated submit button icons
  Gemfile.lock
  app/views/judges/_form.html.erb
  app/views/languages/_form.html.erb
Labels: dependencies, javascript, ruby, erb

#4219 Added judge field to Howard Court Report template at stakeholder's re…
  app/documents/templates/howard_county_report_template.docx
  app/models/case_court_report_context.rb
  lib/tasks/deployment/20230110000515_update_howard_court_report_template.rake
Labels: ruby

#4458 Failures 4 through 23
  Gemfile.lock
  app/javascript/src/plainadmin.js
  app/javascript/src/select.js
  app/javascript/src/sidebar.js
  app/views/devise/sessions/new.html.erb
  app/views/layouts/_header.html.erb
  app/views/shared/_error_messages.html.erb
  spec/system/deep_link/deep_link_spec.rb
  spec/system/sessions/new_spec.rb
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏, erb

#4440 Remove refresh on unauthorized response
  app/javascript/src/dashboard.js
Labels: javascript

#4467 2647: Modify case_assignment actions to accept JSON requests
  app/controllers/case_assignments_controller.rb
  doc/API.md
  spec/controllers/case_assignments_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4464 2907: Create migration to remove court_date from casa_cases table
  db/migrate/20230121174227_remove_court_data_from_casa_cases.rb
  db/schema.rb
Labels: ruby, db

#4447 Move specs in volunteers_controller_spec to volunteers_spec
  spec/controllers/volunteers_controller_spec.rb
  spec/requests/volunteers_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4473 4284: Refactor case court report context specs
  spec/models/case_court_report_context_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4490 Fix esbuild backwards incompatibilty from before v17
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/rspec.yml
  bin/asset_bundling_scripts/build_js.js
Labels: javascript

#4492 4284: Remove unused context for case court report context specs
  spec/models/case_court_report_context_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4494 Next 15 New Theme Specs
  app/views/all_casa_admins/casa_orgs/new.html.erb
  app/views/all_casa_admins/casa_orgs/show.html.erb
  app/views/all_casa_admins/dashboard/show.html.erb
  app/views/all_casa_admins/sessions/new.html.erb
  app/views/casa_cases/_form.html.erb
  app/views/case_contacts/_followup.html.erb
  app/views/court_dates/_form.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/layouts/_all_casa_admin_sidebar.html.erb
  app/views/layouts/_header.html.erb
  app/views/shared/_error_messages.html.erb
  app/views/supervisors/index.html.erb
  spec/system/all_casa_admins/sessions/new_spec.rb
  spec/system/casa_cases/edit_spec.rb
  spec/system/volunteers/new_spec.rb
  spec/views/all_casa_admins/casa_orgs/new.html.erb_spec.rb
  spec/views/checklist_items/edit.html.erb_spec.rb
  spec/views/court_dates/edit.html.erb_spec.rb
  spec/views/hearing_types/new.html.erb_spec.rb
  spec/views/supervisors/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb
