Repository rubyforgood/casa, pull requests merged in 2023-11, with the labels that each got.

#5325 remove debug render
  app/views/layouts/application.html.erb
Labels: erb

#5329 Bump node version
  .github/workflows/yarn_lint_and_test.yml
  package.json
Labels: dependencies, javascript

#5330 Bump standardrb to 1.31.0
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/case_contact_reports_controller.rb
  app/controllers/reimbursements_controller.rb
  app/datatables/volunteer_datatable.rb
  app/decorators/casa_case_decorator.rb
  app/helpers/template_helper.rb
  app/lib/importers/file_importer.rb
  app/values/user_parameters.rb
  db/seeds/db_populator.rb
  lib/tasks/send_case_contact_types_reminder.rake
  lib/tasks/send_no_contact_made_reminder.rake
  lib/tasks/send_supervisor_digest.rake
  spec/datatables/volunteer_datatable_spec.rb
  spec/requests/case_contacts/followups_spec.rb
  spec/requests/reimbursements_spec.rb
  spec/support/shared_examples/shows_error_for_invalid_phone_numbers.rb
Labels: dependencies, ruby, Tests! 🎉💖👏

#5326 Allow supervisors to see youths birth month/date in form
  app/views/casa_cases/_form.html.erb
Labels: erb

#5340 Add link to Help in user dropdown menu
  app/views/layouts/_header.html.erb
  config/routes.rb
  spec/views/layouts/header.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5328 Add notifications for volunteer birthdays (#5316)
  app/controllers/casa_admins_controller.rb
  app/controllers/users_controller.rb
  app/decorators/user_decorator.rb
  app/helpers/notifications_helper.rb
  app/models/casa_admin.rb
  app/models/learning_hour.rb
  app/models/supervisor.rb
  app/models/user.rb
  app/models/volunteer.rb
  app/notifications/volunteer_birthday_notification.rb
  app/validators/user_validator.rb
  app/values/user_parameters.rb
  app/views/notifications/index.html.erb
  app/views/shared/_edit_form.html.erb
  app/views/users/edit.html.erb
  app/views/volunteers/_form.html.erb
  config/initializers/date_formats.rb
  db/migrate/20231102181027_add_birthdays_to_users.rb
  db/schema.rb
  lib/tasks/volunteer_birthday_reminder.rake
  spec/decorators/user_decorator_spec.rb
  spec/factories/users.rb
  spec/lib/tasks/volunteer_birthday_reminder_spec.rb
  spec/models/user_spec.rb
  spec/models/volunteer_spec.rb
  spec/notifications/volunteer_birthday_notification_spec.rb
  spec/requests/users_spec.rb
  spec/system/casa_admins/edit_spec.rb
  spec/system/supervisors/edit_spec.rb
  spec/system/users/edit_spec.rb
  spec/system/volunteers/edit_spec.rb
  spec/system/volunteers/new_spec.rb
  spec/views/volunteers/edit.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5342 Nix environment deployment with built-in gems installation
  Gemfile.lock
  README.md
  flake.nix
  gemset.nix
Labels: dependencies

#5169 After creating casa contact redirect back to all
  app/controllers/application_controller.rb
  app/controllers/case_contacts_controller.rb
  spec/requests/case_contacts_spec.rb
  spec/system/case_contacts/create_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5155 Fix the case group multiselect.
  app/assets/stylesheets/application.scss
  app/javascript/controllers/index.js
  app/javascript/controllers/multiple_select_controller.js
  app/models/case_group.rb
  app/views/case_groups/_form.html.erb
  package.json
  spec/system/case_groups/case_groups_spec.rb
  yarn.lock
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏, erb

#5343 Modify options for Chrome driver in Docker
  spec/support/capybara.rb
Labels: ruby

#5361 Code and Spec changes for running birthday reminder task on 15th of every month
  lib/tasks/volunteer_birthday_reminder.rake
  spec/lib/tasks/volunteer_birthday_reminder_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5360 Update Case Contact Page Header
  app/views/case_contacts/new.html.erb
Labels: erb

#5349 Resolves move controller specs to request specs
  spec/controllers/all_casa_admins/casa_orgs_controller_spec.rb
  spec/controllers/emancipations_controller_spec.rb
  spec/controllers/mileage_rates_controller_spec.rb
  spec/requests/all_casa_admins/casa_orgs_spec.rb
  spec/requests/emancipations_request_spec.rb
  spec/requests/mileage_rates_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5345 Add Previews for the Fund Request Mailer
  lib/mailers/previews/fund_request_mailer_preview.rb
Labels: ruby

#5363 fix autosave overriding values on inputs where the value shouldn't be changed
  app/javascript/src/case_contact_autosave.js
Labels: javascript

#5364 Case Contact Case ID Fix
  app/views/case_contacts/_form.html.erb
Labels: erb

#5306 replace js form validation with reusable notifier based validation components
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/shared/notifier.scss
  app/assets/stylesheets/shared/validated_form_component.scss
  app/javascript/__tests__/case_contact.test.js
  app/javascript/__tests__/notifier.test.js
  app/javascript/__tests__/validated_form.test.js
  app/javascript/src/case_contact.js
  app/javascript/src/case_contact_autosave.js
  app/javascript/src/notifier.js
  app/javascript/src/reimbursements.js
  app/javascript/src/sms_reactivation_toggle.js
  app/javascript/src/validated_form.js
  app/views/case_contacts/_form.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/components/_notifier.html.erb
  app/views/layouts/components/_ranged_date_picker.html.erb
  spec/system/case_contacts/new_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#5368 Fix browser warnings for volunteer pages
  app/views/casa_cases/_form.html.erb
  app/views/case_contacts/_contact_types.html.erb
  app/views/case_contacts/_form.html.erb
  app/views/case_contacts/index.html.erb
  app/views/case_court_reports/index.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/emancipations/show.html.erb
  app/views/learning_hours/_form.html.erb
  app/views/learning_hours/_update_form.html.erb
  app/views/other_duties/_form.html.erb
  app/views/shared/_court_order_list.erb
  app/views/shared/_edit_form.html.erb
  app/views/users/_languages.html.erb
  app/views/users/edit.html.erb
  app/views/volunteers/index.html.erb
  spec/system/users/edit_spec.rb
  spec/views/casa_cases/new.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5373 make uncaught exception impossible
  app/javascript/src/case_contact_autosave.js
Labels: javascript

#5374 Refactor casa_admins request specs
  spec/requests/casa_admins_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5379 Minor js performance increase
  app/javascript/src/case_contact_autosave.js
Labels: javascript

#5375 Update rswag-api to 2.11.0
  Gemfile.lock
Labels: dependencies

#5381 build: datatables.net-dt to 1.13.8
  package.json
  yarn.lock
Labels: dependencies, javascript

#5366 Update Case Contacts Section-1
  app/assets/stylesheets/pages/case_contacts.scss
  app/assets/stylesheets/shared/layout.scss
  app/views/case_contacts/_form.html.erb
Labels: erb

#5385 update text color status on volunteers edit page
  app/views/volunteers/_manage_cases.erb
Labels: erb

#5384 Refactor identical groups of form inputs to partials with components
  app/assets/stylesheets/pages/case_contacts.scss
  app/components/form/hour_minute_duration_component.html.erb
  app/components/form/hour_minute_duration_component.rb
  app/views/case_contacts/_form.html.erb
  app/views/layouts/components/_hour_minute_duration.html.erb
  app/views/learning_hours/_form.html.erb
  app/views/learning_hours/_update_form.html.erb
  spec/components/form/hour_minute_duration_component_spec.rb
  spec/support/fill_out_minimum_required_form_fields.rb
  spec/system/case_contacts/create_spec.rb
  spec/system/case_contacts/edit_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5402 remove old partial component style
  app/views/layouts/components/_hour_minute_duration.html.erb
  app/views/learning_hours/_update_form.html.erb
Labels: erb

#5376 Fix Address Field Name Discrepency
  app/views/shared/_edit_form.html.erb
  spec/system/volunteers/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5403 5370: Learning Hours for the Seeder
  db/seeds.rb
  db/seeds/db_populator.rb
  spec/seeds/seeds_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5386 refactor(create-spec): update system tests to check for success text
  spec/system/case_contacts/create_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5389 Merged learning hour form partial.
  app/controllers/learning_hours_controller.rb
  app/views/learning_hours/_form.html.erb
  app/views/learning_hours/_update_form.html.erb
  app/views/learning_hours/edit.html.erb
  spec/system/learning_hours/edit_spec.rb
  spec/system/learning_hours/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5405 Fine tuning for metric chart
  app/javascript/src/display_app_metric.js
  app/views/health/index.html.erb
Labels: javascript, erb

#5404 Allow Supervisors and Admins to See Learning Hours
  app/controllers/learning_hours_controller.rb
  app/helpers/learning_hours_helper.rb
  app/javascript/application.js
  app/javascript/datatable.js
  app/javascript/src/all_casa_admin/tables.js
  app/javascript/src/learning_hours.js
  app/models/learning_hour.rb
  app/policies/learning_hour_policy.rb
  app/views/layouts/_sidebar.html.erb
  app/views/learning_hours/_form.html.erb
  app/views/learning_hours/_supervisor_admin_learning_hours.html.erb
  app/views/learning_hours/_volunteer_learning_hours.html.erb
  app/views/learning_hours/index.html.erb
  app/views/learning_hours/show.html.erb
  config/routes.rb
  spec/helpers/learning_hours_helper_spec.rb
  spec/models/learning_hour_spec.rb
  spec/policies/learning_hour_policy/scope_spec.rb
  spec/policies/learning_hour_policy_spec.rb
  spec/requests/learning_hours_spec.rb
  spec/system/learning_hours/edit_spec.rb
  spec/system/learning_hours/index_spec.rb
  spec/system/learning_hours/new_spec.rb
  spec/system/volunteers/new_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb
