Repository rubyforgood/casa, pull requests merged in 2023-12, with the labels that each got.

#5429 Learning hours duration inputs
  app/components/form/hour_minute_duration_component.rb
  app/models/learning_hour.rb
  spec/models/learning_hour_spec.rb
  spec/system/learning_hours/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5427 fix: last contact display time based on occurred date, not created date
  app/helpers/contact_types_helper.rb
  spec/helpers/contact_types_helper_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5443 Adjusted notes form section for design
  app/javascript/controllers/icon_toggle_controller.js
  app/javascript/controllers/index.js
  app/views/case_contacts/_form.html.erb
  spec/system/case_contacts/edit_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#5415 fix: fixes the list of "no_recent_sign_in" on supervisor weekly_digest
  app/mailers/supervisor_mailer.rb
  app/models/supervisor.rb
  app/models/user.rb
  app/views/supervisor_mailer/_no_recent_sign_in.html.erb
  app/views/supervisor_mailer/weekly_digest.html.erb
  spec/mailers/supervisor_mailer_spec.rb
  spec/models/supervisor_spec.rb
  spec/views/supervisor_mailer/weekly_digest.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5459 Email preview uncaught exception
  app/mailers/fund_request_mailer.rb
  lib/mailers/previews/fund_request_mailer_preview.rb
Labels: ruby
