Repository rubyforgood/casa, pull requests merged in 2023-08, with the labels that each got.

#5038 [4964] make the templates mirror each other to start
  app/views/notifications/_patch_notes.html.erb
  spec/requests/notifications_spec.rb
  spec/views/notifications/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5073 5051 page.body would do an immediate call vs page have_content would be implicit wait
  spec/system/casa_cases/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5043 [5042] experiment with pulling docx helpers out in favor of letting a gem do it
  spec/controllers/case_court_reports_controller_spec.rb
  spec/models/case_court_report_spec.rb
  spec/requests/case_court_reports_spec.rb
  spec/requests/court_dates_spec.rb
  spec/support/docx_inspector.rb
  spec/support/download_helpers.rb
Labels: ruby, Tests! 🎉💖👏

#5084 fix typo error
  app/controllers/case_contacts_controller.rb
  app/controllers/supervisor_volunteers_controller.rb
Labels: ruby

#5072 Remove new_framework_defaults file since we are already loading the defaults
  config/initializers/new_framework_defaults_7_0.rb
Labels: ruby

#5060 Bulk Court Dates
  .allow_skipping_tests
  app/controllers/bulk_court_dates_controller.rb
  app/controllers/case_groups_controller.rb
  app/controllers/concerns/court_date_params.rb
  app/controllers/court_dates_controller.rb
  app/decorators/casa_case_decorator.rb
  app/helpers/court_orders_helper.rb
  app/models/casa_case.rb
  app/models/casa_org.rb
  app/models/case_group.rb
  app/models/case_group_membership.rb
  app/models/court_date.rb
  app/views/bulk_court_dates/new.html.erb
  app/views/casa_cases/index.html.erb
  app/views/case_groups/_form.html.erb
  app/views/case_groups/edit.html.erb
  app/views/case_groups/index.html.erb
  app/views/case_groups/new.html.erb
  app/views/court_dates/_fields.html.erb
  app/views/court_dates/_form.html.erb
  app/views/shared/_court_order_form.html.erb
  app/views/shared/_court_order_list.erb
  config/routes.rb
  db/migrate/20230729154529_create_case_groups.rb
  db/migrate/20230729154545_create_case_group_memberships.rb
  db/schema.rb
  spec/factories/case_group_memberships.rb
  spec/factories/case_groups.rb
  spec/helpers/court_orders_helper_spec.rb
  spec/models/case_group_membership_spec.rb
  spec/models/case_group_spec.rb
  spec/system/bulk_court_dates/new_spec.rb
  spec/system/case_groups/case_groups_spec.rb
  spec/system/court_dates/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5087 [5049] we COULD do this in an integration spec, but considering we are evaluating for the content of each volunteer, let count be handled by unit tests
  spec/system/volunteers/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5071 [5052] attempt to handle the fact active job is dealing with the delivery async
  spec/system/casa_admins/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5088 Fix db schema version
  db/schema.rb
Labels: ruby

#5102 Add error notification for preferences saving
  app/javascript/src/dashboard.js
  app/views/volunteers/index.html.erb
Labels: javascript, erb

#4830 Get login duration from backend
  app/controllers/application_controller.rb
  app/javascript/src/session_timeout_poller.js
  app/views/layouts/application.html.erb
  spec/system/application/timeout_warning_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#5104 Delete unused languages_users table from db
  db/migrate/20230809002819_drop_languages_users.rb
  db/schema.rb
Labels: ruby

#5119 Fix for broken tests.
  config/locales/en.yml
  spec/system/casa_cases/show_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5149 Fix js errors
  app/javascript/src/case_contact.js
  app/javascript/src/dashboard.js
Labels: javascript

#5148 Closes #4957 - Bug: 'New Case Contact' button alignment
  app/views/case_contacts/index.html.erb
Labels: erb

#5146 Fix: Handle exception thrown when volunteer tries to add same language twice
  app/controllers/users_controller.rb
  spec/requests/users_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5147 Remove onHover clickable effect for "Role" and "Email" fields on prof…
  app/views/layouts/_header.html.erb
  public/assets/css/main.css
Labels: erb

#5150 Move StaticController controller spec to request specs
  spec/controllers/static_controller_spec.rb
  spec/requests/static_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5106 Make Case Group Names Unique Per Org
  app/models/case_group.rb
  spec/factories/case_groups.rb
  spec/models/case_group_spec.rb
  spec/system/case_groups/case_groups_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5165 Fix test suite warnings
  app/views/supervisor_mailer/_active_volunteer_info.html.erb
  lib/tasks/deployment/20211023145114_store_deploy_time.rake
  lib/tasks/test_checker.rake
Labels: erb

#5151 Move CaseContactReportsController controller specs to request
  spec/controllers/case_contact_reports_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5170 [5128] reduce flakiness by just focusing on asserting the given highlight
  spec/support/shared_examples/shows_court_dates_links.rb
  spec/system/casa_cases/new_spec.rb
  spec/system/case_contacts/index_spec.rb
  spec/system/case_contacts/new_spec.rb
  spec/system/court_dates/edit_spec.rb
  spec/system/court_dates/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5171 fix deprecation warnings
  app/javascript/src/add_to_calendar_button.js
  app/javascript/src/all_casa_admin/patch_notes.js
  app/javascript/src/all_casa_admin/tables.js
  app/javascript/src/casa_case.js
  app/javascript/src/casa_org.js
  app/javascript/src/case_contact.js
  app/javascript/src/case_contact_autosave.js
  app/javascript/src/case_emancipation.js
  app/javascript/src/dashboard.js
  app/javascript/src/display_app_metric.js
  app/javascript/src/emancipations.js
  app/javascript/src/import.js
  app/javascript/src/new_casa_case.js
  app/javascript/src/password_confirmation.js
  app/javascript/src/plainadmin.js
  app/javascript/src/reimbursements.js
  app/javascript/src/require_communication_preference.js
  app/javascript/src/select.js
  app/javascript/src/sidebar.js
  app/javascript/src/sms_reactivation_toggle.js
  app/javascript/src/tooltip.js
Labels: javascript
