Repository rubyforgood/casa, pull requests merged in 2023-02, with the labels that each got.

#4465 2907: Remove court_date from ignored_columns in CasaCase model
  app/models/casa_case.rb
Labels: ruby, db

#4507 Refactor case_court_orders_controller_spec to request and policy specs
  spec/controllers/case_court_orders_controller_spec.rb
  spec/policies/case_court_order_policy_spec.rb
  spec/requests/case_court_orders_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4489 Refactor casa_admins_controller_spec to request spec
  .allow_skipping_tests
  spec/controllers/casa_admins_controller_spec.rb
  spec/requests/casa_admins_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4463 Refactor learning_hours_reports controller spec to a request spec
  .allow_skipping_tests
  spec/controllers/learning_hours_reports_controller_spec.rb
  spec/requests/learning_hours_reports_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4503 4150: Create a route that intentionally 500s the app
  .allow_skipping_tests
  app/controllers/error_controller.rb
  app/views/error/index.html.erb
  config/routes.rb
  spec/requests/error_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4398 Remove overwriting of already checked checkboxes
  app/javascript/src/case_contact_autosave.js
Labels: javascript

#4510 [resolves #4495] Ensure unique values for case contact attributes in spec setup to address flaky ordering specs
  spec/datatables/reimbursement_datatable_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4535 Fixes specs for new theme
  app/assets/webfonts/fa-solid-900.ttf
  app/assets/webfonts/fa-solid-900.woff2
  app/controllers/case_contacts_controller.rb
  config/application.rb
  spec/system/casa_cases/new_spec.rb
  spec/system/casa_cases/show_more_spec.rb
  spec/system/case_contacts/new_spec.rb
  spec/system/case_court_reports/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4516 Fix some tests learningstuff98
  spec/system/all_casa_admins/dashboard/show_spec.rb
  spec/system/supervisors/new_spec.rb
  spec/views/case_court_reports/index.html.erb_spec.rb
  spec/views/court_dates/new.html.erb_spec.rb
  spec/views/judges/new.html.erb_spec.rb
  spec/views/layouts/header.html.erb_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4537 Test-Fixes
  app/views/all_casa_admins/casa_orgs/new.html.erb
  app/views/reports/index.html.erb
  spec/system/all_casa_admins/casa_orgs/new_spec.rb
  spec/views/checklist_items/new.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4544 Final spec fixes for new_theme???
  app/views/all_casa_admins/dashboard/show.html.erb
  app/views/all_casa_admins/edit.html.erb
  app/views/case_contacts/_form.html.erb
  app/views/case_contacts/index.html.erb
  app/views/emancipations/show.html.erb
  app/views/volunteers/index.html.erb
  spec/system/case_contacts/edit_spec.rb
  spec/system/checklist_items/destroy_spec.rb
  spec/views/court_dates/new.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4557 Delete package-lock file
  package-lock.json
Labels: dependencies, javascript

#4485 Refactor court_dates_controller_specs to request specs
  spec/controllers/court_dates_controller_spec.rb
  spec/policies/court_date_policy_spec.rb
  spec/requests/court_dates_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4538 Move casa_org_controller_spec to request_spec
  .allow_skipping_tests
  spec/controllers/casa_org_controller_spec.rb
  spec/models/casa_org_spec.rb
  spec/requests/casa_org_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4580 bundle update sorbet strong_migrations sorbet-runtime
  Gemfile.lock
Labels: dependencies

#4586 Fix date parsing reimbursements firefox
  app/javascript/src/reimbursements.js
  package.json
  yarn.lock
Labels: dependencies, javascript

#4579 Fixes edit organization link in admin header
  app/views/layouts/_header.html.erb
Labels: erb

#4595 Scope CasaCasesController actions by organization
  app/controllers/casa_cases_controller.rb
  app/policies/application_policy.rb
  app/policies/casa_case_policy.rb
  app/views/casa_cases/_form.html.erb
  spec/policies/casa_case_policy_spec.rb
  spec/requests/casa_cases_spec.rb
  spec/requests/emancipations_request_spec.rb
  spec/requests/volunteers_spec.rb
  spec/system/casa_cases/edit_spec.rb
  spec/views/casa_cases/new.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4609 Dry additional expenses tests
  spec/support/fill_out_minimum_required_form_fields.rb
  spec/system/case_contacts/additional_expenses_spec.rb
Labels: ruby, Tests! 🎉💖👏
