Repository rubyforgood/casa, pull requests merged in 2023-04, with the labels that each got.

#4740 remove ci skip bullet
  spec/rails_helper.rb
Labels: ruby

#4737 add default sorted_by attribute to filterrific for casa_contacts
  app/models/case_contact.rb
  spec/system/case_contacts/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4738 4079 remove language
  app/controllers/languages_controller.rb
  app/controllers/users_controller.rb
  app/policies/user_policy.rb
  app/views/users/_languages.html.erb
  config/routes.rb
  spec/requests/languages_spec.rb
  spec/requests/users_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4741 health supports html and json pages
  .github/workflows/after-deploy.yml
  app/controllers/health_controller.rb
  app/views/health/index.html.erb
  spec/requests/health_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4751 factory_bot:lint issue
  spec/factories/languages.rb
Labels: ruby

#4755 add missing models to seeder output and alphabetize them
  db/seeds.rb
Labels: ruby

#4752 Add Placements To CasaCase show page
  .allow_skipping_tests
  app/controllers/placements_controller.rb
  app/decorators/placement_decorator.rb
  app/models/casa_case.rb
  app/models/placement.rb
  app/views/casa_cases/_placements.html.erb
  app/views/casa_cases/show.html.erb
  app/views/placements/show.html.erb
  config/routes.rb
  db/migrate/20230412103356_add_casa_case_to_placements.rb
  db/schema.rb
  spec/decorators/placement_decorator_spec.rb
  spec/factories/casa_cases.rb
  spec/factories/placements.rb
  spec/models/placement_spec.rb
  spec/views/casa_cases/show.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4756 Refactor CasaAdminsController controller spec to request spec
  .allow_skipping_tests
  spec/controllers/all_casa_admins/casa_admins_controller_spec.rb
  spec/requests/all_casa_admins/casa_admins_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4767 2959 email preview
  config/initializers/sent_email_event.rb
  lib/mailers/debug_preview_mailer.rb
  lib/mailers/previews/casa_admin_mailer_preview.rb
  lib/mailers/previews/devise_mailer_preview.rb
  lib/mailers/previews/supervisor_mailer_preview.rb
  lib/mailers/previews/volunteer_mailer_preview.rb
  spec/mailers/previews/casa_admin_mailer_preview_spec.rb
  spec/mailers/previews/devise_mailer_preview_spec.rb
  spec/mailers/previews/supervisor_mailer_preview_spec.rb
  spec/mailers/previews/volunteer_mailer_preview_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4760 4533 court order bugfix
  app/javascript/__tests__/court_order_list.test.js
  app/javascript/src/casa_case.js
  app/javascript/src/court_order_list.js
  app/views/casa_cases/_form.html.erb
  app/views/court_dates/_form.html.erb
  app/views/shared/_court_order_list.erb
  db/seeds/db_populator.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#4680 feat: Add ViewComponent & Convert Notification to ViewComponent
  .env.example
  Gemfile
  Gemfile.lock
  app/components/notification_component.html.erb
  app/components/notification_component.rb
  app/helpers/notifications_helper.rb
  app/notifications/base_notification.rb
  app/notifications/emancipation_checklist_reminder_notification.rb
  app/notifications/followup_notification.rb
  app/notifications/youth_birthday_notification.rb
  app/views/notifications/index.html.erb
  spec/components/notification_component_spec.rb
  spec/factories/followups.rb
  spec/factories/notifications.rb
  spec/helpers/notifications_helper_spec.rb
  spec/rails_helper.rb
  spec/requests/notifications_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏, erb

#4734 Email changes for users
  app/controllers/all_casa_admins/casa_admins_controller.rb
  app/controllers/casa_admins_controller.rb
  app/controllers/supervisors_controller.rb
  app/controllers/users_controller.rb
  app/controllers/volunteers_controller.rb
  app/models/casa_admin.rb
  app/models/supervisor.rb
  app/models/user.rb
  app/models/volunteer.rb
  app/policies/user_policy.rb
  app/views/devise/mailer/confirmation_instructions.html.erb
  app/views/users/edit.html.erb
  config/initializers/devise.rb
  config/routes.rb
  db/migrate/20230327154626_add_confirmable_to_users.rb
  db/migrate/20230327155053_add_email_confirmation_and_old_emails_to_users.rb
  db/migrate/20230405202939_remove_email_confirmation_from_users.rb
  db/schema.rb
  db/seeds/db_populator.rb
  lib/tasks/deployment/20230409222823_add_confrimation_to_existing_users.rake
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/requests/users_spec.rb
  spec/system/notifications/index_spec.rb
  spec/system/users/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4782 catch twilio error
  app/services/twilio_service.rb
Labels: ruby
