Repository rubyforgood/casa, pull requests merged in 2023-10, with the labels that each got.

#5243 fix emancipation download btn positioning
  app/views/emancipations/show.html.erb
Labels: erb

#5247 Add Topic Column to Learning Hour Table
  app/views/learning_hours/index.html.erb
  spec/requests/learning_hours_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5248 New Notification class to control notification components created by the notifier
  app/assets/stylesheets/shared/notifier.scss
  app/javascript/__tests__/notifier.test.js
  app/javascript/application.js
  app/javascript/src/all_casa_admin/patch_notes.js
  app/javascript/src/case_emancipation.js
  app/javascript/src/dashboard.js
  app/javascript/src/notifier.js
  app/javascript/src/validated_form.js
  app/views/case_contacts/_form.html.erb
Labels: javascript, Tests! 🎉💖👏, erb

#5258 created past mileage data for test data
  db/seeds/db_populator.rb
Labels: ruby

#5239 Bug: Flaky Test Did not Receive Confirmation Text After Changing Admin to Supervisor
  spec/system/casa_admins/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5257 Relocate banners position on navbar
  app/views/layouts/_sidebar.html.erb
Labels: erb

#5241 fix: Flaky Test Did not Recieve Confirmation Text After Changing Supervisor to Admin
  spec/system/supervisors/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5262 replaced custom html escaping with library call
  app/javascript/__tests__/notifier.test.js
  app/javascript/src/case_contact.js
  app/javascript/src/notifier.js
Labels: javascript, Tests! 🎉💖👏

#5121 4871 send in app notification to volunteer and supervisor on reimbursement complete checkbox selection
  .allow_skipping_tests
  app/controllers/reimbursements_controller.rb
  app/models/casa_org.rb
  app/models/case_contact.rb
  app/notifications/reimbursement_complete_notification.rb
  spec/factories/notifications.rb
  spec/models/casa_org_spec.rb
  spec/models/case_contact_spec.rb
  spec/notifications/reimbursement_complete_notification_spec.rb
  spec/requests/reimbursements_spec.rb
  spec/system/notifications/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4976 Initial API Structure + Auth Route
  .allow_skipping_tests
  Gemfile
  Gemfile.lock
  app/blueprints/api/v1/session_blueprint.rb
  app/controllers/api/v1/base_controller.rb
  app/controllers/api/v1/users/sessions_controller.rb
  app/models/casa_admin.rb
  app/models/supervisor.rb
  app/models/user.rb
  app/models/volunteer.rb
  config/credentials/development.yml.enc
  config/environments/development.rb
  config/initializers/blueprinter.rb
  config/initializers/cors.rb
  config/initializers/rack_attack.rb
  config/initializers/rswag_api.rb
  config/initializers/rswag_ui.rb
  config/routes.rb
  db/migrate/20230710025852_add_token_to_users.rb
  db/migrate/20230822152341_drop_jwt_denylist_table.rb
  db/schema.rb
  lib/tasks/deployment/20230822145532_populate_api_tokens.rake
  spec/factories/users.rb
  spec/requests/api/v1/base_spec.rb
  spec/requests/api/v1/users/sessions_spec.rb
  spec/support/api_helper.rb
  spec/swagger_helper.rb
  swagger/v1/swagger.yaml
Labels: dependencies, ruby, Tests! 🎉💖👏, codethechange

#5290 Remove “+ Highlight” button from New Case Contact form
  app/assets/stylesheets/pages/case_contacts.scss
  app/javascript/src/case_contact.js
  app/views/case_contacts/_form.html.erb
Labels: javascript, erb

#5295 CasaCase accepts date_in_care
  app/controllers/casa_cases_controller.rb
  spec/requests/casa_cases_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5288 Disable 15 minutes validation for New Case Contact Form
  app/models/case_contact.rb
  spec/models/case_contact_spec.rb
  spec/requests/case_contacts_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5272 Feat: Added "My Cases" dropdown for volunteers
  app/helpers/sidebar_helper.rb
  app/views/layouts/_sidebar.html.erb
  app/views/shared/_sidebar_dropdown.html.erb
  spec/system/casa_cases/index_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5271 5086 Nav bar enhancement
  app/assets/stylesheets/base/breakpoints.scss
  app/assets/stylesheets/base/variables.scss
  app/assets/stylesheets/shared/sidebar.scss
  app/components/sidebar/group_component.html.erb
  app/components/sidebar/group_component.rb
  app/components/sidebar/link_component.html.erb
  app/components/sidebar/link_component.rb
  app/helpers/sidebar_helper.rb
  app/javascript/application.js
  app/javascript/controllers/index.js
  app/javascript/controllers/navbar_controller.js
  app/javascript/controllers/sidebar_controller.js
  app/javascript/controllers/sidebar_group_controller.js
  app/javascript/src/plainadmin.js
  app/javascript/src/sidebar.js
  app/views/layouts/_header.html.erb
  app/views/layouts/_other_duties_nav_item.html.erb
  app/views/layouts/_sidebar.html.erb
  app/views/shared/_sidebar_dropdown.html.erb
  spec/components/sidebar/group_component_spec.rb
  spec/components/sidebar/link_component_spec.rb
  spec/system/casa_cases/index_spec.rb
  spec/system/case_contacts/index_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#5307 Fix: "Assign New Volunteer" select defaults to show "Please Select Volunteer" in new cases
  app/views/shared/_manage_volunteers.html.erb
  spec/system/casa_cases/edit_spec.rb
  spec/system/supervisors/edit_spec.rb
  spec/views/casa_cases/edit.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5208 Email selected users when reimbursement requests are entered
  app/controllers/case_contacts_controller.rb
  app/mailers/supervisor_mailer.rb
  app/models/case_contact.rb
  app/views/supervisor_mailer/reimbursement_request_email.html.erb
  lib/mailers/previews/supervisor_mailer_preview.rb
  spec/mailers/previews/supervisor_mailer_preview_spec.rb
  spec/mailers/supervisor_mailer_spec.rb
  spec/models/case_contact_spec.rb
  spec/requests/case_contacts_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5311 fixed function calling itself infinitely
  app/javascript/src/type_checker.js
Labels: javascript

#5314 5313 Bug: Deployment Failed
  app/services/followup_export_csv_service.rb
  lib/tasks/deployment/20230822145532_populate_api_tokens.rake
Labels: ruby

#5315 Bring local time component to original specification
  app/components/local_time_component.html.erb
  app/components/local_time_component.rb
  app/views/layouts/application.html.erb
  spec/components/local_time_component_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb
