Repository rubyforgood/casa, pull requests merged in 2023-07, with the labels that each got.

#4929 Correct preview for weekly mailer
  lib/mailers/previews/concerns/mailer_preview.rb
  lib/mailers/previews/supervisor_mailer_preview.rb
Labels: ruby

#4930 Fix setup
  .env.example
  db/migrate/20230610153139_add_receive_reimbursement_email_to_users.rb
  db/schema.rb
Labels: ruby

#4934 Revert "Merge pull request #4901 from xihai01/devise-jwt"
  .allow_skipping_tests
  Gemfile
  Gemfile.lock
  app/controllers/concerns/accessible.rb
  app/controllers/users/sessions_controller.rb
  app/models/jwt_denylist.rb
  app/models/user.rb
  config/application.rb
  config/credentials/development.yml.enc
  config/credentials/test.yml.enc
  config/environments/development.rb
  config/initializers/cors.rb
  config/initializers/devise.rb
  db/migrate/20230308041745_create_jwt_denylist.rb
  db/schema.rb
  spec/mailers/previews/supervisor_mailer_preview_spec.rb
  spec/requests/users/sessions_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏

#4928 Refactor supervisor weekly email to be modular
  app/mailers/supervisor_mailer.rb
  app/services/inactive_messages_service.rb
  app/views/supervisor_mailer/_active_volunteer_info.html.erb
  app/views/supervisor_mailer/_active_volunteers.html.erb
  app/views/supervisor_mailer/_additional_notes.html.erb
  app/views/supervisor_mailer/_no_recent_sign_in.html.erb
  app/views/supervisor_mailer/_pending_volunteers.html.erb
  app/views/supervisor_mailer/_recently_unassigned_volunteers.html.erb
  app/views/supervisor_mailer/_summary_header.html.erb
  app/views/supervisor_mailer/weekly_digest.html.erb
  lib/mailers/previews/supervisor_mailer_preview.rb
  spec/services/inactive_messages_service_spec.rb
  spec/views/supervisor_mailer/weekly_digest.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4932 update sweetalert2
  yarn.lock
Labels: dependencies, javascript

#4931 update rails from 7.0.5 to 7.0.6
  Gemfile.lock
Labels: dependencies

#4956 try to fix docker
  Gemfile.lock
Labels: dependencies

#4885 Add frontend organization twilio feature updates
  app/javascript/application.js
  app/javascript/src/casa_org.js
  app/javascript/src/sms_reactivation_toggle.js
  app/views/casa_org/edit.html.erb
  app/views/users/edit.html.erb
  app/views/volunteers/_manage_active.html.erb
  spec/system/casa_org/edit_spec.rb
  spec/system/users/edit_spec.rb
  spec/system/volunteers/edit_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#4966 Bug: "Created by" label in Case Contact cards #4962
  app/views/case_contacts/_case_contact.html.erb
  spec/system/case_contacts/index_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4965 Removed action column from learning hours table
  app/views/learning_hours/index.html.erb
  spec/requests/learning_hours_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4960 Issue 4935 add foreign key for casa_org_id in mileage_rates
  app/models/mileage_rate.rb
  db/migrate/20230704123327_add_foreign_key_constraints_to_mileage_rates.rb
  db/schema.rb
Labels: ruby

#4951 Make test_checker.rake respect request tests for controllers
  lib/tasks/test_checker.rake
  spec/requests/emancipation_checklists_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4950 make casa case url update when casa case number is changed
  app/models/casa_case.rb
  app/services/casa_case_change_service.rb
  spec/models/casa_case_spec.rb
  spec/requests/casa_cases_spec.rb
  spec/services/casa_case_change_service_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4865 Add Casa logos to landing page Issue #4475
  app/controllers/static_controller.rb
  app/models/casa_org.rb
  app/views/static/index.html.erb
  spec/factories/casa_orgs.rb
  spec/fixtures/org_logo.jpeg
  spec/system/static/index_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4840 Pr3 column visibility persistance
  .allow_skipping_tests
  app/controllers/preference_sets_controller.rb
  app/decorators/preference_set_decorator.rb
  app/helpers/preference_sets_helper.rb
  app/javascript/src/dashboard.js
  app/services/preference_set_table_state_service.rb
  config/routes.rb
  spec/decorators/preference_set_decorator_spec.rb
  spec/factories/preference_sets.rb
  spec/helpers/preference_sets_helper_spec.rb
  spec/requests/preference_sets_spec.rb
  spec/services/preference_set_table_state_service_spec.rb
  spec/system/volunteers/index_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏

#4949 remove actions in my case table
  app/views/casa_cases/index.html.erb
  spec/system/casa_cases/additional_index_spec.rb
  spec/system/dashboard/show_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4954 Fix inaccessible background colors for buttons
  app/views/all_casa_admins/edit.html.erb
  app/views/layouts/_header.html.erb
  app/views/users/edit.html.erb
Labels: erb

#4961 add ability for supervisors and admins to allow or disallow volunteer…
  app/controllers/case_assignments_controller.rb
  app/helpers/case_contacts_helper.rb
  app/models/case_assignment.rb
  app/policies/case_assignment_policy.rb
  app/views/casa_cases/_volunteer_assignment.html.erb
  app/views/case_contacts/_form.html.erb
  app/views/shared/_manage_volunteers.html.erb
  config/routes.rb
  db/migrate/20230627210040_add_allow_reimbursement_to_case_assignments.rb
  db/schema.rb
  spec/factories/case_assignments.rb
  spec/factories/volunteers.rb
  spec/helpers/case_contacts_helper_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4958 Update image height to match casa logo aspect ratio
  app/views/layouts/_sidebar.html.erb
Labels: erb

#4979 Fix ignored reimbursements controller tests
  app/controllers/reimbursements_controller.rb
  spec/requests/reimbursements_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4981 Bug: "Edit" button Style
  app/views/casa_admins/index.html.erb
  app/views/case_contacts/_case_contact.html.erb
Labels: erb

#4978 Add foreign key contraint for creator_id in notes table
  app/models/note.rb
  db/migrate/20230712080040_add_foreign_key_creator_id_to_note.rb
  db/schema.rb
Labels: ruby

#4955 Added white background card to communication preference section
  app/views/users/edit.html.erb
Labels: erb

#4998 spec for logo name
  spec/system/static/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4970 Regenerate the allow_skipping_tests file. add bundle audit
  .allow_skipping_tests
  Gemfile
  Gemfile.lock
  Rakefile
Labels: dependencies

#5011 Remove webdrivers gem since selenium-webdriver is updated to 4.10
  Gemfile
  Gemfile.lock
  spec/rails_helper.rb
Labels: dependencies, ruby

#5007 add random date_in_care to CasaCase seeds
  db/seeds/db_populator.rb
Labels: ruby

#5018 5016 - Adds Stimulus and Hello Controller
  Gemfile
  Gemfile.lock
  README.md
  app/javascript/application.js
  app/javascript/controllers/application.js
  app/javascript/controllers/hello_controller.js
  app/javascript/controllers/index.js
  app/views/casa_cases/index.html.erb
  package.json
  yarn.lock
Labels: dependencies, javascript, erb

#5010 Fill Out Notification Tests, and add missing notification Factories
  spec/components/notification_component_spec.rb
  spec/factories/notifications.rb
  spec/system/notifications/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5020 [4993] add download current template button for admin ui
  app/views/casa_org/edit.html.erb
  spec/views/casa_orgs/edit.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5021 Add @babel/core@^7.0.0 to fix peer dependency warning
  package.json
  yarn.lock
Labels: dependencies, javascript

#4916 rails app:update and overrides
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/content_security_policy.rb
  config/initializers/inflections.rb
  config/initializers/new_framework_defaults_7_0.rb
  config/initializers/permissions_policy.rb
Labels: ruby

#5025 Admins and supervisors can add a banner to the top of the screen
  .allow_skipping_tests
  app/assets/stylesheets/actiontext.css
  app/assets/stylesheets/application.scss
  app/controllers/banners_controller.rb
  app/javascript/application.js
  app/javascript/controllers/dismiss_controller.js
  app/javascript/controllers/index.js
  app/models/banner.rb
  app/models/casa_org.rb
  app/policies/application_policy.rb
  app/views/active_storage/blobs/_blob.html.erb
  app/views/banners/_form.html.erb
  app/views/banners/edit.html.erb
  app/views/banners/index.html.erb
  app/views/banners/new.html.erb
  app/views/layouts/_banner.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/_sidebar.html.erb
  app/views/layouts/action_text/contents/_content.html.erb
  config/routes.rb
  db/migrate/20230728135743_create_action_text_tables.action_text.rb
  db/migrate/20230728140249_create_banners.rb
  db/schema.rb
  package.json
  spec/factories/banners.rb
  spec/models/banner_spec.rb
  spec/rails_helper.rb
  spec/system/banners/banners_spec.rb
  spec/views/layouts/header.html.erb_spec.rb
  yarn.lock
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏, erb

#5026 [4992] fix form not being able to save by toggling required fields immediately
  app/javascript/src/casa_org.js
  spec/system/casa_org/edit_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏

#5029 Fix Learning hours flaky spec
  spec/models/learning_hours_report_spec.rb
  spec/rails_helper.rb
  spec/support/capybara.rb
  spec/support/csv_exporter_helper.rb
Labels: ruby, Tests! 🎉💖👏

#4982 Update sidebar_helper#active_class to fix bug with active menu items
  app/assets/stylesheets/shared/sidebar.scss
  app/helpers/sidebar_helper.rb
  app/views/layouts/_all_casa_admin_sidebar.html.erb
  app/views/layouts/_sidebar.html.erb
  spec/helpers/sidebar_helper_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5033 Remove the unnecessary use of Selenium for the timedout test
  spec/system/volunteers/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5030 4995 - Bug more than 8 court orders
  app/controllers/court_dates_controller.rb
  app/javascript/__tests__/court_order_list.test.js
  app/javascript/controllers/extended_nested_form_controller.js
  app/javascript/controllers/index.js
  app/javascript/src/casa_case.js
  app/javascript/src/court_order_list.js
  app/models/casa_case.rb
  app/models/court_date.rb
  app/policies/casa_case_policy.rb
  app/views/casa_cases/_form.html.erb
  app/views/court_dates/_form.html.erb
  app/views/shared/_court_order_form.html.erb
  app/views/shared/_court_order_list.erb
  package.json
  spec/system/casa_cases/edit_spec.rb
  spec/system/court_dates/edit_spec.rb
  spec/system/court_dates/new_spec.rb
  yarn.lock
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏, erb

#5031 Separate case contacts into separate "tabs" by case
  app/controllers/case_contacts_controller.rb
  app/views/case_contacts/index.html.erb
  app/views/layouts/_sidebar.html.erb
  spec/system/case_contacts/index_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5036 Fix order of learning_hours in report
  app/models/learning_hours_report.rb
  spec/system/volunteers/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5041 Fix for Docker flaky spec
  spec/system/casa_cases/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5035 Casa Org Edit flaky spec fix
  spec/factories/casa_orgs.rb
  spec/lib/tasks/case_contact_types_reminder_spec.rb
  spec/lib/tasks/no_contact_made_reminder_spec.rb
  spec/requests/casa_admins_spec.rb
  spec/requests/supervisors_spec.rb
  spec/requests/volunteers_spec.rb
  spec/services/court_report_due_sms_reminder_service_spec.rb
  spec/services/no_contact_made_sms_reminder_service_spec.rb
  spec/services/sms_reminder_service_spec.rb
  spec/support/capybara.rb
  spec/system/casa_org/edit_spec.rb
  spec/system/users/edit_spec.rb
  spec/system/volunteers/edit_spec.rb
  spec/views/casa_orgs/edit.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5040 Edit organization manage learning hours
  .allow_skipping_tests
  app/controllers/casa_org_controller.rb
  app/controllers/learning_hour_types_controller.rb
  app/controllers/learning_hours_controller.rb
  app/models/casa_org.rb
  app/models/learning_hour.rb
  app/models/learning_hour_type.rb
  app/policies/learning_hour_type_policy.rb
  app/services/learning_hours_export_csv_service.rb
  app/views/casa_org/_learning_hour_types.html.erb
  app/views/casa_org/edit.html.erb
  app/views/learning_hour_types/_form.html.erb
  app/views/learning_hour_types/edit.html.erb
  app/views/learning_hour_types/new.html.erb
  app/views/learning_hours/_form.html.erb
  app/views/learning_hours/_update_form.html.erb
  app/views/learning_hours/index.html.erb
  app/views/learning_hours/show.html.erb
  config/locales/en.yml
  config/locales/views.en.yml
  config/routes.rb
  db/migrate/20230729143126_create_learning_hour_types.rb
  db/migrate/20230729145310_add_reference_learning_hour_types.rb
  db/migrate/20230729145351_add_foreign_key_learning_hour_types.rb
  db/migrate/20230729145419_validate_foreign_key_learning_hour_types.rb
  db/schema.rb
  db/seeds.rb
  db/seeds/db_populator.rb
  lib/tasks/deployment/20230729145858_convert_learning_hour_types.rake
  spec/factories/learning_hour_types.rb
  spec/factories/learning_hours.rb
  spec/models/learning_hour_spec.rb
  spec/models/learning_hour_type_spec.rb
  spec/models/learning_hours_report_spec.rb
  spec/models/volunteer_spec.rb
  spec/services/learning_hours_export_csv_service_spec.rb
  spec/views/casa_orgs/edit.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5047 Remove hearing_type_id and judge_id from casa_cases table
  app/models/casa_case.rb
  db/migrate/20230729213608_remove_hearing_type_id_and_judge_id_from_casa_cases.rb
  db/schema.rb
Labels: ruby

#5053 Fix some spec warnings
  spec/requests/languages_spec.rb
  spec/support/factory_bot.rb
  spec/views/supervisors/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5061 Fix flaky system reports index spec
  spec/system/reports/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5065 Flaky spec fix: Explicity set judge names
  spec/models/judge_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5064 Fix system volunteers/edit flaky spec
  spec/system/volunteers/edit_spec.rb
  spec/views/volunteers/edit.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5067 [5054] switch the policy to actually be guaranteed part of a differen…
  spec/policies/supervisor_policy_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5066 Learning hour type validation matches language validation
  app/models/learning_hour_type.rb
  spec/models/learning_hour_type_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5048 5039 Remove deprecated learning_style column from learning_hour
  app/models/learning_hour.rb
  db/migrate/20230730103110_remove_learning_type.rb
  db/schema.rb
  spec/models/learning_hours_report_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5068 provided the fix for flaky specs
  spec/models/case_contact_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5069 [5055] use implicit waits to make sure we are good
  spec/system/notifications/index_spec.rb
Labels: ruby, Tests! 🎉💖👏
