Repository rubyforgood/casa, pull requests merged in 2023-03, with the labels that each got.

#4597 Fix broken export_data_spec and others
  spec/support/capybara.rb
  spec/system/case_contacts/additional_expenses_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4477 Refactor case court report specs
  spec/models/case_court_report_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4648 Fix the noscript style bug and update notification styling
  app/assets/stylesheets/shared/noscript.css
  app/views/layouts/application.html.erb
Labels: erb

#4596 No duplicate language options
  app/models/language.rb
  spec/models/language_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4581 Fix password reset for all casa admin
  app/models/all_casa_admin.rb
  db/migrate/20230220210146_add_phone_number_to_all_casa_admin_resource.rb
  db/schema.rb
Labels: ruby

#4604 Ensure warning for disabled js on landing page
  app/assets/config/manifest.js
  app/views/static/index.html.erb
Labels: javascript, erb

#4655 fix: typo causing test failure
  spec/system/other_duties/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4654 fix: Update Casa Case #new policy
  app/policies/casa_case_policy.rb
  spec/policies/casa_case_policy_spec.rb
  spec/requests/casa_cases_spec.rb
  spec/system/casa_cases/new_spec.rb
  spec/views/casa_cases/new.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4635 Supervisors reimbursment
  app/views/layouts/_sidebar.html.erb
Labels: erb

#4653 Refactor AllCasaAdmins::Dashboard controller spec to request spec
  spec/controllers/all_casa_admins/dashboard_controller_spec.rb
  spec/requests/all_casa_admins/dashboard_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4617 Fix issue 2610
  app/controllers/emancipations_controller.rb
  spec/controllers/emancipations_controller_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4647 Issue #3419 - Export contact report filtered by case
  app/controllers/case_contact_reports_controller.rb
  app/models/case_contact.rb
  app/models/case_contact_report.rb
  app/views/reports/index.html.erb
  spec/models/case_contact_report_spec.rb
  spec/models/case_contact_spec.rb
  spec/requests/case_contact_reports_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4614 edit and delete button patch notes
  app/views/all_casa_admins/patch_notes/_patch_note.html.erb
Labels: erb

#4660 4652: Remove phone number for all casa admin password reset
  app/models/all_casa_admin.rb
  app/views/all_casa_admins/passwords/new.html.erb
Labels: ruby, erb

#4598 Refactor users/passwords_controller specs to request specs
  .allow_skipping_tests
  spec/controllers/users/passwords_controller_spec.rb
  spec/requests/users/passwords_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4665 both buttons work
  app/javascript/src/all_casa_admin/patch_notes.js
Labels: javascript

#4668 4652: Remove phone number from all_casa_admins table
  app/models/all_casa_admin.rb
  db/migrate/20230316152808_remove_phone_number_from_all_casa_admin_resource.rb
  db/schema.rb
Labels: ruby

#4675 Fix two flaky specs
  spec/models/case_court_report_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4636 Mileage seeds
  db/seeds/db_populator.rb
Labels: ruby

#4688 unescape page body for string comparison
  spec/requests/volunteers_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4621 clear LS on successful casa contact form submission
  app/views/casa_cases/show.html.erb
Labels: erb

#4676 Refactor CaseContacts::FollowupsController request spec
  spec/controllers/followups_controller_spec.rb
  spec/requests/case_contacts/followups_spec.rb
  spec/requests/followups_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4693 Issue 2437
  app/javascript/__tests__/two_minute_warning_session_timeout.test.js
  app/javascript/application.js
  app/javascript/src/session_timeout_poller.js
Labels: javascript, Tests! 🎉💖👏

#4696 Refactor CaseContactsController specs to request specs
  .allow_skipping_tests
  spec/controllers/case_contacts_controller_spec.rb
  spec/requests/case_contacts_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4697 Change emancipation checklist notify task to use a PORO for business logic
  .tool-versions
  app/models/emancipation_checklist_reminder_task.rb
  lib/tasks/emancipation_checklist_reminder.rake
  spec/factories/case_assignments.rb
  spec/models/emancipation_checklist_reminder_task_spec.rb
Labels: ruby, Tests! 🎉💖👏

#4707 use created_at attribute in notifications partial
  app/views/notifications/_notification.html.erb
Labels: erb

#4710 apply correct permissions to edit_organization btn in header partial
  app/views/layouts/_header.html.erb
  spec/views/layouts/header.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#4716 try fix flaking seeder
  db/seeds/db_populator.rb
Labels: ruby

#4702 Create placement_type and placement with models
  app/models/placement.rb
  app/models/placement_type.rb
  db/migrate/20230326225216_create_placement_types.rb
  db/migrate/20230326225230_create_placements.rb
  db/schema.rb
  spec/factories/placement_types.rb
  spec/factories/placements.rb
  spec/models/placement_spec.rb
  spec/models/placement_type_spec.rb
Labels: ruby, Tests! 🎉💖👏
