Repository rubyforgood/casa, pull requests merged in 2024-04, with the labels that each got.

#5602 fix: prevent seeding extra topic answers
  db/seeds.rb
  lib/tasks/data_post_processors/contact_topic_populator.rb
  spec/lib/tasks/data_post_processors/contact_topic_populator.rb
  spec/lib/tasks/data_post_processors/contact_topic_populator_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5590 refactor: expose court report methods
  app/models/case_court_report_context.rb
  spec/factories/case_court_report_context.rb
  spec/models/case_court_report_context_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5534 Display Volunteer name next to Case Number
  app/components/assigned_volunteers_component.html.erb
  app/components/assigned_volunteers_component.rb
  app/helpers/ui_helper.rb
  app/views/casa_cases/index.html.erb
  app/views/casa_cases/show.html.erb
  app/views/case_groups/_form.html.erb
  app/views/case_groups/index.html.erb
  app/views/volunteers/_manage_cases.erb
  spec/components/assigned_volunteers_component_spec.rb
  spec/helpers/ui_helper_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5570 improve invalid factorybot linter, some specs
  lib/tasks/lint_factory_bot.rake
  spec/factories/case_contacts.rb
  spec/factories/supervisors.rb
  spec/factories/users.rb
  spec/models/case_contact_spec.rb
  spec/system/case_contacts/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5577 Jd refactor import case date script
  scripts/import_casa_case_date_of_birth.rb
Labels: ruby

#5578 Update Travel details section on case contact form
  app/assets/stylesheets/pages/case_contacts.scss
  app/views/case_contacts/form/expenses.html.erb
Labels: erb

#5588 Modify system tests for LearningHours#index to verify different behaviours for Admins/Supervisors vs Volunteers
  spec/system/learning_hours/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5593 Filtered reports generation
  app/assets/stylesheets/base/variables.scss
  app/assets/stylesheets/pages/casa_cases.scss
  app/assets/stylesheets/pages/case_court_reports.scss
  app/assets/stylesheets/shared/typography.scss
  app/components/modal/footer_component.html.erb
  app/components/modal/open_button_component.html.erb
  app/controllers/case_court_reports_controller.rb
  app/javascript/src/casa_case.js
  app/models/casa_case.rb
  app/models/case_court_report_context.rb
  app/views/casa_cases/_generate_report_modal.html.erb
  app/views/casa_cases/show.html.erb
  app/views/case_court_reports/_generate_docx.html.erb
  app/views/case_court_reports/index.html.erb
  spec/components/modal/open_button_component_spec.rb
  spec/factories/case_court_report_context.rb
  spec/models/casa_case_spec.rb
  spec/models/case_court_report_context_spec.rb
  spec/models/case_court_report_spec.rb
  spec/requests/case_court_reports_spec.rb
  spec/system/casa_cases/show_spec.rb
  spec/system/case_court_reports/index_spec.rb
  spec/views/case_court_reports/index.html.erb_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#5598 extra test for supplier mailer weekly inactive volunteers section
  spec/mailers/supervisor_mailer_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5625 fix: select correct report in controller
  app/controllers/case_court_reports_controller.rb
  spec/system/casa_cases/show_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5627 fix: flaky volunteers edit request spec
  app/views/volunteers/_manage_supervisor.erb
  spec/requests/volunteers_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5632 WIP: [Fix] Weekly supervisor email bottom section includes unknown names - probably volunteers from other orgs
  app/mailers/supervisor_mailer.rb
Labels: ruby

#5609 fix: format date to US format MM/DD/YYYY
  app/views/casa_cases/_form.html.erb
  app/views/case_contacts/index.html.erb
  app/views/court_dates/_fields.html.erb
  app/views/court_dates/show.html.erb
  app/views/layouts/components/_ranged_date_picker.html.erb
  app/views/learning_hours/_form.html.erb
  app/views/learning_hours/show.html.erb
  app/views/mileage_rates/_form.html.erb
  app/views/other_duties/_form.html.erb
  app/views/reimbursements/_occurred_at_filter_input.html.erb
  app/views/reports/index.html.erb
  app/views/shared/_edit_form.html.erb
  app/views/users/edit.html.erb
  app/views/volunteers/_form.html.erb
  config/locales/en.yml
  spec/support/fill_in_case_contact_fields.rb
  spec/system/casa_cases/new_spec.rb
  spec/system/case_contacts/index_spec.rb
  spec/system/case_contacts/new_spec.rb
  spec/system/court_dates/new_spec.rb
  spec/system/learning_hours/new_spec.rb
  spec/system/learning_hours/volunteers/show_spec.rb
  spec/system/mileage_rates/mileage_rates_spec.rb
  spec/system/reports/export_data_spec.rb
  spec/system/reports/index_spec.rb
  spec/system/volunteers/edit_spec.rb
  spec/system/volunteers/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5629 5624 add polymorphic columns and data backfill
  app/controllers/case_contacts/followups_controller.rb
  app/models/followup.rb
  app/services/followup_service.rb
  db/migrate/20240415160842_add_followupable_to_followups.rb
  db/schema.rb
  lib/tasks/deployment/20240416171009_backfill_followup_followupable_id_and_type_from_case_contact_id.rake
  spec/factories/followups.rb
  spec/lib/tasks/backfill_followup_polymorphic_columns_spec.rb
  spec/models/followup_spec.rb
  spec/services/followup_service_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5641 Case Contact Form Bug
  app/controllers/application_controller.rb
  app/views/case_contacts/form/expenses.html.erb
Labels: ruby, erb

#5642 Case contact form fix for referrer
  app/controllers/application_controller.rb
Labels: ruby

#5643 add safety operator for weird failure
  app/presenters/case_contact_presenter.rb
Labels: ruby
