Repository rubyforgood/casa, pull requests merged in 2024-12, with the labels that each got.

#6097 Add text testimonials, addressing #4407
  app/views/static/index.html.erb
  config/database.yml
Labels: erb

#6119 Fix #6117 handle duplicate contact types
  app/controllers/case_contacts/form_controller.rb
  app/values/case_contact_parameters.rb
  spec/requests/case_contacts/form_spec.rb
Labels: ruby, Tests! 🎉💖👏

#6098 Ruby 3.3.6 update
  .devcontainer/post-create.sh
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  app/services/followup_service.rb
  app/views/case_contacts/form/details.html.erb
  doc/LINUX_SETUP.md
  doc/MAC_SETUP.md
  doc/WSL_SETUP.md
  flake.nix
  gemset.nix
  spec/services/placement_export_csv_service_spec.rb
  spec/support/capybara.rb
  spec/support/pretender_context.rb
  spec/views/layouts/header.html.erb_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏, erb
