Repository rubyforgood/casa, pull requests merged in 2024-03, with the labels that each got.

#5556 Admins and supervisors can view volunteer's learning hours
  .allow_skipping_tests
  app/controllers/learning_hours/volunteers_controller.rb
  app/controllers/learning_hours_controller.rb
  app/models/learning_hour.rb
  app/policies/learning_hour_policy.rb
  app/views/learning_hours/_learning_hours_table.html.erb
  app/views/learning_hours/_supervisor_admin_learning_hours.html.erb
  app/views/learning_hours/_volunteer_learning_hours.html.erb
  app/views/learning_hours/index.html.erb
  app/views/learning_hours/volunteers/show.html.erb
  config/routes.rb
  db/schema.rb
  spec/system/learning_hours/volunteers/show_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5541 Line Chart: MAU (Monthly Active Users) and WAU (Weekly Active Users) by User type
  app/controllers/health_controller.rb
  app/javascript/src/display_app_metric.js
  app/views/health/index.html.erb
  config/routes.rb
  spec/requests/health_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#5535 Remove unused actions in controller filters
  app/controllers/case_contacts_controller.rb
  app/controllers/court_dates_controller.rb
Labels: ruby

#5533 Modify helpsite link for volunteers
  app/views/layouts/_header.html.erb
  config/routes.rb
  spec/views/layouts/header.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5519 Fixes bugsnag console message
  config/initializers/bugsnag.rb
Labels: ruby

#5565 Edit Org causes a decrypt error
  app/models/casa_org.rb
  spec/system/volunteers/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5575 Modify volunteers#index system test to not use sleep
  spec/system/volunteers/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5571 Bug: Supervisor Weekly Mailer Lists Too Many Inactive Volunteers
  app/models/user.rb
  spec/models/user_spec.rb
Labels: ruby, Tests! 🎉💖👏
