Repository rubyforgood/casa, pull requests merged in 2024-07, with the labels that each got.

#5881 fix: move behavior out of rake tasks
  app/services/emancipation_checklist_reminder_service.rb
  app/services/volunteer_birthday_reminder_service.rb
  lib/tasks/volunteer_birthday_reminder.rake
  spec/lib/tasks/emancipation_checklist_reminder_spec.rb
  spec/models/emancipation_checklist_reminder_task_spec.rb
  spec/services/emancipation_checklist_reminder_service_spec.rb
  spec/services/volunteer_birthday_reminder_service_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5865 added additional logic to contact_topic_answers to improve discoverab…
  app/views/case_contacts/form/details.html.erb
  spec/requests/case_contacts/form_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5804 Create seed data for `placement_types` model
  db/seeds.rb
  db/seeds/placement_data.rb
Labels: ruby

#5878 5864- Fixing the Double click error
  app/views/case_contacts/index.html.erb
Labels: erb

#5869 bundle update rspec_junit_formatter spring-commands-rspec rspec-suppo…
  Gemfile.lock
Labels: dependencies

#5884 fix: migrate backfill followup behavior
  app/services/backfill_followupable_service.rb
  lib/tasks/deployment/20240416171009_backfill_followup_followupable_id_and_type_from_case_contact_id.rake
  spec/services/backfill_followupable_service_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5885 fix: flaky case_contact index
  spec/system/case_contacts/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5852 Feat/replace old feature flags with flipper
  app/assets/stylesheets/application.scss
  app/controllers/all_casa_admins/feature_flags_controller.rb
  app/javascript/all_casa_admin.js
  app/javascript/src/all_casa_admin/feature_flags.js
  app/models/feature_flag.rb
  app/policies/case_contact_policy.rb
  app/services/feature_flag_service.rb
  app/views/all_casa_admins/feature_flags/index.html.erb
  app/views/casa_org/edit.html.erb
  app/views/layouts/_all_casa_admin_sidebar.html.erb
  config/initializers/all_casa_admin_access.rb
  config/routes.rb
  db/migrate/20240622020203_drop_feature_flags.rb
  db/schema.rb
  lib/tasks/deployment/20220825005830_enable_show_additional_expenses.rake
  spec/factories/feature_flags.rb
  spec/models/feature_flag_spec.rb
  spec/requests/all_casa_admins/feature_flags_spec.rb
  spec/services/feature_flag_service_spec.rb
  spec/system/all_casa_admins/sessions/new_spec.rb
  spec/system/case_contacts/additional_expenses_spec.rb
  spec/system/case_contacts/create_spec.rb
  spec/system/case_contacts/new_spec.rb
  spec/views/all_casa_admins/feature_flags/index.html.erb_spec.rb
  spec/views/casa_orgs/edit.html.erb_spec.rb
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏, erb

#5879 5847 surface common filters with helper
  app/helpers/case_contacts_helper.rb
  app/views/case_contacts/index.html.erb
  spec/helpers/case_contacts_helper_spec.rb
  spec/system/case_contacts/index_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5904 fix: remove case_contact show route
  config/routes.rb
Labels: ruby

#5903 Issue 5844: Seeder other duties
  db/seeds.rb
  db/seeds/db_populator.rb
Labels: ruby

#5880 Allows volunteer assignment on case creation
  app/controllers/casa_cases_controller.rb
  app/models/casa_case.rb
  app/views/casa_cases/_form.html.erb
  app/views/shared/_manage_volunteers.html.erb
  spec/requests/casa_cases_spec.rb
  spec/system/casa_cases/new_spec.rb
  spec/views/casa_cases/new.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5919 feat: add timing metadata for case contacts
  app/controllers/case_contacts/form_controller.rb
  app/models/case_contact.rb
  app/services/case_contact_update_service.rb
  db/migrate/20240716194609_add_metadata_to_case_contacts.rb
  db/schema.rb
  spec/services/case_contact_update_service_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5939 Fix N+1 issues in casa_cases#show
  app/models/case_contact.rb
  app/views/casa_cases/show.html.erb
  spec/models/case_contact_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5938 change div classes to fix checkbox location
  app/views/volunteers/_send_reminder_button.html.erb
Labels: erb

#5922 fix: prevent 500 if attempting to unassign supervisor twice
  app/controllers/supervisor_volunteers_controller.rb
Labels: ruby

#5929 better tracking of metadata around case contacts
  app/callbacks/case_contact_metadata_callback.rb
  app/controllers/case_contacts/form_controller.rb
  app/models/case_contact.rb
  app/services/case_contact_update_service.rb
  app/services/deployment/backfill_case_contact_started_metadata_service.rb
  lib/tasks/deployment/20240720232939_backfill_case_contact_started_metadata.rake
  spec/callbacks/case_contact_metadata_callback_spec.rb
  spec/factories/case_contacts.rb
  spec/models/case_contact_spec.rb
  spec/services/case_contact_update_service_spec.rb
  spec/services/deployment/backfill_case_contact_started_metadata_service_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5930 5906 update renders for turbo
  app/controllers/all_casa_admins/casa_admins_controller.rb
  app/controllers/all_casa_admins/casa_orgs_controller.rb
  app/controllers/all_casa_admins_controller.rb
  app/controllers/banners_controller.rb
  app/controllers/bulk_court_dates_controller.rb
  app/controllers/casa_admins_controller.rb
  app/controllers/casa_cases_controller.rb
  app/controllers/casa_org_controller.rb
  app/controllers/case_assignments_controller.rb
  app/controllers/case_groups_controller.rb
  app/controllers/checklist_items_controller.rb
  app/controllers/contact_type_groups_controller.rb
  app/controllers/contact_types_controller.rb
  app/controllers/court_dates_controller.rb
  app/controllers/fund_requests_controller.rb
  app/controllers/hearing_types_controller.rb
  app/controllers/judges_controller.rb
  app/controllers/learning_hour_topics_controller.rb
  app/controllers/learning_hour_types_controller.rb
  app/controllers/learning_hours_controller.rb
  app/controllers/mileage_rates_controller.rb
  app/controllers/supervisors_controller.rb
  app/controllers/users_controller.rb
  app/controllers/volunteers_controller.rb
  spec/requests/all_casa_admins/casa_admins_spec.rb
  spec/requests/all_casa_admins_spec.rb
  spec/requests/casa_cases_spec.rb
  spec/requests/casa_org_spec.rb
  spec/requests/court_dates_spec.rb
  spec/requests/fund_requests_spec.rb
  spec/requests/mileage_rates_spec.rb
  spec/requests/supervisors_spec.rb
  spec/requests/users_spec.rb
  spec/requests/volunteers_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏

#5942 fix: flaky scope spec due to order
  spec/models/case_contact_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5940 feat: add warning for pg county
  app/views/case_contacts/form/expenses.html.erb
  spec/support/flipper_helper.rb
  spec/system/case_contacts/additional_expenses_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5927 Change the types of case contacts that are created by the seeder
  db/seeds/db_populator.rb
Labels: ruby

#5917 #5887 Add anchor links to Edit Org page for faster navigation and nest them in sidebar
  app/javascript/controllers/sidebar_group_controller.js
  app/views/casa_org/edit.html.erb
  app/views/layouts/_sidebar.html.erb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#5945 Fix N+1 issues in form_controller#show
  Gemfile.lock
  app/controllers/case_contacts/form_controller.rb
Labels: dependencies, ruby

#5908 uncap additional expenses and allow delete
  app/javascript/__tests__/add_additional_expense.test.js
  app/javascript/application.js
  app/javascript/controllers/index.js
  app/javascript/src/add_additional_expense.js
  app/models/case_contact.rb
  app/values/case_contact_parameters.rb
  app/views/case_contacts/form/expenses.html.erb
  app/views/shared/_additional_expense_form.html.erb
  spec/system/case_contacts/additional_expenses_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb
