Repository rubyforgood/casa, pull requests merged in 2024-02, with the labels that each got.

#5499 volunteer's learning hours page
  app/models/learning_hour.rb
  app/policies/learning_hour_policy.rb
  app/views/learning_hours/_supervisor_admin_learning_hours.html.erb
  app/views/learning_hours/index.html.erb
  db/schema.rb
Labels: ruby, erb

#5514 fill in spec
  spec/models/user_sms_notification_event_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5516 standardrb --fix
  db/seeds/db_populator.rb
  lib/tasks/deployment/20231125151610_set_case_contacts_as_active.rake
Labels: ruby

#5521 5501 Bug in Case Contacts AfterParty task
  lib/tasks/data_post_processors/case_contact_populator.rb
  lib/tasks/deployment/20231125151610_set_case_contacts_as_active.rake
Labels: ruby

#5144 Add bulk assignment of volunteers to supervisor
  app/assets/stylesheets/pages/volunteers.scss
  app/assets/stylesheets/shared/header.scss
  app/controllers/supervisor_volunteers_controller.rb
  app/controllers/volunteers_controller.rb
  app/javascript/controllers/disable_form_controller.js
  app/javascript/controllers/index.js
  app/javascript/controllers/select_all_controller.js
  app/javascript/src/dashboard.js
  app/models/user.rb
  app/models/volunteer.rb
  app/policies/supervisor_volunteer_policy.rb
  app/views/supervisors/index.html.erb
  app/views/volunteers/index.html.erb
  config/routes.rb
  db/schema.rb
  package.json
  spec/models/user_spec.rb
  spec/requests/supervisor_volunteers_spec.rb
  spec/system/volunteers/index_spec.rb
  yarn.lock
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏, erb
