Repository rubyforgood/casa, pull requests merged in 2024-05, with the labels that each got.

#5654 fix prod more?
  app/controllers/case_contacts/form_controller.rb
Labels: ruby

#5657 fix: failing CI tests
  .github/workflows/docker.yml
  app/controllers/case_contacts/form_controller.rb
  app/views/case_contacts/form/expenses.html.erb
  app/views/learning_hours/_learning_hours_table.html.erb
Labels: ruby, erb

#5650 Add tests for previously merged commits: #5643, #5642, #5641
  .allow_skipping_tests
  app/presenters/case_contact_presenter.rb
  spec/controllers/application_controller_spec.rb
  spec/presenters/case_contact_presenter_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏

#5659 prod fix
  app/views/case_contacts/form/expenses.html.erb
Labels: ruby, Tests! 🎉💖👏, erb

#5663 test: system test for new prod fix
  spec/system/case_contacts/create_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5665 standardrb --fix
  app/models/casa_org.rb
  spec/policies/casa_case_policy_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5690 consolidate system all casa admin specs
  spec/system/all_casa_admins/all_casa_admin_spec.rb
  spec/system/all_casa_admins/casa_orgs/casa_admins/new_spec.rb
  spec/system/all_casa_admins/casa_orgs/new_spec.rb
  spec/system/all_casa_admins/casa_orgs/show_spec.rb
  spec/system/all_casa_admins/dashboard/show_spec.rb
  spec/system/all_casa_admins/edit_spec.rb
  spec/system/all_casa_admins/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5688 script to generate github issues using gh-cli
  scripts/generate_github_issues_for_missing_spec.rb
Labels: ruby

#5692 remove prod debugging bugsnag in form controller
  app/controllers/case_contacts/form_controller.rb
Labels: ruby

#5706 Functionality to track login history of User using Authtrail Gem
  Gemfile
  Gemfile.lock
  app/models/login_activity.rb
  app/models/user.rb
  config/initializers/authtrail.rb
  db/migrate/20240507022441_create_login_activities.rb
  db/schema.rb
  spec/factories/login_activities.rb
  spec/models/login_activity_spec.rb
  spec/system/sessions/login_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏

#5703 Add error message assertions for detail status context
  spec/models/case_contact_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5705 Fix spec warning Fix spec warning The :make_visible option is not supported by the current driver - ignoring
  spec/system/casa_org/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5628 parallel_test gem experimentation
  .github/workflows/ci.yml
  .github/workflows/combine_and_report.yml
  .github/workflows/docker.yml
  .github/workflows/rspec.yml
  .rspec_parallel
  Gemfile
  Gemfile.lock
  config/database.yml
  config/storage.yml
  spec/lib/tasks/emancipation_checklist_reminder_spec.rb
  spec/lib/tasks/volunteer_birthday_reminder_spec.rb
  spec/rails_helper.rb
  spec/spec_helper.rb
  spec/support/capybara.rb
  spec/support/download_helpers.rb
Labels: dependencies, ruby, Tests! 🎉💖👏

#5647 Refactor code of displaying assigned volunteer next to Case Number
  app/components/assigned_volunteers_component.html.erb
  app/components/assigned_volunteers_component.rb
  app/helpers/ui_helper.rb
  app/helpers/volunteer_helper.rb
  app/views/casa_cases/show.html.erb
  app/views/case_groups/_form.html.erb
  app/views/case_groups/index.html.erb
  app/views/volunteers/_manage_cases.erb
  spec/components/assigned_volunteers_component_spec.rb
  spec/helpers/volunteer_helper_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5708 Fix logic surrounding case contacts with no reimbursements
  app/controllers/case_contacts/form_controller.rb
  app/values/case_contact_parameters.rb
  app/views/case_contacts/form/expenses.html.erb
  spec/system/mileage_rates/mileage_rates_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5564 5309 update contact type selection
  app/assets/fonts/fa-solid-900.ttf
  app/assets/fonts/fa-solid-900.woff2
  app/assets/webfonts/fa-solid-900.ttf
  app/assets/webfonts/fa-solid-900.woff2
  app/components/form/multiple_select/item_component.html.erb
  app/components/form/multiple_select/item_component.rb
  app/components/form/multiple_select_component.html.erb
  app/components/form/multiple_select_component.rb
  app/controllers/casa_cases_controller.rb
  app/controllers/case_contacts/form_controller.rb
  app/controllers/reimbursements_controller.rb
  app/decorators/contact_type_decorator.rb
  app/helpers/contact_types_helper.rb
  app/javascript/controllers/multiple_select_controller.js
  app/models/casa_case.rb
  app/models/casa_org.rb
  app/models/case_contact.rb
  app/models/contact_type.rb
  app/policies/casa_case_policy.rb
  app/values/case_contact_parameters.rb
  app/views/casa_cases/_form.html.erb
  app/views/case_contacts/form/_contact_types.html.erb
  app/views/case_contacts/form/details.html.erb
  db/schema.rb
  lib/tasks/emancipation_checklist_reminder.rake
  lib/tasks/volunteer_birthday_reminder.rake
  spec/components/form/multiple_select/item_component_spec.rb
  spec/components/form/multiple_select_component_spec.rb
  spec/decorators/contact_type_decorator_spec.rb
  spec/helpers/contact_types_helper_spec.rb
  spec/models/casa_case_spec.rb
  spec/models/case_contact_spec.rb
  spec/requests/casa_cases_spec.rb
  spec/requests/case_contacts/form_spec.rb
  spec/support/fill_in_case_contact_fields.rb
  spec/system/casa_cases/edit_spec.rb
  spec/system/casa_cases/new_spec.rb
  spec/system/case_contacts/new_spec.rb
  spec/values/case_contact_parameters_spec.rb
  spec/views/casa_cases/edit.html.erb_spec.rb
  spec/views/casa_cases/new.html.erb_spec.rb
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏, erb

#5724 Fix Line Chart: MAU (Monthly Active Users) by User Type
  app/controllers/health_controller.rb
  spec/requests/health_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5726 Restyle Enter Contact Details form on case contact form
  app/components/form/hour_minute_duration_component.html.erb
  app/views/case_contacts/form/details.html.erb
Labels: erb

#5742 fix: add logging for URI error in afterparty
  app/models/casa_org.rb
  config/initializers/bugsnag.rb
Labels: ruby

#5557 Update styles for new case contact form
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/pages/case_contacts_form.scss
  app/components/form/title_component.html.erb
  app/views/case_contacts/form/details.html.erb
  app/views/case_contacts/form/expenses.html.erb
  app/views/case_contacts/form/notes.html.erb
  spec/support/fill_in_case_contact_fields.rb
Labels: ruby, erb

#5746 Fixes local database discrepencies
  app/models/learning_hour.rb
  db/migrate/20240523101303_fix_local_discrepencies.rb
  db/schema.rb
Labels: ruby

#5763 FIx: un nest generate court report for volunteers only
  app/views/layouts/_sidebar.html.erb
Labels: erb

#5785 Fix: The first part of the new Casa Case form does not save certain input on error
  app/controllers/casa_cases_controller.rb
  app/views/casa_cases/_form.html.erb
  spec/system/casa_cases/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5788 fix: temporarliy "replace site issue" typeform link with google form
  app/views/layouts/application.html.erb
  app/views/layouts/footers/_logged_in.html.erb
  app/views/layouts/footers/_not_logged_in.html.erb
  spec/system/all_casa_admins/all_casa_admin_spec.rb
  spec/views/layouts/footer.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5797 Revive skipped spec/system/case_court_reports/index_spec
  spec/system/case_court_reports/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5796 Update phone number validator to accept additional phone number formats
  app/helpers/phone_number_helper.rb
  app/values/volunteer_parameters.rb
  spec/fixtures/supervisors_invalid_phone_numbers.csv
  spec/fixtures/volunteers_invalid_phone_numbers.csv
  spec/helpers/phone_number_helper_spec.rb
  spec/models/user_spec.rb
  spec/requests/volunteers_spec.rb
  spec/system/supervisors/edit_spec.rb
  spec/values/volunteer_parameters_spec.rb
Labels: ruby, Tests! 🎉💖👏
