Repository rubyforgood/casa, pull requests merged in 2024-10, with the labels that each got.

#6043 6026: Improve timezones on org settings sent emails
  app/controllers/concerns/users/time_zone.rb
  app/views/casa_org/_sent_emails.html.erb
  spec/controllers/concerns/users/time_zone_spec.rb
  spec/views/casa_orgs/edit.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#6068 [5894] Fix VolunteersController#edit N+1 issues
  app/helpers/ui_helper.rb
  app/models/volunteer.rb
Labels: ruby

#6085 Upgrade from ruby 3.2.2 to 3.2.4
  .devcontainer/post-create.sh
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  doc/LINUX_SETUP.md
  doc/MAC_SETUP.md
  doc/WSL_SETUP.md
  flake.nix
Labels: dependencies
