Repository rubyforgood/casa, pull requests merged in 2024-01, with the labels that each got.

#5425 New Line Chart Metric
  Gemfile
  Gemfile.lock
  app/controllers/health_controller.rb
  app/javascript/src/display_app_metric.js
  app/views/health/index.html.erb
  config/routes.rb
  spec/requests/health_spec.rb
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏, erb

#5468 Clean code related to metrics
  app/controllers/health_controller.rb
  app/javascript/src/display_app_metric.js
  app/views/health/index.html.erb
  config/routes.rb
  spec/requests/health_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#5471 Update Rswag initializers
  config/initializers/rswag_api.rb
  config/initializers/rswag_ui.rb
  spec/swagger_helper.rb
Labels: ruby

#5453 Bootstrap V5 Badges class
  app/components/badge_component.html.erb
  app/components/badge_component.rb
  app/helpers/sidebar_helper.rb
  app/views/all_casa_admins/casa_admins/edit.html.erb
  app/views/casa_cases/_volunteer_assignment.html.erb
  app/views/casa_cases/show.html.erb
  app/views/supervisors/_manage_active.html.erb
  app/views/volunteers/_manage_active.html.erb
  app/views/volunteers/_manage_cases.erb
  spec/components/badge_component_spec.rb
  spec/system/casa_cases/edit_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5473 Banner Dismissed Forever Bug fix
  app/controllers/application_controller.rb
  app/controllers/banners_controller.rb
  app/javascript/controllers/dismiss_controller.js
  app/views/layouts/_banner.html.erb
  config/routes.rb
  spec/requests/banners_spec.rb
  spec/system/banners/dismiss_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#5480 Remove translation calls to config/locales directory
  app/decorators/volunteer_decorator.rb
  app/models/case_contact.rb
  app/notifications/emancipation_checklist_reminder_notification.rb
  app/views/devise/mailer/invitation_instructions.text.erb
  app/views/layouts/application.html.erb
  config/locales/controllers.en.yml
  config/locales/en.yml
  config/locales/models.en.yml
  config/locales/views.en.yml
  spec/helpers/report_helper_spec.rb
  spec/notifications/emancipation_checklist_reminder_notification_spec.rb
  spec/system/learning_hours/new_spec.rb
  spec/system/notifications/index_spec.rb
  spec/system/reports/index_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5414 Draft and Multi-page Support for Case Contact Form
  Gemfile
  Gemfile.lock
  app/components/form/title_component.html.erb
  app/components/form/title_component.rb
  app/controllers/case_contacts/form_controller.rb
  app/controllers/case_contacts_controller.rb
  app/decorators/case_contact_decorator.rb
  app/decorators/case_contacts/form_decorator.rb
  app/javascript/application.js
  app/javascript/controllers/alert_controller.js
  app/javascript/controllers/autosave_controller.js
  app/javascript/controllers/index.js
  app/javascript/src/case_contact.js
  app/javascript/src/case_contact_autosave.js
  app/models/casa_org.rb
  app/models/case_contact.rb
  app/policies/case_contact_policy.rb
  app/presenters/case_contact_presenter.rb
  app/values/case_contact_parameters.rb
  app/views/casa_cases/_form.html.erb
  app/views/case_contacts/_case_contact.html.erb
  app/views/case_contacts/_form.html.erb
  app/views/case_contacts/edit.html.erb
  app/views/case_contacts/form/_contact_types.html.erb
  app/views/case_contacts/form/details.html.erb
  app/views/case_contacts/form/expenses.html.erb
  app/views/case_contacts/form/notes.html.erb
  app/views/case_contacts/index.html.erb
  app/views/case_contacts/new.html.erb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20231125150721_status_for_case_contacts.rb
  db/schema.rb
  lib/tasks/deployment/20231125151610_set_case_contacts_as_active.rake
  spec/components/form/title_component_spec.rb
  spec/decorators/case_contact_decorator_spec.rb
  spec/decorators/case_contacts/form_decorator_spec.rb
  spec/factories/case_contacts.rb
  spec/factories/users.rb
  spec/mailers/supervisor_mailer_spec.rb
  spec/models/case_contact_report_spec.rb
  spec/models/case_contact_spec.rb
  spec/policies/case_contact_policy/scope_spec.rb
  spec/requests/case_contact_reports_spec.rb
  spec/requests/case_contacts/form_spec.rb
  spec/requests/case_contacts_spec.rb
  spec/support/fill_in_case_contact_fields.rb
  spec/system/case_contacts/additional_expenses_spec.rb
  spec/system/case_contacts/create_spec.rb
  spec/system/case_contacts/edit_spec.rb
  spec/system/case_contacts/followups/resolve_spec.rb
  spec/system/case_contacts/new_spec.rb
  spec/system/learning_hours/new_spec.rb
  spec/system/notifications/index_spec.rb
  spec/values/case_contact_parameters_spec.rb
  spec/views/case_contacts/edit.html.erb_spec.rb
  spec/views/case_contacts/new.html.erb_spec.rb
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏, erb

#5439 Flaky test issue 5424
  spec/models/case_contact_report_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏

#5497 Add "YTD" to "Time Completed" Learning Hours Table Column
  app/views/learning_hours/_supervisor_admin_learning_hours.html.erb
  spec/requests/learning_hours_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5496 Draft Case Contact Filter Fix
  app/controllers/case_contacts_controller.rb
  app/views/learning_hours/_form.html.erb
  spec/system/case_contacts/index_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5478 Rails upgrade 7.0.8 to 7.1.0
  Gemfile
  Gemfile.lock
  app/controllers/casa_org_controller.rb
  app/views/casa_org/edit.html.erb
  bin/setup
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/content_security_policy.rb
  config/initializers/cors.rb
  config/initializers/devise.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/new_framework_defaults_7_1.rb
  config/initializers/permissions_policy.rb
  spec/models/casa_org_spec.rb
  spec/models/contact_type_group_spec.rb
  spec/rails_helper.rb
  spec/requests/all_casa_admins/dashboard_spec.rb
  spec/requests/case_contacts/form_spec.rb
  spec/requests/case_contacts_spec.rb
  spec/requests/case_court_reports_spec.rb
  spec/requests/users/passwords_spec.rb
  spec/requests/volunteers_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏, erb
