Repository rubyforgood/casa, pull requests merged in 2024-06, with the labels that each got.

#5791 Fix 'Manage Volunteers' Styling on /volunteers page rubyforgood#5761
  Gemfile.lock
  app/assets/stylesheets/pages/volunteers.scss
  app/views/volunteers/index.html.erb
Labels: dependencies, erb

#5798 Unskip and improve specs marked as flaky in system/volunteers/index_spec
  app/views/volunteers/index.html.erb
  spec/system/volunteers/index_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5801 feat: add devcontainers
  .devcontainer/.env.codespaces
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post-create.sh
  config/environments/development.rb
Labels: ruby

#5800 Add expiration to banners
  app/controllers/application_controller.rb
  app/controllers/banners_controller.rb
  app/helpers/banner_helper.rb
  app/models/banner.rb
  app/values/banner_parameters.rb
  app/views/banners/_form.html.erb
  app/views/banners/index.html.erb
  db/migrate/20240531172823_add_expires_at_to_banner.rb
  db/schema.rb
  spec/helpers/banner_helper_spec.rb
  spec/models/banner_spec.rb
  spec/requests/banners_spec.rb
  spec/system/banners/new_spec.rb
  spec/values/banner_parameters_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5803 Fix test failures related to time
  app/controllers/health_controller.rb
  spec/requests/health_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5813 Fix/revert site issue link change
  README.md
  app/views/layouts/application.html.erb
  app/views/layouts/footers/_logged_in.html.erb
  app/views/layouts/footers/_not_logged_in.html.erb
  spec/system/all_casa_admins/all_casa_admin_spec.rb
  spec/views/layouts/footer.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5814 Unveil codespaces
  README.md
  config/environments/development.rb
Labels: ruby

#5744 feat: update nix gemset
  gemset.nix
Labels: dependencies

#5806 Date validations to prevent invalid dates like 6/1/20000
  .allow_skipping_tests
  app/models/casa_case.rb
  app/models/case_contact.rb
  app/models/concerns/CasaCase/validations.rb
  app/models/court_date.rb
  app/models/learning_hour.rb
  app/models/mileage_rate.rb
  app/models/other_duty.rb
  app/models/placement.rb
  app/validators/user_validator.rb
  spec/models/casa_case_spec.rb
  spec/models/case_contact_spec.rb
  spec/models/court_date_spec.rb
  spec/models/learning_hour_spec.rb
  spec/models/mileage_rate_spec.rb
  spec/models/other_duty_spec.rb
  spec/models/placement_spec.rb
  spec/models/user_spec.rb
  spec/models/volunteer_spec.rb
  spec/requests/casa_cases_spec.rb
  spec/requests/court_dates_spec.rb
  spec/system/casa_cases/new_spec.rb
  spec/views/supervisors/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, Ruby for Good 2024 DC

#5793 Disable expenses page when orgs have no expenses #5762
  app/components/form/submit_button_component.html.erb
  app/components/form/submit_button_component.rb
  app/controllers/case_contacts/form_controller.rb
  app/controllers/case_contacts_controller.rb
  app/models/case_contact.rb
  app/values/case_contact_parameters.rb
  app/views/case_contacts/form/notes.html.erb
  spec/components/form/submit_button_component_spec.rb
  spec/system/case_contacts/create_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5802 Moved impersonate message to top of the page, put it in a red box
  app/views/layouts/_header.html.erb
  app/views/layouts/_sidebar.html.erb
  spec/system/volunteers/edit_spec.rb
  spec/views/layouts/header.html.erb_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5792 Upgrade "noticed" gem to latest version
  .allow_skipping_tests
  Gemfile.lock
  app/components/notification_component.html.erb
  app/components/notification_component.rb
  app/controllers/case_contacts/followups_controller.rb
  app/controllers/case_contacts_controller.rb
  app/controllers/notifications_controller.rb
  app/controllers/reimbursements_controller.rb
  app/helpers/notifications_helper.rb
  app/models/emancipation_checklist_reminder_task.rb
  app/models/followup.rb
  app/models/notification.rb
  app/models/user.rb
  app/notifications/base_notifier.rb
  app/notifications/delivery_methods/sms.rb
  app/notifications/emancipation_checklist_reminder_notification.rb
  app/notifications/emancipation_checklist_reminder_notifier.rb
  app/notifications/followup_notifier.rb
  app/notifications/followup_resolved_notification.rb
  app/notifications/followup_resolved_notifier.rb
  app/notifications/reimbursement_complete_notifier.rb
  app/notifications/volunteer_birthday_notifier.rb
  app/notifications/youth_birthday_notifier.rb
  app/services/followup_service.rb
  app/views/notifications/_notification.html.erb
  app/views/notifications/index.html.erb
  config/routes.rb
  db/migrate/20240509104733_create_noticed_tables.noticed.rb
  db/migrate/20240509104734_add_notifications_count_to_noticed_event.noticed.rb
  db/migrate/20240523101303_fix_local_discrepencies.rb
  db/schema.rb
  lib/tasks/deployment/20240604121427_migrate_notifications.rake
  lib/tasks/development/notifications.rake
  lib/tasks/volunteer_birthday_reminder.rake
  lib/tasks/youth_birthday_reminder.rake
  spec/components/notification_component_spec.rb
  spec/factories/notifications.rb
  spec/factories/notifiers.rb
  spec/helpers/notifications_helper_spec.rb
  spec/lib/tasks/volunteer_birthday_reminder_spec.rb
  spec/models/emancipation_checklist_reminder_task_spec.rb
  spec/notifications/emancipation_checklist_reminder_notifier_spec.rb
  spec/notifications/reimbursement_complete_notifier_spec.rb
  spec/notifications/volunteer_birthday_notifier_spec.rb
  spec/requests/case_contacts/followups_spec.rb
  spec/requests/case_contacts_spec.rb
  spec/requests/reimbursements_spec.rb
  spec/services/followup_service_spec.rb
  spec/system/notifications/index_spec.rb
  spec/views/layouts/header.html.erb_spec.rb
  spec/views/notifications/index.html.erb_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏, erb

#5832 Refactor volunteer case contact form to use new submit button component
  app/components/form/submit_button_component.html.erb
  app/components/form/submit_button_component.rb
  app/views/case_contacts/form/details.html.erb
  app/views/case_contacts/form/expenses.html.erb
Labels: ruby, erb

#5835 fix: qa notification bugs
  app/controllers/notifications_controller.rb
Labels: ruby

#5816 feat: add contact notes to case contact card
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/pages/casa_cases.scss
  app/assets/stylesheets/shared/truncated_text_component.scss
  app/assets/stylesheets/shared/utilities.scss
  app/components/truncated_text_component.html.erb
  app/components/truncated_text_component.rb
  app/javascript/controllers/index.js
  app/javascript/controllers/truncated_text_controller.js
  app/views/case_contacts/_case_contact.html.erb
  config/application.rb
  spec/components/previews/truncated_text_component_preview.rb
  spec/components/truncated_text_component_spec.rb
  spec/system/case_contacts/new_spec.rb
  spec/system/components/truncated_text_component_spec.rb
  spec/views/case_contacts/case_contact.html.erb_spec.rb
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏, erb

#5812 Clean up CaseAssignmentsController#show_or_hide_contacts and corresponding skipped spec
  app/controllers/case_assignments_controller.rb
  app/lib/importers/case_importer.rb
  app/models/case_assignment.rb
  app/policies/application_policy.rb
  app/policies/case_assignment_policy.rb
  app/views/casa_cases/_volunteer_assignment.html.erb
  app/views/volunteers/_manage_cases.erb
  spec/policies/case_assignment_policy_spec.rb
  spec/requests/case_assignments_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5817 feat: add court report notes to weekly supervisor emails
  app/views/supervisor_mailer/_active_volunteer_info.html.erb
  spec/views/supervisor_mailer/weekly_digest.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5818 Fix selenium web mock errors
  spec/controllers/application_controller_spec.rb
  spec/lib/tasks/case_contact_types_reminder_spec.rb
  spec/lib/tasks/no_contact_made_reminder_spec.rb
  spec/models/casa_org_spec.rb
  spec/models/volunteer_spec.rb
  spec/requests/casa_admins_spec.rb
  spec/requests/supervisors_spec.rb
  spec/requests/volunteers_spec.rb
  spec/services/court_report_due_sms_reminder_service_spec.rb
  spec/services/no_contact_made_sms_reminder_service_spec.rb
  spec/services/short_url_service_spec.rb
  spec/services/sms_reminder_service_spec.rb
  spec/services/twilio_service_spec.rb
  spec/spec_helper.rb
  spec/support/stubbed_requests/twilio_api.rb
  spec/support/stubbed_requests/webmock_helper.rb
Labels: ruby, Tests! 🎉💖👏

#5827 Add "Enable Other Duties" as Organization Feature
  app/controllers/casa_org_controller.rb
  app/models/casa_org.rb
  app/policies/other_duty_policy.rb
  app/views/casa_org/edit.html.erb
  app/views/layouts/_sidebar.html.erb
  db/migrate/20240610071054_add_other_duties_enabled_to_casa_org.rb
  db/schema.rb
  spec/policies/other_duty_policy_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5850 fix: authorize mark_as_read in Notification controller
  app/controllers/notifications_controller.rb
  app/policies/notification_policy.rb
  spec/policies/notification_policy_spec.rb
  spec/requests/notifications_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5849 feat: remove timeout from case_contacts_count test
  spec/models/casa_org_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5807 Add Court Topics to Case Contact CSV export
  app/controllers/casa_cases_controller.rb
  app/models/case_contact_report.rb
  app/models/contact_topic.rb
  app/services/case_contacts_export_csv_service.rb
  app/views/reports/_filter.html.erb
  spec/models/case_contact_report_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb, Ruby for Good 2024 DC

#5828 Improve banner expiration validations and form
  app/controllers/banners_controller.rb
  app/helpers/banner_helper.rb
  app/models/banner.rb
  app/views/banners/_form.html.erb
  app/views/banners/index.html.erb
  spec/helpers/banner_helper_spec.rb
  spec/models/banner_spec.rb
  spec/requests/banners_spec.rb
  spec/system/banners/new_spec.rb
  spec/views/banners/new.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5858 feat: add functionality for volunteer to delete drafts
  .github/workflows/ci.yml
  app/controllers/case_contacts_controller.rb
  app/policies/case_contact_policy.rb
  spec/policies/case_contact_policy_spec.rb
  spec/system/case_contacts/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5863 fix: incorrect followup urls
  app/controllers/case_contacts_controller.rb
  app/notifications/followup_notifier.rb
  spec/requests/case_contacts_spec.rb
  spec/requests/notifications_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5851 feat: add flipper for feature flags
  .devcontainer/.env.codespaces
  .env.example
  Gemfile
  Gemfile.lock
  config/initializers/flipper.rb
  config/routes.rb
  db/migrate/20240621165358_create_flipper_tables.rb
  db/schema.rb
Labels: dependencies, ruby

#5866 5795- Modal closing error in export filter fixed
  app/views/reports/_filter.html.erb
Labels: erb

#5867 Updates case contact form to use dropdown selector
  Gemfile.lock
  app/controllers/case_contacts/form_controller.rb
  app/decorators/casa_case_decorator.rb
  app/views/case_contacts/form/_contact_types.html.erb
  app/views/case_contacts/form/_relevant_cases.html.erb
  app/views/case_contacts/form/details.html.erb
  config/environments/test.rb
  spec/support/fill_in_case_contact_fields.rb
  spec/system/case_contacts/new_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏, erb

#5861 fix: add draft ids to seeded case contacts
  db/seeds/db_populator.rb
Labels: ruby

#5868 fix: n+1 issues in case_contacts#index
  app/controllers/case_contacts_controller.rb
  app/models/case_contact.rb
  app/presenters/case_contact_presenter.rb
  app/views/casa_cases/show.html.erb
Labels: ruby, erb
