Repository rubyforgood/casa, pull requests merged in 2024-09, with the labels that each got.

#5991 Fix 5780
  app/assets/stylesheets/pages/casa_cases.scss
  app/controllers/placements_controller.rb
  app/models/casa_org.rb
  app/models/placement.rb
  app/models/placement_type.rb
  app/policies/placement_policy.rb
  app/views/casa_cases/_placements.html.erb
  app/views/placements/_fields.html.erb
  app/views/placements/_form.html.erb
  app/views/placements/edit.html.erb
  app/views/placements/index.html.erb
  app/views/placements/new.html.erb
  app/views/placements/show.html.erb
  config/environments/test.rb
  config/routes.rb
  spec/factories/casa_orgs.rb
  spec/factories/placements.rb
  spec/policies/placement_policy_spec.rb
  spec/system/placements/destroy_spec.rb
  spec/system/placements/edit_spec.rb
  spec/system/placements/index_spec.rb
  spec/system/placements/new_spec.rb
  spec/views/casa_cases/show.html.erb_spec.rb
  spec/views/notifications/index.html.erb_spec.rb
  spec/views/placements/edit.html.erb_spec.rb
  spec/views/placements/index.html.erb_spec.rb
  spec/views/placements/new.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#6023 Case contacts contact made default yes
  app/controllers/case_contacts_controller.rb
  app/helpers/case_contacts_helper.rb
  app/views/case_contacts/form/details.html.erb
  spec/helpers/case_contacts_helper_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#6027 feat: quiet sass deprecation warnings
  .github/dependabot.yml
  package.json
  spec/requests/all_casa_admins/casa_orgs_spec.rb
  spec/views/notifications/index.html.erb_spec.rb
  yarn.lock
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏

#6037 Added table name and styling to volunteers without supervisors table
  app/views/supervisors/index.html.erb
Labels: erb

#6047 Add extra day to case contact date validation
  app/models/case_contact.rb
Labels: ruby

#6028 feat: upgrade to rails 7.2
  Gemfile
  Gemfile.lock
  app/controllers/fund_requests_controller.rb
  app/datatables/application_datatable.rb
  app/models/all_casa_admin.rb
  app/models/casa_admin.rb
  app/models/casa_case.rb
  app/models/casa_org.rb
  app/models/case_court_order.rb
  app/models/followup.rb
  app/views/fund_requests/new.html.erb
  bin/brakeman
  config/application.rb
  config/environments/test.rb
  config/initializers/new_framework_defaults_7_1.rb
  config/puma.rb
  public/406-unsupported-browser.html
  public/icon.png
  public/icon.svg
  spec/controllers/concerns/accessible_spec.rb
  spec/requests/fund_requests_spec.rb
  spec/requests/volunteers_spec.rb
  spec/system/casa_cases/fund_requests/new_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏, erb

#6057 Update stimulus rails nested-form & switch to namespaced version
  app/javascript/controllers/court_order_form_controller.js
  app/javascript/controllers/index.js
  package.json
  yarn.lock
Labels: dependencies, javascript

#6059 Revert "build(deps): bump sass from 1.77.6 to 1.79.3"
  package.json
  yarn.lock
Labels: dependencies, javascript

#6061 CaseContact validates usage and spec changes - case contact form prep
  app/models/case_contact.rb
  config/locales/en.yml
  config/routes.rb
  spec/factories/casa_cases.rb
  spec/factories/casa_orgs.rb
  spec/factories/case_contacts.rb
  spec/factories/supervisors.rb
  spec/factories/volunteers.rb
  spec/models/case_contact_spec.rb
  spec/requests/case_contacts/form_spec.rb
  spec/spec_helper.rb
  spec/support/fill_out_minimum_required_form_fields.rb
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#6054 Flaky specs: Use travel_back when travel_to is used
  spec/helpers/notifications_helper_spec.rb
  spec/lib/tasks/supervisor_weekly_digest_spec.rb
  spec/models/banner_spec.rb
  spec/models/casa_admin_spec.rb
  spec/models/casa_case_spec.rb
  spec/models/case_court_report_context_spec.rb
  spec/models/court_date_spec.rb
  spec/models/supervisor_spec.rb
  spec/models/volunteer_spec.rb
  spec/requests/banners_spec.rb
  spec/requests/case_court_reports_spec.rb
  spec/requests/court_dates_spec.rb
  spec/requests/notifications_spec.rb
  spec/services/case_contacts_contact_dates_spec.rb
  spec/services/volunteer_birthday_reminder_service_spec.rb
  spec/support/shared_examples/shows_court_dates_links.rb
  spec/system/bulk_court_dates/new_spec.rb
  spec/system/casa_cases/show_spec.rb
  spec/system/case_court_reports/index_spec.rb
  spec/system/court_dates/edit_spec.rb
  spec/system/court_dates/new_spec.rb
  spec/system/court_dates/view_spec.rb
  spec/system/placements/destroy_spec.rb
  spec/system/placements/edit_spec.rb
  spec/system/placements/index_spec.rb
  spec/system/placements/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#6062 refactor create_org
  db/seeds.rb
  db/seeds/db_populator.rb
Labels: ruby
