Repository rubyforgood/casa, pull requests merged in 2024-08, with the labels that each got.

#5948 Fix flaky CaseContactReportSpec
  spec/models/case_contact_report_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5956 Fix: Expand width of errors alert on edit user page
  app/views/users/edit.html.erb
Labels: erb

#5941 Test supervisor modal button disabled initially
  spec/system/volunteers/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5946 Use consistent LTS node version: v20 aka lts/iron
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/rspec.yml
  .github/workflows/rspec_parallel.yml
  .github/workflows/yarn_lint_and_test.yml
  .nvmrc
  .tool-versions
  README.md
  doc/LINUX_SETUP.md
  package.json
Labels: dependencies, javascript

#5944 BulkCourtDateController spec implemented
  .allow_skipping_tests
  app/controllers/bulk_court_dates_controller.rb
  app/policies/bulk_court_date_policy.rb
  spec/factories/case_groups.rb
  spec/policies/bulk_court_date_policy_spec.rb
  spec/requests/bulk_court_dates_spec.rb
  spec/views/bulk_court_date/new.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5947 fix n+1 queries issue in supervisors#index and supervisors#datatable
  app/controllers/supervisors_controller.rb
  app/models/volunteer.rb
  app/policies/supervisor_policy.rb
  app/views/supervisors/index.html.erb
Labels: ruby, erb

#5974 Bug: CaseContact form date input
  app/javascript/__tests__/validated_form.test.js
  app/javascript/src/case_contact.js
  app/javascript/src/validated_form.js
  app/models/case_contact.rb
  app/models/court_date.rb
  app/views/case_contacts/form/details.html.erb
  app/views/layouts/components/_ranged_date_picker.html.erb
  config/locales/en.yml
  spec/models/case_contact_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#5957 Case contact form 'create another' checkbox
  app/controllers/application_controller.rb
  app/controllers/case_contacts/form_controller.rb
  app/controllers/case_contacts_controller.rb
  app/decorators/contact_type_decorator.rb
  app/models/case_contact.rb
  app/values/case_contact_parameters.rb
  app/views/case_contacts/form/expenses.html.erb
  spec/decorators/contact_type_decorator_spec.rb
  spec/models/case_contact_spec.rb
  spec/requests/case_contacts/form_spec.rb
  spec/system/case_contacts/create_spec.rb
  spec/system/case_contacts/edit_spec.rb
  spec/system/case_contacts/new_spec.rb
  spec/values/case_contact_parameters_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5973 PR for fix #5924 that should already have merged
  spec/factories/notifications.rb
  spec/views/notifications/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5989 Local-friendly RSpec setup
  config/environments/test.rb
  spec/rails_helper.rb
Labels: ruby

#6003 fix: avoid leaking user emails
  app/controllers/users/passwords_controller.rb
  spec/requests/users/passwords_spec.rb
  spec/system/devise/passwords/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5975 CaseContact status enum changes
  app/controllers/case_contacts/form_controller.rb
  app/controllers/case_contacts_controller.rb
  app/models/case_contact.rb
  spec/callbacks/case_contact_metadata_callback_spec.rb
  spec/factories/case_contacts.rb
  spec/policies/case_contact_policy_spec.rb
  spec/services/deployment/backfill_case_contact_started_metadata_service_spec.rb
  spec/system/case_contacts/additional_expenses_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#6002 feat: added drafts page for supes and admins
  app/controllers/case_contacts_controller.rb
  app/policies/case_contact_policy.rb
  app/views/case_contacts/drafts.html.erb
  config/routes.rb
  spec/policies/case_contact_policy_spec.rb
  spec/requests/case_contacts_spec.rb
  spec/system/case_contacts/drafts_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5977 5906 add turbo with disabled turbo drive
  Gemfile
  Gemfile.lock
  app/javascript/application.js
  app/views/case_contacts/_case_contact.html.erb
  app/views/case_contacts/_followup.html.erb
  app/views/case_contacts/index.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/devise.html.erb
  package.json
  yarn.lock
Labels: dependencies, javascript, erb

#6006 fix: flaky volunteers & supervisors system specs
  spec/system/supervisors/index_spec.rb
  spec/system/volunteers/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#6004 Refactor ApplicationPolicy #same_org?
  app/controllers/contact_topics_controller.rb
  app/models/case_assignment.rb
  app/models/case_contact.rb
  app/models/checklist_item.rb
  app/models/contact_type.rb
  app/models/court_date.rb
  app/models/followup.rb
  app/models/learning_hour.rb
  app/policies/application_policy.rb
  app/policies/casa_case_policy.rb
  app/policies/casa_org_policy.rb
  spec/policies/application_policy_spec.rb
  spec/policies/case_assignment_policy_spec.rb
  spec/requests/contact_topics_spec.rb
Labels: ruby, Tests! 🎉💖👏

#5976 [5921] Show the first error messages of each attribute in forms
  app/models/concerns/CasaCase/validations.rb
  app/models/court_date.rb
  spec/requests/casa_cases_spec.rb
  spec/requests/court_dates_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#5999 CaseGroups request spec & custom policy generator
  .allow_skipping_tests
  app/controllers/case_groups_controller.rb
  app/models/all_casa_admin.rb
  app/policies/application_policy.rb
  app/policies/case_group_policy.rb
  config/application.rb
  config/initializers/generators.rb
  lib/generators/rails/policy/USAGE
  lib/generators/rails/policy/policy_generator.rb
  lib/generators/rails/policy/templates/policy.rb.tt
  lib/generators/rails/policy/templates/policy_spec.rb.tt
  spec/factories/case_groups.rb
  spec/policies/case_group_policy_spec.rb
  spec/requests/case_groups_spec.rb
Labels: ruby, Tests! 🎉💖👏
