Repository rubyforgood/casa, pull requests merged in 2025-01, with the labels that each got.

#6148 bug(case_contact): fixed the order of case contacts
  app/javascript/src/case_contact.js
  app/views/case_contacts/index.html.erb
  spec/system/case_contacts/index_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#6146 fix: delete boilerplate favicon on login page
  app/views/layouts/devise.html.erb
Labels: erb

#6151 lint
  .standard_todo.yml
  scripts/generate_github_issues_for_missing_spec.rb
Labels: ruby

#6150 Feature/email validate message
  app/validators/user_validator.rb
  config/locales/en.yml
  spec/models/user_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏

#6162 fix: NoMethodError users/passwords#create
  app/controllers/users/passwords_controller.rb
Labels: ruby

#6158 Improve speed of CaseContactsController
  .gitignore
  .standard_todo.yml
  app/controllers/case_contacts_controller.rb
  app/policies/nil_class_policy.rb
  app/presenters/case_contact_presenter.rb
  lib/tasks/check_controller_tests.rake
  spec/controllers/README.md
  spec/policies/nil_class_policy_spec.rb
  spec/requests/case_contacts_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#6172 feat: added pg_hero and authentication for all_casa_admin user
  Gemfile
  Gemfile.lock
  app/views/layouts/_all_casa_admin_sidebar.html.erb
  config/routes.rb
  db/schema.rb
Labels: dependencies, ruby, erb

#6183 rm yarn.lock to prepare for merging pr to move from yarn to npm
  yarn.lock
Labels: dependencies, javascript

#6185 fix: case court report modal ui changes
  app/assets/stylesheets/pages/casa_cases.scss
  app/javascript/src/casa_case.js
  app/views/case_court_reports/_generate_docx.html.erb
  spec/system/case_court_reports/index_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb
