Repository rubyforgood/casa, pull requests merged in 2025-03, with the labels that each got.

#6241 Feature/6222 - Endpoint /api/v1/users/sign_out revokes access token and refresh token on request
  app/controllers/api/v1/base_controller.rb
  app/controllers/api/v1/users/sessions_controller.rb
  app/models/api_credential.rb
  config/routes.rb
  db/seeds.rb
  db/seeds/api_credential_data.rb
  spec/models/api_credential_spec.rb
  spec/requests/api/v1/users/sessions_spec.rb
  spec/swagger_helper.rb
  swagger/v1/swagger.yaml
Labels: ruby, Tests! 🎉💖👏, codethechange

#6224 Attempt to address volunteer#create invalid email error in bot-bugsag
  app/controllers/volunteers_controller.rb
Labels: ruby

#6254 Suggested comment removal
  app/controllers/api/v1/users/sessions_controller.rb
Labels: ruby

#6266 Revert "Suggested comment removal"
  app/controllers/api/v1/users/sessions_controller.rb
Labels: ruby

#6268 Rspec experiment
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/rspec_parallel.yml
  .standard_todo.yml
  Gemfile.lock
  spec/system/case_contacts/additional_expenses_spec.rb
  spec/system/case_contacts/edit_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: dependencies, ruby, Tests! 🎉💖👏

#6215 Issue 6187 admin new case contacts
  app/components/form/multiple_select_component.html.erb
  app/components/form/multiple_select_component.rb
  app/javascript/controllers/multiple_select_controller.js
  app/views/case_contacts/form/_contact_types.html.erb
  spec/system/casa_cases/edit_spec.rb
  spec/system/casa_cases/new_spec.rb
Labels: javascript, ruby, Tests! 🎉💖👏, erb

#6275 xit flaky tests
  .standard_todo.yml
  spec/support/wait_for_ajax.rb
  spec/system/case_contacts/contact_topic_answers_spec.rb
  spec/system/case_contacts/edit_spec.rb
  spec/system/case_contacts/followups/resolve_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: ruby, Tests! 🎉💖👏

#6277 see if a very long capybara timeout of 10s changes our results
  spec/support/capybara.rb
Labels: ruby

#6285 feat: use rspec retry to deflake ci
  Gemfile
  Gemfile.lock
  app/javascript/controllers/multiple_select_controller.js
  spec/spec_helper.rb
  spec/support/rspec_retry.rb
  spec/system/casa_cases/edit_spec.rb
  spec/system/casa_cases/new_spec.rb
  spec/system/case_contacts/contact_topic_answers_spec.rb
  spec/system/case_contacts/followups/resolve_spec.rb
  spec/system/case_contacts/new_spec.rb
Labels: dependencies, javascript, ruby, Tests! 🎉💖👏

#6286 fix: notification flake
  spec/system/notifications/index_spec.rb
Labels: ruby, Tests! 🎉💖👏

#6284 BUG: no validation for email in new fund request form
  app/models/fund_request.rb
  app/views/fund_requests/new.html.erb
  spec/models/fund_request_spec.rb
  spec/system/casa_cases/fund_requests/new_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#6278 [6199] BUG: case contacts showing for unassigned volunteers
  .standard_todo.yml
  app/controllers/case_contacts_controller.rb
  spec/requests/case_contacts_spec.rb
Labels: ruby, Tests! 🎉💖👏
