Repository rubyforgood/casa, pull requests merged in 2025-05, with the labels that each got.

#6379 remove unused indexes from pghero
  .standard_todo.yml
  app/models/api_credential.rb
  app/models/banner.rb
  app/models/casa_admin.rb
  app/models/casa_case_emancipation_category.rb
  app/models/case_contact.rb
  app/models/case_group.rb
  app/models/case_group_membership.rb
  app/models/checklist_item.rb
  app/models/contact_topic.rb
  app/models/contact_topic_answer.rb
  app/models/contact_type_group.rb
  app/models/court_date.rb
  app/models/followup.rb
  app/models/hearing_type.rb
  app/models/judge.rb
  app/models/language.rb
  app/models/learning_hour.rb
  app/models/learning_hour_topic.rb
  app/models/learning_hour_type.rb
  app/models/login_activity.rb
  app/models/mileage_rate.rb
  app/models/note.rb
  app/models/patch_note.rb
  app/models/placement.rb
  app/models/placement_type.rb
  app/models/sent_email.rb
  app/models/supervisor.rb
  app/models/user.rb
  app/models/user_language.rb
  app/models/user_sms_notification_event.rb
  app/models/volunteer.rb
  db/migrate/20250507011754_remove_unused_indexes.rb
  db/schema.rb
Labels: ruby

#6350 [resolves 6298] Add Custom Admin-Defined Navbar Links
  .allow_skipping_tests
  app/controllers/casa_org_controller.rb
  app/controllers/custom_org_links_controller.rb
  app/models/casa_org.rb
  app/models/custom_org_link.rb
  app/policies/custom_org_link_policy.rb
  app/validators/url_validator.rb
  app/views/casa_org/_custom_org_links.html.erb
  app/views/casa_org/edit.html.erb
  app/views/custom_org_links/_form.html.erb
  app/views/custom_org_links/edit.html.erb
  app/views/custom_org_links/new.html.erb
  app/views/layouts/_sidebar.html.erb
  config/routes.rb
  db/migrate/20250404200715_create_custom_org_links.rb
  db/schema.rb
  spec/factories/custom_org_links.rb
  spec/models/casa_org_spec.rb
  spec/models/custom_org_link_spec.rb
  spec/policies/custom_org_link_policy_spec.rb
  spec/requests/custom_org_links_spec.rb
  spec/views/casa_orgs/edit.html.erb_spec.rb
  spec/views/layouts/sidebar.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏, erb

#6397 also upgrade from ruby 3.3.6 to 3.3.8
  .devcontainer/post-create.sh
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  flake.nix
Labels: dependencies

#6398 Rubocop config tune up
  .rubocop.yml
  spec/system/static/index_spec.rb
  spec/system/volunteers/index_spec.rb
  spec/views/all_casa_admins/patch_notes/index.html.erb_spec.rb
Labels: ruby, Tests! 🎉💖👏

#6405 Fix #6404: Trim whitespace from custom link text before saving
  app/models/custom_org_link.rb
  db/migrate/20250528092341_trim_whitespace_from_custom_org_links.rb
  db/schema.rb
Labels: ruby
